{% extends "base.html.twig" %}

{% block title %}L’adaptation animée{% endblock %}
{% block content %}
    <p>Parallèlement au manga, la série animée de «&#8239;Détective Conan&#8239;» se poursuit depuis plus de 15 ans sur le petit écran japonais. C’est, en effet, en 1996 qu’est diffusé le premier épisode de cet animé qui en compte à présent plus de 750 ! Voyons plus en détails ce qui a fait le succès de cette série.</p>
    <hr />

    <h4 id="beginnings">Les débuts</h4>
    <p>L’anime a débuté le 8 janvier 1996 sur la chaîne japonaise Yomiuri TV, soit environ deux ans après le début de la publication du manga. La série est diffusée tous les lundis soir à partir de 19 h 30, remplaçant ainsi l’animé «&#8239;Magic Knight Rayearth&#8239;», tiré d’un manga de Clamp. L’animation est produite par TMS («&#8239;Lupin the Third&#8239;», «&#8239;Devilman Lady&#8239;», etc.).</p>

    <p>Dans les premiers temps, les épisodes étaient le plus souvent diffusés en une seule partie contenant l’intrigue et sa résolution. Mais depuis 1997, les épisodes en deux, voire trois parties sont de plus en plus fréquents. Ces derniers suivent alors la même logique : le premier épisode est l’événement, le deuxième montre les doutes et le troisième expose la résolution.</p>

    <p>Le traitement des histoires en plusieurs parties permet de prolonger la série animée, sans que celle-ci ne rattrape l’histoire du manga dont la publication se poursuit parallèlement avec un temps d’avance. Mais quand cela n’est pas suffisant, la version animée fait appel à des épisodes entièrement inédits, qui ne s’inspirent donc pas de chapitres du manga.</p>
    <hr />

    <h4 id="changes">Les changements</h4>
    <p>Au fur et à mesure de la diffusion, nombreux ont été les remaniements de l’équipe de production.</p>

    <p>Si, au départ, la série utilise des celluloïds (la technique d’animation la plus employée à l’époque), le passage à une production 100 % digitale se fait en juillet 2002. Ceci apporte des couleurs plus vives et élimine certains défauts de l’animation (erreurs de mise en couleur, tressautement des objets animés, etc.). Mais le plus gros avantage réside dans les coûts de production allégés. Ce passage peut sembler tardif, car Tōei Animation utilise la production digitale depuis 1998. Autre signe de changement des temps : la série passe en haute définition en octobre 2003. Au Japon, les chaînes diffusant en HD sont de plus en plus nombreuses. On mesure alors le retard dans ce domaine dont est victime l’Europe, les chaînes HD étant encore rares.</p>

    <p>La longue durée de diffusion a entraîné de nombreux changements de générique. On compte ainsi actuellement 37 génériques de début et 46 génériques de fin !</p>
    <hr />

    <h4 id="successkey">La clé du succès</h4>
    <p>Le manga original bénéficie d’un prestige très positif au Japon, mais est-ce le seul élément capable d’expliquer le succès de la version animée de «&#8239;Détective Conan&#8239;» ?</p>

    <p>«&#8239;Conan&#8239;» est clairement une série familiale. Tandis que les plus jeunes peuvent s’identifier au héros et y voir une représentation du combat entre le bien et le mal, les adultes sont charmés par les capacités de déduction du héros et la mise en place des énigmes. On retrouve aussi dans l’animé le charme rétro des romans de Ranpo Edogawa qui restent dans le cœur des japonais des œuvres leur rappelant leur jeunesse.</p>

    <p>Mais l’animé fait également appel à des personnalités japonaises en tant que guest stars. Ainsi on retrouve, le temps d’un épisode, des acteurs ou des chanteurs interprétant un personnage secondaire. Dans les épisodes 81 et 82, par exemple, joue Shïna Tominaga. Celle-ci fait partie du duo de chanteuses Two-Mix avec Minami Takayami, qui est également la doubleuse du personnage de Conan !</p>
    <hr />

    <h4 id="taux_d_audience_de_la_serie">Taux d’audience de la série</h4>
    <p>Les taux d’audience sont une excellente mesure de la popularité d’un programme télévisé. Ils en disent long sur l’attirance ou le désintérêt des téléspectateurs japonais vis-à-vis des animés.</p>

    <p>Depuis 1996, le taux d’audience moyen de la série est de 14,4 %. C’est un excellent score. Seuls les animés implantés depuis longue date (comme «&#8239;Sazae-san&#8239;» diffusé depuis 1969 ou «&#8239;DORAemon&#8239;» depuis 1979) parviennent en général à de tels scores.</p>

    <p>Le meilleur score actuel a été enregistré pour l’épisode 137 avec 23,4 % de part de marché le 1<sup>er</sup> mars 1999.</p>

    <p>Le score le plus bas, 5,0 %, correspond à l’épisode 541 du 18 juillet 2009.</p>

    <p>En regardant de plus près, la moyenne des taux d’audience de chaque année, on remarque celle-ci a été en hausse constante de 1996 (17,5 %) à 1998 (19,6 %). Depuis, elle n’a cessé de décroître pour finalement stagner ces dernières années. En 2013, cette moyenne s’élève à 9,0 %.</p>
    <hr />

    <h4 id="staff">Le staff</h4>
    <p>La série est produite par Michihiko Suwa («&#8239;Rayearth&#8239;», «&#8239;Inu-Yasha&#8239;», «&#8239;Kindaichi Shōnen no Jikenbō&#8239;», etc.).</p>

    <p>Entre 1996 et 2004, le <em>character designer</em> sur l’animé de «&#8239;Détective Conan&#8239;» était Masatomo Sudō. Il a travaillé sur «&#8239;Hamtaro&#8239;» ou sur «&#8239;Ai shiteru ze Baby&#8239;».</p>

    <p>Bien qu’il ne travaille plus sur la série TV de «&#8239;Conan&#8239;», il continue d’occuper cette fonction sur les films qui en sont tirés.</p>

    <p>Depuis 2004, cette charge est confiée à une femme : Mari Tominaga. Bien qu’elle soit fréquemment créditée en tant qu’animatrice ou directrice de l’animation, elle a été <em>character designer</em> sur un petit nombre de séries («&#8239;Mahō no Princess Minky Momo&#8239;» (1991), «&#8239;Rumiko Theater&#8239;» (1993), «&#8239;Peto Peto-san&#8239;» (2008), etc.).</p>

    <p>Katsuo Ōno est le compositeur des musiques. Professionnel depuis les années 1970, en plus d’une carrière musicale réussie, il a composé pour quelques séries télévisées. Son travail sur l’animé de «&#8239;Détective Conan&#8239;» est presque une exception dans son parcours.</p>
    <hr />

    <h4 id="voices">Les doubleurs</h4>
    <p>Conan est doublé par Minami Takayama à qui on attribue des rôles de jeunes filles pleines d’énergie, de manipulatrices ou de rivales qui gardent leur sang-froid. Cette richesse est bien la preuve de son talent. Dans un registre similaire à ce lui de «&#8239;Conan&#8239;», on retiendra sa participation à «&#8239;Mister Ajikko&#8239;» (Le Petit Chef, 1987), à «&#8239;Tanoshii Moomin Ikka&#8239;» (Les Moomins, 1990) et à «&#8239;Gegege no Kitarō&#8239;» (2007). Cette actrice partageait la vie de Goshō Aoyama, le créateur de «&#8239;Conan&#8239;» jusqu’à ce que le couple divorce finalement en décembre 2007 pour des raisons personnelles.</p>

    <p>Wakana Yamazaki, malgré ses 42 ans, parvient toujours à camper à merveille les rôles de jeunes femmes, comme celui de Ran Mōri dans «&#8239;Détective Conan&#8239;». Elle a débuté le doublage en 1991. Parmi les rôles principaux qu’elle a tenus, il y a les animés de «&#8239;Himitsu no Akko-chan&#8239;» (1998) et de «&#8239;Fighting Beauty Wulong&#8239;» (2005). Dans cette dernière série, une étrange coïncidence veut que le nom de l’héroïne qu’elle y interprête, Mao Ran, ne se distingue du nom de Ran Mōri de «&#8239;Détective Conan&#8239;» que par un seul caractère japonais absent !</p>

    <p>Kogorō Mōri a été interprêté pendant une longue période par un vétéran du doublage : Akira Kamiya. En activité de 1970 à 2009, il a prêté sa voix à un nombre impressionnant de personnages masculins pour certains animés devenus cultes. Citons, par exemple, «&#8239;Kinnikuman&#8239;» (Muscleman), «&#8239;Hobutō no Ken&#8239;» (Ken le survivant), «&#8239;City Hunter&#8239;» ou encore «&#8239;Getter Robot&#8239;».</p>

    <p>Une durée très (trop ?) importante ainsi qu’une certaine agressivité ou une certaine innovation dans les séries concurrentes font que, ces derniers temps, l’audience de l’animé de «&#8239;Détective Conan&#8239;» baisse régulièrement. L’audimat moyen a été divisé par trois en moins de 10 ans. Sur quoi les producteurs comptent-ils pour redonner un second souffle à la série animée ?</p>

    <p><strong>Uchû Senshi Edomondo <a href="http://www.animemorial.net/" class="urlextern" title="http://www.animemorial.net/" rel="nofollow">http://www.animemorial.net/</a></strong></p>
{% endblock %}