{% extends "base.html.twig" %}

{% block title %}L’APTX 4869{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3 col-lg-2">
            <p class="float-start"><img class="img-fluid" src="{{ asset('img/page/aptx/APTX_4869.jpg') }}" alt="" /></p>
        </div>
        <div class="col-9 col-lg-6">
            <p>L’<strong>APTX 4869</strong>, nom de code “Détective Prototype” par les membres de l’Organisation, est une toxine inventée et dérivée d’une formule expérimentale à usage inconnu mise au point par <a href="{{ path('character_view', {'shortname': 'Shiho_Miyano'}) }}">Shiho Miyano</a>, utilisée par l’<a href="{{ path('org') }}">Organisation</a> en tant que poison mortel et indétectable. À l’heure actuelle, il existe un prototype d’antidote fabriqué par Shiho.</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="#description">Description</a></li>
                        <li class="list-group-item"><a href="#history">Histoire</a></li>
                        <li class="list-group-item"><a href="#antidote">Antidote</a></li>
                        <li class="list-group-item"><a href="#speculation">Spéculation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3 id="description">Description</h3>
    <p>APTX est l’abréviation d’“Apotoxine” et comme son nom l’indique, il entraîne l’activation de l’<a href="https://fr.wikipedia.org/wiki/Apoptose">apoptose</a>, le mécanisme par lequel les cellules meurent. L’APTX contient des ingrédients qui ont également d’autres fonctions. Il contient un composant qui active la <a href="https://fr.wikipedia.org/wiki/T%C3%A9lom%C3%A9rase">télomérase</a>, une enzyme qui permet d’amplifier la fonction de multiplication des cellules.</p>

    <p>En pratique, APTX 4869 agit le plus souvent comme un poison mortel. <a href="{{ path('character_view', {'shortname': 'Gin'}) }}">Gin</a> dit qu’il ne peut pas être détecté lors de son utilisation, indiquant probablement qu’il laisse peu de traces qu’un examen médico-légal pourrait révéler. Cependant, comme l’a dit <a href="{{ path('character_view', {'shortname': 'Ai_Haibara'}) }}">Ai Haibara</a>, un effet secondaire rare peut en réalité faire mourir les victimes. Quand elle parle de sa propre perte et de celle de Conan, elle dit que l’effet secondaire fait que tout, à l’exception du système nerveux, rajeunit, mais la personnalité et les souvenirs adulte restent intacts.</p>

    <p><a href="{{ path('character_view', {'shortname': 'Shinichi_Kudo'}) }}">Shin’ichi</a>, le protagoniste de la série, a été contraint par Gin et Vodka à prendre le poison avec pour intention de le tuer silencieusement car la police était dans les parages, dans l’<a href="{{ path('manga_case_view', {'number': 1}) }}">affaire 1</a>. Plus tard, Shiho Miyano devait être exécutée pour être devenue inutile après que Gin et Vodka ont tué sa sœur <a href="{{ path('character_view', {'shortname': 'Akemi_Miyano'}) }}">Akemi</a>. Au lieu de se laisser assassiner, Shiho prit son propre poison dans l’intention de se suicider. Cependant, son corps est retourné à l’état d’enfant comme celui de Shin’ichi.</p>
    <hr />

    <h3 id="history">Histoire</h3>
    <p><a href="{{ path('character_view', {'shortname': 'Atsushi_Miyano'}) }}">Atsushi Miyano</a> et <a href="{{ path('character_view', {'shortname': 'Elena_Miyano'}) }}">Elena Miyano</a> ont rejoint l’Organisation en tant que chercheurs trente ans avant l’époque actuelle, et ont commencé à développer l’APTX 4869. Vermouth a peut-être sous-entendu qu’il existait un projet antérieur que les Miyano ont repris, peut-être que celui mentionné par Shiho a au moins 50 ans. Quoi qu’il en soit, le couple a travaillé sur l’APTX 4869 jusqu’à ce qu’ils meurent prématurément dans un incendie au laboratoire qui a détruit une bonne partie de leurs recherches, laissant leur fille Shiho Miyano derrière et le projet dans un état inachevé. La version de l’APTX 4869 des parents Miyano a été utilisée pour tuer au moins une personne, <a href="{{ path('character_view', {'shortname': 'Koji_Haneda'}) }}">Kōji Haneda</a>, qui a été assassiné il y a 17 ans et figure sur la liste des victimes de l’APTX de Shiho.</p>

    <p>Shiho a ensuite été formée pour reprendre leur projet de recherche APTX 4869. Elle a fait ses études outre-mer aux États-Unis, avant de rentrer au Japon à l’âge de 13 ans. Shiho a avancé le médicament au point où elle a vu au moins une de ses souris de laboratoire rajeunir. Elle a également reçu l’ordre de tester la version la plus récente et encore incomplète de l’APTX 4869 sur <a href="{{ path('character_view', {'shortname': 'Kiichiro_Numabuchi'}) }}">Ki’ichiro Numabuchi</a>, un assassin voué à l’échec. Shiho a reçu les données à son sujet, mais il a réussi à s’échapper des mains de l’Organisation avant qu’elle ne puisse le tester sur lui. Le médicament était encore considéré comme incomplet au moment de son utilisation sur Shin’ichi Kudō, mais Pisco a sous-entendu que Shiho l’avait considérablement amélioré depuis le temps de ses parents. Shiho a boycotté son travail, quand elle n’a pu obtenir aucune réponse quant à la mort de sa sœur. Pour décider de sa propre mort, elle décida d’utiliser le poison et finit par rétrécir, ce qui lui permis de s’échapper. On ignore si l’Organisation a trouvé de nouveaux chercheurs pour continuer à travailler sur le projet d’APTX 4869 après la désertion de Shiho.</p>

    <p>Au cours du développement de l’APTX, l’Organisation a décidé d’utiliser la forme incomplète comme poison pour des assassinats discrets, car il peut tuer la victime sans laisser de traces.</p>
    <hr />

    <h3 id="antidote">Antidote</h3>
    {% include 'helper/alert.html.twig' with { message: 'En attendant que cette section soit complétée, tu peux [lire cet article référence en anglais](https://www.detectiveconanworld.com/wiki/Prototype_antidote).', type: 'primary' } only %}
    <p>Au cours de la série, il y a eu plusieurs moments où les effets de l’APTX ont été temporairement neutralisés et où Shin’ichi et Shiho ont été ramenés à leur forme adulte. L’ingrédient principal de cet antidote est un composant contenu dans le <a href="https://fr.wikipedia.org/wiki/Baijiu">baijiu</a>, qu’Haibara a déjà incorporé dans un prototype d’antidote d’APTX.</p>

    <p>Il est à noter que dans les cas où Shin’ichi ou Shiho ont retrouvé leur taille d’origine avec succès, le destinataire souffrait d’un rhume au moment d’ingérer le composant, suggérant que le système immunitaire doit être sollicité pour que l’antidote fonctionne. La seule exception canon était le retour de Shin’ichi dans l’<a href="{{ path('manga_case_view', {'number': 217}) }}">arc de Londres</a>. <a href="{{ path('movie_view', {'number': 7}) }}">Croisement dans l’ancienne capitale</a>, bien que n’étant pas canon, utilise cette idée, car on lui donne une pilule pour lui donner les symptômes d’un rhume, tout en buvant du baijiu.</p>

    <p>Conan et Haibara ont brièvement retrouvé leur âge réel en prenant un gâteau au rhum (censé contenir entre autres choses du baijiu) dans le téléfilm <a href="{{ path('drama_special_view', {'number': 2}) }}">Le retour de Shin’ichi Kudō ! Confrontation avec l’Organisation</a>.</p>
    <hr />

    <h3 id="speculation">Spéculation</h3>
    <h4>Intention originale</h4>
    <p>Au début, Gin a révélé que l’APTX 4869 était un poison pour tuer des gens qui en savent trop sur l’Organisation. Shiho Miyano a déclaré qu’elle n’avait pas l’intention de créer un poison, ce qui suggère que l’APTX 4869 a été développé à l’origine avec un objectif différent. C’est probablement un effet secondaire utile que le prototype actuel tue sans laisser de traces dans le corps de la victime, et qu’il soit donc utilisé comme un poison, usage détesté par Haibara. En outre, l’APTX 4869 est surnommé « détective prototype » par l’Organisation, ce qui signifie que son véritable objectif n’a pas encore été atteint.</p>

    <h5>Immortalité/Anti-vieillissement</h5>
    <p>L’une des possibilités est que l’APTX 4869 ait pour objectif de mettre au point un traitement qui provoquerait l’immortalité, retarderait ou inverserait les effets du vieillissement ou prolongerait la durée de vie d’un être humain. L’effet de rajeunissement qui s’est produit lorsque Shin’ichi et Haibara ont pris l’APTX 4869 révèle probablement l’intention principale du développement du médicament. Après avoir vu Haibara retrouver sa forme d’enfant, <a href="{{ path('character_view', {'shortname': 'Kenzo_Masuyama'}) }}">Pisco</a> a déclaré avoir été impressionné par le fait que la drogue ait été développée jusqu’à ce point, ce qui laisse supposer que le rajeunissement est le réel objectif. Haibara appuie ces propos ainsi : « Kudō ? Même dans tes pires cauchemars, tu n’imagines certainement pas que tu es déjà impliqué dans le projet que notre Organisation a élaboré depuis plus d’un demi-siècle en secret. ». L’APTX 4869 est le seul lien connu entre Shin’ichi et l’Organisation, ce qui signifie que le vieillissement de Shin’ichi le rendait pertinent pour le projet de l’Organisation.</p>

    <p>Selon la description de l’APTX 4869 par Haibara, ce dernier active la télomérase, une enzyme qui peut augmenter le nombre de fois qu’une cellule peut se diviser, et donc affecter sa durée de vie et son « potentiel de reproduction ». Le but de ceci pourrait être de ramener toutes les cellules non neurales à un état « jeune » et à fort potentiel de reproduction. La jeunesse artificielle de <a href="{{ path('character_view', {'shortname': 'Vermouth'}) }}">Vermouth</a> est un autre indicateur du fait que l’Organisation pourrait être impliquée dans des recherches visant à prolonger la durée de vie, à arrêter le vieillissement ou à rajeunir le corps.</p>

    <p>L’objectif des antagonistes de Magic Kaito est de poursuivre l’immortalité, via la gemme Pandora, mais l’objectif de l’Organisation, confirmé dans une interview avec Gōshō Aoyama, <ins>n’est pas</ins> l’immortalité.</p>

    <h5>Réssurection des morts</h5>
    <p>Le but initial de l’APTX 4869 pourrait être de ressusciter les morts. Une fois, lorsque Conan a demandé directement à Haibara ce qu’était censé faire l’APTX 4869, elle a répondu : « Si je te disais que ce sont des médicaments secrets pour ressusciter les morts, ça te conviendrait ? ». Le contexte de la remarque ne permet toutefois pas de savoir si elle bluffait pour inciter Conan à révéler qu’il avait enquêté sur l’Organisation dans son dos, ou si elle faisait une déclaration sérieuse sur l’objectif du médicament.</p>

    <h4>« Silver Bullet » et « APTX 4869 » sont deux noms désignant le même projet</h4>
    {% include 'helper/alert.html.twig' with { message: 'En attendant que cette section soit complétée, tu peux [lire cet article référence en anglais](https://www.detectiveconanworld.com/wiki/Silver_Bullet_(drug)).', type: 'primary' } only %}
    <hr />

    <p class="text-muted">Cet article est une traduction adaptée de la version du 24 août 2019 de la page équivalente de <a href="https://www.detectiveconanworld.com/wiki/APTX_4869">Detective Conan World</a>.</p>
{% endblock %}