{% extends "base.html.twig" %}

{% block title %}Gōshō Aoyama{% endblock %}
{% block content %}
    <h3 id="biographie">Biographie</h3>

    <p><strong>Gōshō Aoyama</strong>, Yoshimasa de son vrai prénom, est né en 1963. Ayant suivi des études d’art, il s’oriente vers le manga et commence à se faire connaître en gagnant un concours de jeunes talents.</p>

    <p>Après avoir dessiné quelques séries («&#8239;Magic Kaitō&#8239;», «&#8239;Yaiba&#8239;», etc.), il se lance dans la publication du manga «&#8239;Détective Conan&#8239;». Le succès de la série lui vaudra une adaptation animée dès 1996. Comme «&#8239;Yaiba&#8239;», ce manga gagne également le Shōgakukan Manga Awards.</p>

    <p>Le manga va connaître rapidement une déferlante de succès. La ville d’Hokuei, située dans la préfecture de Tottori d’où est originaire Aoyama, est considérée comme le village natal de Conan. Elle a d’ailleurs rendu un brillant hommage au petit détective. En effet, de nombreuses sculptures de bronze à l’effigie des personnages du manga ornent certains lieux de la ville. Un pont portant même le nom de la série est repérable grâce à une plaque commémorative !</p>

    <p>Dès 2003, «&#8239;Détective Conan&#8239;» a dépassé le milliard de mangas écoulés au Japon, mais la vague de succès ne se limite pas à l’archipel car ce titre est publié un peu partout dans le monde, notamment aux USA sous le titre de «&#8239;Case Closed&#8239;» (Affaire Classée).</p>

    <p>En 2005, Aoyama se marie avec la comédienne de doublage Minami Takayama. Elle interprète le personnage de Yaiba dans l’animé tiré du manga ainsi que celui de Conan ! C’est d’ailleurs à cette occasion que la doubleuse et le mangaka se sont recontrés.</p>

    <p>Elle reste par ailleurs fortement attachée au petit détective comme en témoigne cette anecdote. Lors de leur mariage, les assistants d’Aoyama ont offert au jeune couple un magnifique chat de race : un bleu russe. L’animal a été appelé Kaitō (en hommage au héros de «&#8239;Magic Kaitō&#8239;») car Takayama a, dit-on, refusé qu’on lui donne le nom de Conan sous le prétexte suivant : «&#8239;Conan, c’est moi !&#8239;». Aoyama met d’ailleurs en scène un chat de cette race dans le tome 51 de «&#8239;Détective Conan&#8239;».</p>

    <p>Dans sa carrière, Aoyama a jusqu’à présent multiplié les tomes de quelques séries de mangas. Malgré cela, les personnages qu’il créé continuent d’évoluer. Ainsi, Kaitō Kid, le héros de «&#8239;Magic Kaitō&#8239;», apparaît-il dans plusieurs tomes de «&#8239;Détective Conan&#8239;». Un épisode animé spécial mettant en scène Conan, Kaitō et Yaiba a même été produit en 2001 !</p>

    <p>Début 2015, il est hospitalisé quelques mois retardant la publication de la série Détective Conan de quelques mois. La publication reprend en juillet 2015.</p>

    <p>Même si certains fans se plaignent que le mystère entourant l’Organisation Noire et la résolution du problème de Conan n’avancent pas vite, on murmure que, déjà, le chapitre final serait écrit dans les moindres détails… dans la tête de Gōshō Aoyama !</p>

    <p>Que le public prenne donc son mal en patience car, alors que le manga compte déjà 87 tomes au Japon et que l’<em>anime</em> totalise plus de 750 épisodes, un vingtième long métrage d’animation est prévu pour avril 2016 au Japon ! Décidément, Conan connaît un succès qui n’est pas prêt de s’éteindre…</p>
    <hr />

    <h3 id="work">Ses œuvres</h3>
    <h5><em>Chotto Mattete («&#8239;Attends un peu !&#8239;»)</em> (1987)</h5>
    <p>C’est le premier manga d’Aoyama. Il a été publié dans le Shōnen Sunday. L’histoire raconte qu’un jeune garçon, génie, nommé Yutaka Takai, invente une machine à remonter le temps pour revenir dans le passé et ainsi, ne plus être le sujet de moquerie de ses aînés parce qu’il sort avec une fille de deux ans plus âgée que lui…</p>

    <h5><em>Yaiba</em> (1988 - 1993)</h5>
    <p>C’est un manga publié en 24 tomes racontant les aventures d’un jeune samouraï, Yaiba Kurogane. La série a été plus tard adaptée en un anime de 51 épisodes.</p>

    <h5><em>Yonban Sādo</em> (1993)</h5>
    <p>C’est un manga en un tome qui raconte l’histoire d’un garçon, Shigeo Nagashima, joueur de base-ball médiocre dans son équipe au lycée. Un jour, il achète une batte magique dans un magasin de marchandises de sport qui lui permet de battre chaque terrain. Pourtant, il doit payer au magasin mystérieux pour chaque terrain qu’il bat…</p>

    <h5><em>Magic Kaitō</em> (1988 - 2007)</h5>
    <p>C’est un manga en quatre tomes qui raconte les aventures comiques de Kaitō Kid, un gentleman voleur qui utilise souvent ses adresses dans la magie et le déguisement dans chaque vol qu’il commet. Les trois premiers tomes du manga sont à l’origine sortis entre 1988 et 1994 ; le quatrième tome est sorti en février 2007. Bien que le manga soit quelque peu laissé de côté à l’exception de quelques chapitres sortis en août 2011 et octobre 2014, Kaitō Kid apparaît toujours régulièrement dans Détective Conan, un autre manga d’Aoyama.</p>

    <h5><em>Gōshō Aoyama’s Collection of Short Stories</em> (1988 - 2007)</h5>

    <p>Ce sont des nouvelles variées qu’il a écrit au cours des années.</p>

    <h5><em>Détective Conan</em> (1994 - Aujourd’hui)</h5>

    <p>C’est un manga toujours en cours qui raconte l’histoire d’un détective lycéen doué qui un jour retrouve le corps d’un jeune garçon par la faute d’hommes mystérieux. En essayant de retrouver ces hommes, il rencontre souvent des mystères compliqués, dont la plupart lui seul peut résoudre. Cette série est la création la plus célèbre d’Aoyama.</p>

    <h5><em>Tell Me A Lie</em> (2007)</h5>
    <p>Ce manga est un <em>one shot</em> (publié en une seule fois). Il raconte l’histoire d’une fille, Terumi Arai, qui peut lire dans les esprits des gens quand elle les regarde dans les yeux.</p>

    <h5><em>L’affaire de meurtre des AKB48</em> (2012)</h5>
    <p>Il s’agit d’une série policière en 9 chapitres basée sur des publicités du groupe AKB48. Gōshō Aoyama est scénariste tandis que Gotō Masaki est dessinateur.</p>
{% endblock %}