{% extends "base.html.twig" %}

{% block title %}Journal des changements{% endblock %}
{% block content %}
    <ul class="list-inline">
        <li class="list-inline-item"><strong>Légende&#8239;:</strong></li>
        <li class="list-inline-item"><ul class="legend"><li class="feature">Nouveauté</li></ul></li>
        <li class="list-inline-item"><ul class="legend"><li class="improved">Modification</li></ul></li>
        <li class="list-inline-item"><ul class="legend"><li class="fix">Correctif</li></ul></li>
        <li class="list-inline-item"><ul class="legend"><li class="content">Contenu</li></ul></li>
    </ul>
    {% for changeDate, changelogs in changes %}
        <hr />

        <h4>{{ changeDate|format_date('long') }}</h4>
        <ul class="legend">
            {% for changelog in changelogs %}
                <li class="{{ changelog.type }}">{{ changelog.description }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
