{% extends "base.html.twig" %}

{% block title %}Accord de licence de contributeur{% endblock %}
{% block content %}
    <p><em>Version actuelle de ce document&#8239;: {{ latest_cla }}</em></p>

    <p>Cette page a été écrite pour clarifier avec toi le statut de tes contributions sur Black Org.</p>
    <hr />
    <h3 id="submissions_license">Licence de tes suggestions</h3>
    <p>Black Org dispose d’un système de suggestion auquel n’importe qui a accès, pour proposer des ajouts ou modifications au site.</p>

    <h4>Comment cela fonctionne-t-il&#8239;?</h4>
    <ul>
        <li>N’importe quel visiteur peut enrichir le contenu de Black Org, le modifier, le corriger, dans la limite de ce qui est proposé par les fonctionnalités du site.</li>
        <li>Tes modifications ne s’afficheront pas instantanément car la politique de Black Org est de vérifier les informations avant de les publier sur le site et les rendre accessibles à tous (c’est pour cela qu’il est vivement encouragé de citer tes sources dans le cadre prévu à cet effet).</li>
        <li>La mise en forme du site n’est pas modifiable, seul le contenu (le texte) l’est. Dans certains cas, un encart prévoit la possibilité d’ajouter de la mise en forme à du texte dans une certaine mesure, suivant les possibilités proposées par la syntaxe Markdown.</li>
    </ul>

    <h4>Licence du contenu</h4>
    <ul>
        <li>Tu acceptes que tes modifications sont non-nominatives, et attribuées au site Black Org.</li>
        <li>Tu acceptes que tes modifications (comme celles des autres contributeurs) soit sous <a href="https://creativecommons.org/licenses/by-sa/4.0/">licence Creative Commons CC BY-SA 4.0</a>.</li>
        <li>Cette licence te permet également de réutiliser ce contenu sur ton site selon certaines conditions. Le nom à citer dans tes utilisations est Black Org, et dans la mesure du possible, ajouter un lien menant vers black-org.fr.</li>
        <li>Black Org utilise des contenus sous licence compatible dont le détail peut être consulté dans la <a href="{{ path('faq') }}#sources">foire aux questions</a>.</li>
    </ul>
{% endblock %}