{% extends "base.html.twig" %}

{% block title %}Contributions{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <p>Tu peux aider à enrichir le contenu de Black Org, même sans connaissances particulières sur la série&#8239;! Si tu parles anglais, tu pourras même nous aider à traduire certaines informations d’autres sites web.</p>

            <p>Pense à lire l’<a href="{{ path('cla') }}">accord de licence de contributeur</a>, et notre <a href="{{ path('privacy') }}">politique de confidentialité</a>, que tu devras accepter pour contribuer au site.</p>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    <ul>
                        <li><a href="#general">Considérations générales</a></li>
                        <li><a href="#cases">Affaires / Films / Épisodes spéciaux / Drama</a> ({{ cases|length }})</li>
                        <li><a href="#chapters">Chapitres</a> ({{ chapters|length }})</li>
                        <li><a href="#characters">Personnages</a></li>
                        <li><a href="#episodes">Épisodes</a>
                            <ul>
                                <li><a href="#dvds">Ajouter les DVD manquants</a></li>
                                <li><a href="#next_conan_hint">Traduire les indices (Next Conan’s Hint)</a></li>
                            </ul>
                        </li>
                        <li><a href="#tracks">Musiques</a>
                            <ul>
                                <li><a href="#tracks_translation">Traduire les titres des OST de la série et des films</a></li>
                            </ul>
                        </li>
                        <li><a href="#situations">Situations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3 id="general">Considérations générales</h3>
    <p>Lorsque tu auras suggéré une modification, celle-ci ne sera pas visible directement, ni sur le site, ni sur cette page de contributions. Autrement dit, si tu complètes un champ, celui sera toujours marqué comme « incomplet » sur cette page.</p>
    <p>Tu peux faire plusieurs suggestions en attendant que les précédentes sont validées. Les seules exceptions sont les entités interdépendantes. Exemple : pour ajouter un épisode hors série, tu auras besoin au préalable de créer l’affaire hors série de cet épisode. Tant que l’affaire n’est pas validée, tu ne pourras pas créer l’épisode correspondant.</p>
    <hr />

    <h3 id="cases">Affaires / Films / Épisodes spéciaux / Drama ({{ cases|length }})</h3>
    <ul>
        <li>Le <strong>résumé</strong> peut être complété par toi-même ou depuis une source fiable.</li>
        <li>Les <strong>personnages</strong> peuvent être retrouvés depuis le lien dans la colonne Source. Attention de ne pas inclure les personnages qui n’apparaissent pas réellement, tels que les « background », « cameo », etc. La source se base sur l’anime, tandis que Black Org se base sur l’affaire du point de vue du manga, il y aura donc potentiellement des ajustements à faire.</li>
        <li>Les <strong>gadgets</strong> peuvent être retrouvés à partir du même procédé que les personnages. Ce n’est pas parce qu’il n’y a aucun gadget dans l’affaire que cela est une erreur, il arrive parfois qu’aucun gadget n’apparaisse dans l’affaire.</li>
    </ul>
    <div class="table-responsive table-contributing">
        <table class="table">
            <thead>
                <tr class="text-center align-items-center">
                    <th rowspan="2">Affaire / Film / Épisode spécial / Drama</th>
                    <th colspan="3">Champs manquants</th>
                    <th rowspan="2">Source</th>
                    {#<th rowspan="2">Suggestions<br />en attente</th>#}
                </tr>
                <tr class="text-center align-items-center">
                    <th>Résumé</th>
                    <th>Personnages</th>
                    <th>Gadgets</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                    <tr>
                        <td><a href="{{ get_case_path(case) }}"><i class="far fa-eye"></i></a> <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}">{{ case }}</a></td>
                        <td class="text-center table-{% if case.summary %}success{% else %}danger{% endif %}"><i class="fas fa-{% if case.summary %}check{% else %}times{% endif %}"></i></td>
                        <td class="text-center table-{% if case.characters|length %}success{% else %}danger{% endif %}">{{ case.characters|length }}</td>
                        <td class="text-center table-{% if case.gadgets|length %}success{% else %}warning" data-bs-toggle="tooltip" title="Aucun gadget dans cette affaire. Cela n’est pas forcément une erreur.{% endif %}">{{ case.gadgets|length }}</td>
                        <td>
                            {% if case.episodes|length %}
                                <a href="https://www.detectiveconanworld.com/wiki/Episode_{{ case.episodes[0].number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Episode_{{ case.episodes[0].number }}</a>
                            {% elseif case.type == 'movie' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Movie_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Movie_{{ case.number }}</a>
                            {% elseif case.type == 'movie_special' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Movies#Movie_Specials" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Movies#Movie_Specials</a>
                            {% elseif case.type == 'ova' %}
                                <a href="https://www.detectiveconanworld.com/wiki/OVA_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/OVA_{{ case.number }}</a>
                            {% elseif case.type == 'magic_file' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Magic_File_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Magic_File_{{ case.number }}</a>
                            {% elseif case.type == 'dc_special' %}
                                <a href="https://www.detectiveconanworld.com/wiki/TV_Specials#Detective_Conan" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/TV_Specials#Detective_Conan</a>
                            {% elseif case.type == 'mk1412' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Magic_Kaito_1412_Episode_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Magic_Kaito_1412_Episode_{{ case.number }}</a>
                            {% elseif case.type == 'mk_special' %}
                                <a href="https://www.detectiveconanworld.com/wiki/TV_Specials#Magic_Kaito" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/TV_Specials#Magic_Kaito</a>
                            {% elseif case.type == 'drama_special' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Drama_Special_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Drama_Special_{{ case.number }}</a>
                            {% elseif case.type == 'drama_episode' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Drama_Episode_{{ case.number }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Drama_Episode_{{ case.number }}</a>
                            {% elseif case.type == 'wps' %}
                                <a href="https://www.detectiveconanworld.com/wiki/Wild_Police_Story_Volume_1-2" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Wild_Police_Story_Volume_1-2</a>
                            {% elseif case.type == 'manga' %} {# If it's not a filler and we didn't find any episode earlier, it means it hasn't been aired yet #}
                                <a href="https://www.detectiveconanworld.com/wiki/Chapters_not_yet_scheduled_to_animate" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Chapters_not_yet_scheduled_to_animate</a>
                            {% endif %}
                        </td>
                        {#<td>TODO</td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h3 id="chapters">Chapitres ({{ chapters|length }})</h3>
    <ul>
        <li>Le <strong>titre japonais (rōmaji)</strong> peut être trouvé depuis le lien dans la colonne Source. Par exemple, pour le chapitre 001 on a la ligne «&#8239;File 001: The Heisei Holmes (平成のホームズ <em>Heisei no hōmuzu</em><sup>?</sup>)&#8239;», le titre japonais en rōmaji est <em>Heisei no hōmuzu</em>.</li>
        <li>Le <strong>titre japonais (kanji avec furigana)</strong> requiert des connaissances en syllabaires japonais, et peut être partiellement trouvé depuis le lien dans la colonne Source. Par exemple, pour le chapitre 001 on a la ligne «&#8239;File 001: The Heisei Holmes (平成のホームズ <em>Heisei no hōmuzu</em><sup>?</sup>)&#8239;», le titre japonais en kanji est 平成のホームズ.<br />À partir de ce titre en kanji, nous allons ajouter les furigana au-dessus des kanji. Par exemple, pour le kanji 平, nous voulons ajouter へい au-dessus, pour cela, nous devons écrire la syntaxe suivante [平]^(へい) pour afficher {{ '[平]^(へい)'|rubify }}.<br />Nous allons donc remplacer 平成のホームズ par la syntaxe suivante : [平]^(へい)成のホームズ, ce qui donnera une fois formaté : {{ '[平]^(へい)成のホームズ'|rubify }}.<br />Il faut continuer à remplacer les autres kanjis pour donner ceci : [平]^(へい)[成]^(せい)のホームズ qui deviendra {{ '[平]^(へい)[成]^(せい)のホームズ'|rubify }}</li>
    </ul>

    <div class="table-responsive table-contributing">
        <table class="table">
            <thead>
            <tr class="text-center align-items-center">
                <th rowspan="2">Chapitre</th>
                <th colspan="2">Champs manquants</th>
                <th rowspan="2">Source</th>
                {#<th rowspan="2">Suggestions<br />en attente</th>#}
            </tr>
            <tr class="text-center align-items-center">
                <th>Titre rōmaji</th>
                <th>Titre kanji</th>
            </tr>
            </thead>
            <tbody>
            {% for chapter in chapters %}
                <tr>
                    <td><a href="{{ get_chapter_path(chapter) }}"><i class="far fa-eye"></i></a> <a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': chapter.id}) }}">{{ chapter }}</a></td>
                    <td class="text-center table-{% if chapter.titleJpRomaji %}success{% else %}danger{% endif %}"><i class="fas fa-{% if chapter.titleJpRomaji %}check{% else %}times{% endif %}"></i></td>
                    <td class="text-center table-{% if chapter.titleJpKanji %}success{% else %}danger{% endif %}"><i class="fas fa-{% if chapter.titleJpKanji %}check{% else %}times{% endif %}"></i></td>
                    <td>
                        {% if chapter.volume is null %}
                            <a href="https://www.detectiveconanworld.com/wiki/Manga#Chapters_not_yet_published_in_volume_format" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Manga#Chapters_not_yet_published_in_volume_format</a>
                        {% elseif chapter.volume.type == 'original' %}
                            <a href="https://www.detectiveconanworld.com/wiki/Volume_{{ (chapter.volume.number - 1)|round(-1, 'floor') + 1 }}-{{ chapter.volume.number|round(-1, 'ceil') }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Volume_{{ (chapter.volume.number - 1)|round(-1, 'floor') + 1 }}-{{ chapter.volume.number|round(-1, 'ceil') }}</a>
                        {% elseif chapter.volume.type == 'tokubetsu' %}
                            <a href="https://www.detectiveconanworld.com/wiki/Special_Volume_{{ (chapter.volume.number - 1)|round(-1, 'floor') + 1 }}-{{ chapter.volume.number|round(-1, 'ceil') }}" rel="nofollow, noreferrer">https://www.detectiveconanworld.com/wiki/Special_Volume_{{ (chapter.volume.number - 1)|round(-1, 'floor') + 1 }}-{{ chapter.volume.number|round(-1, 'ceil') }}</a>
                        {% endif %}
                    </td>
                    {#<td>TODO</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h3 id="characters">Personnages</h3>
    <ul>
        <li>Occupation</li>
        <li>Voix japonaise</li>
        <li>&lt;à compléter&gt;</li>
    </ul>
    <p>À venir.</p>
    <hr />

    <h3 id="episodes">Épisodes</h3>
    <ul>
        <li>Titre japonais (kanji avec furigana)</li>
        <li>Audience</li>
        <li>DVD : créer si non existant</li>
        <li>Résumé</li>
        <li>Next Conan’s Hint</li>
    </ul>
    <p>Épisodes impactés à venir.</p>

    <h4 id="dvds">Ajouter les DVD manquants.</h4>
    <p>Se baser sur Conan Aga Search (pas besoin de parler japonais, c’est intuitif) sur <a href="https://conan.aga-search.com/dvd/">https://conan.aga-search.com/dvd/</a>. Ajouter ensuite les DVD qui n’existent pas. Ne pas ajouter la correspondance avec les épisodes pour l’instant.</p>

    <h4 id="next_conan_hint">Traduire les indices (Next Conan’s Hint)</h4>
    <p>Traduction des épisodes où l’indice n’est pas renseigné (209, 405, 433 et 788) de l’anglais vers le français</p>
    <ul>
        <li>Aller sur la <a href="{{ path('episodes') }}">page des épisodes</a> de Black Org.</li>
        <li>Cliquer sur l’icône du crayon en face des épisodes où l’indice est manquant (liste ci-dessus). Pour l’épisode 209, il s’agit de <a href="{{ path('admin_submission_edit', {'section': 'episodes', 'id': 209}) }}">ce lien</a>.</li>
        <li>Aller sur <a href="https://www.detectiveconanworld.com/wiki/Anime">https://www.detectiveconanworld.com/wiki/Anime</a>.</li>
        <li>Relever la colonne Next Conan’s Hint de l’épisode qui suit celui sur lequel tu travailles (pour l’épisode 209, regarde dans la colonne du 210).</li>
        <li>Traduire et compléter le champ «&#8239;Next Conan’s Hint&#8239;» sur Black Org et envoyer.</li>
        <li>Tes modifications ne seront pas prises en compte immédiatement, un administrateur vérifiera l’exactitude de tes informations avant.</li>
    </ul>
    <hr />

    <h3 id="tracks">Musiques</h3>
    <p>Ajouter les pistes des OST de la série et des films</p>
    <p>Ajouter des liens YouTube si possible.</p>
    <p>Se baser sur Detective Conan World sur <a href="https://www.detectiveconanworld.com/wiki/Music">https://www.detectiveconanworld.com/wiki/Music</a>. Ajouter ensuite les musiques qui n’existent pas dans les albums correspondants.</p>

    <h4 id="tracks_translation">Traduire les titres des OST de la série et des films</h4>
    <p>Si les musiques n’ont pas été ajoutées, se baser sur Detective Conan World sur <a href="https://www.detectiveconanworld.com/wiki/Music">https://www.detectiveconanworld.com/wiki/Music</a>. Sinon modifier directement les musiques pour lesquelles il manque le titre en français.</p>
    <hr />

    <h3 id="situations">Situations</h3>
    <p>À venir.</p>
    <hr />
{% endblock %}
