{% extends "base.html.twig" %}

{% block title %}Foire Aux Questions{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
        <div class="card-body">
            <ul>
                <li><a href="#blackorg">Présentation de Black Org</a>
                    <ul>
                        <li><a href="#blackorg_what">Qu’est-ce que Black Org&#8239;?</a></li>
                        <li><a href="#blackorg_operating">Comment fonctionne Black Org&#8239;?</a></li>
                        <li><a href="#blackorg_financial">Puis-je te soutenir financièrement&#8239;?</a></li>
                    </ul>
                </li>
                <li><a href="#histoire">Histoire de Black Org</a></li>
                <li><a href="#general">Questions générales</a>
                    <ul>
                        <li><a href="#general_telecharger">Où puis-je me procurer les tomes/chapitres/épisodes de la série en français&#8239;?</a></li>
                        <li><a href="#general_hepburn">Pourquoi écrire «&nbsp;Shin’ichi&nbsp;» ou «&nbsp;Mōri&nbsp;» plutôt que «&nbsp;Shinichi&nbsp;» ou «&nbsp;Mouri&nbsp;»&#8239;?</a></li>
                        <li><a href="#general_fans">Où puis-je échanger avec des fans&#8239;? Quels forums ou salons de discussion me conseilles-tu&#8239;?</a></li>
                        <li><a href="#general_outdated">Black Org n’est pas à jour / Ça fait une semaine que l’épisode XXX a été annoncé au Japon. Pourquoi n’est-il toujours pas dans les actualités/sur la page des épisodes&#8239;?</a></li>
                    </ul>
                </li>
                <li><a href="#contributing">Contribuer au site</a></li>
                <li><a href="#sources">Sources du site</a>
                    <ul>
                        <li><a href="#sources_plot">L’intrigue</a></li>
                        <li><a href="#sources_cases">Les affaires</a></li>
                        <li><a href="#sources_episodes">Les épisodes</a></li>
                        <li><a href="#sources_chapters">Les chapitres</a></li>
                    </ul>
                </li>
                <li><a href="#dev">Problèmes techniques</a>
                    <ul>
                        <li><a href="#dev_mobile">Le site ne s’affiche pas bien sur téléphone mobile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr />

    <h3 id="blackorg">Présentation de Black Org</h3>

    <h4 id="blackorg_what">Qu’est-ce que Black Org&#8239;?</h4>

    <p>Black Org est une encyclopédie collaborative massivement multi-auteur sur l’univers de Détective Conan. Tu peux y retrouver toutes les informations principales et la plupart du temps détaillées. Quelques dossiers et analyses sont également disponibles pour approfondir tes connaissances.</p>

    <p>Ce site cherche à simplifier l’accès à l’information sur l’univers du petit détective en étant le plus complet possible. La série étant toujours en cours de publication et représentant une masse de travail importante, Black Org doit souvent être mis à jour et enrichi. Par conséquent, si tu aimes notre initiative et que tu as du temps libre, nous apprécierons toute contribution. Voici une <a href="{{ path('contributing') }}">liste de tâches</a> accessibles à tout niveau pour commencer.</p>

    <h4 id="blackorg_operating">Comment fonctionne Black Org&#8239;?</h4>

    <p>Black Org est hébergé sur un serveur dédié partagé entre plusieurs sites web, gracieusement offert par votre webmaster.</p>

    <p>Le développement de ce site web et ses nouvelles fonctionnalités sont également réalisés gratuitement par votre webmaster. La majorité du contenu a été fait ou traduit par votre webmaster.</p>

    <h4 id="blackorg_financial">Puis-je te soutenir financièrement&#8239;?</h4>

    <p>Black Org n’accepte pas de dons financiers, cependant le meilleur moyen d’aider Black Org est de <a href="{{ path('contributing') }}">contribuer au contenu</a>. Ainsi, les efforts de votre webmaster peuvent se concentrer sur le développement du site web.</p>
    <p>Enfin, si tu as vraiment de l’argent en trop, donne-le plutôt à une association qui te tient à cœur.</p>
    <hr />

    <h3 id="histoire">Histoire de Black Org</h3>

    <p><strong>Black Org</strong> (et non Black-Org) est né de la volonté de permettre aux fans de Détective Conan d’avoir un site complet et à jour sur l’œuvre, et un accès à l’information sans devoir courir à droite, à gauche. Ce principe restera une valeur fondatrice toujours appliquée aujourd’hui.</p>

    <p>Le 28 mars 2009, est créé, au format WYSIWYG sur la plateforme Weebly. Le choix de cette plateforme a été influencé par TheQuyen (pour les connaisseurs) qui possédait lui-même un site dessus. Au début, rien de bien extraordinaire, des actualités principalement.</p>

    <p>Puis Black Org a grandi, avec de plus en plus de contenu à mettre à jour. Le choix d’un wiki a alors été privilégié (notamment car je n’avais plus la motivation de continuer, sans vouloir pénaliser les fans) avec MediaWiki. Le site a donc dû être déménagé car Weebly ne convenait plus, et il a été hébergé chez <a href="https://www.webou.net/" rel="nofollow, noreferrer">Webou</a>, avec un nom de domaine en .fr.nf chez <a href="https://www.azote.org/" rel="nofollow, noreferrer">Azote</a>.</p>

    <p>L’offre gratuite de Webou n’étant plus suffisante pour la capacité de stockage, le site a été déménagé chez <a href="https://www.000webhost.com/" rel="nofollow, noreferrer">000webhost</a>.</p>

    <p>Des fonctionnalités se sont ajoutées au wiki, telles que le calendrier et un design personnel. Le résumé de l’intrigue (aujourd’hui devenu l’intrigue) est une des pages phares, qui s’inspire d’un sujet sur un forum de <em>fansub</em> du… 2 mai 2008&#8239;!</p>

    <p>Les pannes se sont faits de plus en plus fréquentes et l’hébergeur refusait de mettre à jour une version obsolète de PHP, non sécurisée et non maintenue depuis janvier 2011&#8239;!… Ce qui m’empêchait de pouvoir partager les dernières mises à jour de MediaWiki.</p>

    <p>Vers juillet 2013, Black Org a donc été migré sur un serveur mutualisé payant chez OVH et les soucis ont été réglés… À l’exception près que MediaWiki devenait de plus en plus ingérable (imaginez un peu, tout l’historique des modifications de pages en 4 ans). En août 2013, un DokuWiki en beta-test a été ouvert pour transférer toutes les pages, gérées par des fichiers plutôt qu’une base de données (meilleures performances). Le contenu du MediaWiki n’est alors plus mis à jour, et je croule sous la charge de travail.</p>

    <p>En juillet 2014, je migre vers un VPS (Serveur Privé Virtuel) pour d’autres sites personnels chez PulseHeberg, qui m’offre bien plus de possibilités que l’hébergement mutualisé. L’hébergement mutualisé n’est plus payé et les wikis (MediaWiki et DokuWiki) n’ont pas été remis en place sur le VPS faute de temps. Ils seront finalement restaurés le 28 décembre 2014, et la nouvelle version du site commence à être déployée.</p>

    <p>Cette nouvelle version est une solution maison, réalisée entièrement par mes soins selon les besoins du site, pour empêcher tous les problèmes qui ont pu être rencontrés jusqu’à présent. Elle accueille un nouveau <em>design</em>, responsive, c’est-à-dire qu’il est adapté aux téléphones intelligents, tablettes et ordinateurs.</p>

    <p>Le 30 décembre 2014, les deux wikis sont supprimés car tout leur contenu a été déplacé sur le nouveau site (mais il n’est pas encore possible de tout modifier aussi facilement que sur le wiki). Le contenu du site est modifiable par les différentes administrations du site qui se mettent en place au fur et à mesure. L’intrigue est séparée en arcs et revue de fond en comble pour inclure les épisodes mineurs, majeurs et importants.</p>

    <p>En juillet 2015, Black Org utilise alors le framework <a href="https://silex.symfony.com/">Silex</a> et <a href="https://www.doctrine-project.org/">Doctrine ORM</a>.</p>

    <p>Les nouveautés du site peuvent être suivies sur le <a href="{{ path('changelog') }}">journal des changements</a> et les futures modifications sur <a href="{{ path('progress') }}">l’avancement du site</a> (beaucoup moins mis à jour).</p>
    <hr />

    <h3 id="general">Questions générales</h3>
    <h4 id="general_telecharger">Où puis-je me procurer les tomes/chapitres/épisodes/films de la série en français&#8239;?</h4>

    <ul>
        <li>Les tomes sont publiés régulièrement par <a href="https://www.kana.fr/produit/detective-conan/">Kana</a> et trouvables dans le commerce.</li>
        <li>Les épisodes ont été diffusés doublés en français à la télévision jusqu’au 214<sup>e</sup> mais seuls les 30 premiers ont été commercialisés en multiversion par l’éditeur AB Video. Il est très difficile de les trouver en DVD aujourd’hui. Aujourd’hui, les épisodes 761 et supérieurs sont sous-titrés en français par <a href="https://animedigitalnetwork.fr/video/detective-conan">Anime Digital Network</a>. Ils ne sont disponibles qu’en streaming. L’éditeur n’a pas précisé d’intention de les commercialiser, ni d’acquérir les droits des épisodes précédents.</li>
        <li>Les films sont édités par <a href="http://anime.kaze.fr/catalogue/detective_conan">Kazé</a> et les cinq premiers sont disponibles dans le commerce en multiversion. Black Box prévoit de commercialiser les films 1 à 22, ainsi que deux épisodes spéciaux en version sous-titrée.</li>
    </ul>

    <h4 id="general_hepburn">Pourquoi écrire «&nbsp;Shin’ichi&nbsp;» ou «&nbsp;Mōri&nbsp;» plutôt que «&nbsp;Shinichi&nbsp;» ou «&nbsp;Mouri&nbsp;»&#8239;?</h4>

    <p>Le japonais peut être transcrit en rōmaji (notre alphabet) de plusieurs façons.</p>

    <p>Par exemple, AB Vidéo et Kana écrivent Mouri alors qu’ADN écrira Môri. Cependant, la transcription d’AB Vidéo et Kana n’est pas logique (en plus d’être plus ou moins obsolète) car c’est le même son o allongé dans Mōri et dans Kaitō Kid, pourquoi alors marquer Mouri dans un cas, et Kaito dans l’autre&#8239;? ADN utilise l’accent circonflexe pour marquer le o allongé, probablement car il est plus accessible sur nos claviers que le macron (Compose + _ + o, sous Linux par exemple).</p>

    <p>En ce qui concerne Black Org, c’est donc la méthode Hepburn, normalisée par la norme ANSI Z39.11-1972, avec utilisation de macrons qui a été favorisée afin d’être le plus fidèle phonétiquement au japonais.</p>

    <h4 id="general_fans">Où puis-je échanger avec des fans&#8239;? Quels forums ou salons de discussion me conseilles-tu&#8239;?</h4>

    <p><em>Section à venir</em></p>

    <h4 id="general_outdated">Black Org n’est pas à jour / Ça fait une semaine que l’épisode XXX a été annoncé au Japon. Pourquoi n’est-il toujours pas dans les actualités/sur la page des épisodes&#8239;?</h4>
    <p>Deux cas de figures peuvent se présenter&#8239;:</p>
    <ul>
        <li>Pas assez de sources fiables ont été trouvées pour annoncer la diffusion de cet épisode.</li>
        <li>Les contributeurs ont une vie extérieure (eh oui&#8239;!) et n’ont pas encore eu le temps de faire les modifications qui se doivent. Mais dans ce cas, tu peux ajouter l’épisode en question en contribuant (voir la section <a href="{{ path('contributing') }}">Contribuer au site</a>), et une personne validera ta demande dès que possible.</li>
    </ul>
    <hr />

    <h3 id="contributing">Contribuer au site</h3>

    <p>Voir la <a href="{{ path('contributing') }}">page dédiée à ce sujet</a>.</p>
    <hr />

    <h3 id="sources">Sources du site</h3>

    <p>Black Org se base principalement sur <a href="https://www.detectiveconanworld.com/wiki/">Detective Conan World</a>, <a href="https://conanwiki.org/wiki/">ConanWiki</a>, et bien évidemment des connaissances générales sur la série.</p>

    <h4 id="sources_plot">L’intrigue</h4>

    <p>L’intrigue est basée sur une idée originale de <a href="https://www.geocities.ws/miyanosama/Plot/Plot_summary01.htm">miyano-sama</a>. Il a été complété grâce aux indications de <a href="https://www.detectiveconanworld.com/wiki/Anime">Detective Conan World</a> pour les épisodes moins importants. Les épisodes/chapitres récents sont complétés majoritairement par l’administrateur de ce site.</p>

    <h4 id="sources_cases">Les affaires</h4>

    <p>Les affaires sont basées sur celles de <a href="https://conanwiki.org/wiki/Liste_aller_F%C3%A4lle">ConanWiki</a>. Les traductions des titres sont faites maison à partir de ceux de <a href="https://www.detectiveconanworld.com/wiki/Manga">Detective Conan World</a> et pour quelques-uns directement depuis <a href="http://conandetective.free.fr/Pages/Jiken.php">Manga-Galaxy Fansub</a>. Les résumés des épisodes sont adaptés de <a href="http://www.dconan.fr/">DConan</a>.</p>

    <h4 id="sources_episodes">Les épisodes</h4>

    <p>Les épisodes sont régulièrement complétés grâce à <a href="https://www.detectiveconanworld.com/wiki/Anime">Detective Conan World</a>. Les traductions sont faites maison la plupart du temps, à partir du japonais ou de l’anglais. Lorsqu’<a href="https://animedigitalnetwork.fr/video/detective-conan">ADN</a> sort un nouvel épisode, sa traduction et son résumé sont adoptés. Les images des épisodes sont tirées de <a href="https://conanwiki.org/wiki/Liste_der_Anime-Episoden">ConanWiki</a>.</p>

    <h4 id="sources_chapters">Les chapitres</h4>

    <p>Les nouveaux chapitres sont indiqués en fonction de la date annoncée à la fin du précédent chapitre. Le titre est complété dès qu’il sort à partir de <a href="https://www.detectiveconanworld.com/wiki/Manga">Detective Conan World</a> puis traduit. Au fur et à mesure que <a href="http://conandetective.free.fr/Pages/Scantrads.php">Manga-Galaxy Fansub</a> sort les chapitres, les traductions des titres sont remplacées par les leurs, puis par les titres officiels de Kana lors de leur sortie en tome en français. Les dates de sortie des tomes en japonais sont récupérées depuis <a href="http://204.244.141.101/makimura/DCN/DCN.html">Kudo’s Files</a> et en français depuis <a href="https://www.kana.fr/produit/detective-conan/">Manga Kana</a>.</p>

    <hr />

    <h3 id="dev">Problèmes techniques</h3>

    <h4 id="dev_mobile">Le site ne s’affiche pas bien sur téléphone mobile</h4>

    <p>Black Org utilise beaucoup de tableaux pour les listes et riches en informations. Bien que nous essayons de les épurer pour rendre le plus compatible sur les supports, il arrive que les informations ne rentrent pas toutes dans la largeur d’un téléphone. Tu peux soit déplacer ton doigt de droite à gauche pour voir le contenu situé à droite, passer en mode paysage ou demander à ton navigateur un affichage ordinateur.</p>

    <p>Si tu penses avoir un autre problème, vérifie tout d’abord que tu utilises un navigateur récent tel que Firefox, Chrome ou Safari, puis <a href="{{ path('contact') }}">contacte-moi</a> en donnant le plus de détails possible (OS (Android, iOS), navigateur, etc).</p>
    <hr />
{% endblock %}