{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}
{% block content %}
    <h2 class="title has-text-primary">Hébergement</h2>
    <p>Ce site web est hébergé par la société OVH.</p>
    <p>2 rue Kellermann,</p>
    <p>59100 Roubaix,</p>
    <p>France</p>
{% endblock %}