{% extends "base.html.twig" %}

{% block title %}Liens utiles{% endblock %}
{% block content %}
    <p>Tu as fait le tour de Black Org et tu veux en savoir encore plus&#160;? Voici une liste de liens que la plupart des fans les plus mordus connaissent sûrement.</p>
    <hr />

    <h3 id="french">En français</h3>
    <ul>
        <li><a rel="nofollow" href="https://detective-conan-vostfr.info/">Meitantei Canon</a>&#160;: site le plus complet sur toutes les VOSTFr connues de <i>Meitantei Conan</i> avec différents liens pour les télécharger.</li>
        <li><a rel="nofollow" href="http://kazuha.free.fr/">Naniwa</a>&#160;: sûrement l’encyclopédie la plus complète à ce jour, avec <a rel="nofollow" href="http://naniwa.e-monsite.com/">de nombreux dossiers</a>.</li>
        <li><a rel="nofollow" href="http://www.dconan.fr/">DConan</a>&#160;: site possédant un outil de recherche d’épisode, et proposant un résumé pour chaque affaire.</li>
        <li>Éditeurs&#160;: <a href="https://animedigitalnetwork.fr/video/detective-conan/">Anime Digital Network</a>, <a rel="nofollow" href="http://www.ab-video.com/index.php?cPath=22_28">AB Video</a>, <a rel="nofollow" href="http://www.kaze-anime.fr/index.php?option=com_hikashop&amp;cid=4806">Kazé</a> et <a rel="nofollow" href="https://www.kana.fr/produit/detective-conan/">Kana</a></li>
    </ul>
    <hr />

    <h3 id="english">En anglais</h3>
    <ul>
        <li><a rel="nofollow" href="https://www.detectiveconanworld.com/wiki/">Detective Conan World</a>&#160;: un wiki bien complet.</li>
        <li><a rel="nofollow" href="https://anidb.net/perl-bin/animedb.pl?show=anime&amp;aid=266">AniDB</a> : liens <i>eDonkey</i> internationaux de téléchargement</li>
        <li><a rel="nofollow" href="https://www.animenewsnetwork.com/encyclopedia/anime.php?id=454">Anime News Network</a>, <a rel="nofollow" href="https://en.wikipedia.org/wiki/Case_Closed">Wikipédia</a></li>
    </ul>
    <hr />

    <h3 id="japanese">En japonais</h3>
    <ul>
        <li><a rel="nofollow" href="https://websunday.net/rensai/conan/">Site officiel du Weekly Shōnen Sunday (prépublie les chapitres)</a></li>
        <li><a rel="nofollow" href="http://www.ytv.co.jp/conan/news/">Site de la chaîne YTV</a> <a rel="nofollow" href="http://www.ytv.co.jp/conan/blog/">Blog</a></li>
        <li><a rel="nofollow" href="https://www.conan-movie.jp/">Site officiel des films</a></li>
        <li><a rel="nofollow" href="https://conan.aga-search.com/">Conan Agasa Search</a></li>
    </ul>
    <hr />

    <h3 id="other_languages">Autres langues</h3>
    <ul>
        <li><strong>(de)</strong> <a rel="nofollow" href="https://conanwiki.org/">ConanWiki</a> / <a rel="nofollow" href="http://conannews.org/">ConanNews</a></li>
        <li><strong>(es)</strong> <a rel="nofollow" href="https://tanteikid.blogspot.com/">El Blog de tanteikid</a></li>
        <li><strong>(it)</strong> <a rel="nofollow" href="http://site.meitanteiconan.it/">Detective Conan — Koi ha thrill, shock, suspense</a></li>
    </ul>
    <hr />

    <h3 id="chatrooms">Espaces de discussions</h3>
    <p>Pour toute question sur la série Détective Conan, des fans se feront un plaisir de te répondre sur les salons de discussions suivants&#160;:</p>
    <ul>
        <li><a rel="nofollow" href="irc://irc.absoluty-irc.org/SANU">SANU</a></li>
        <li><a rel="nofollow" href="irc://irc.recycled-irc.net/Mamono-Fansub">Mamono-Fansub</a> (sous-titre d’autres animes)</li>
        <li><a rel="nofollow" href="irc://irc.rizon.net/DCTP">DCTP</a> (en anglais)</li>
    </ul>

    <p>Si tu préfères une discussion plus posée, voici quelques forums conseillés&#160;:</p>
    <ul>
        <li><a rel="nofollow" href="https://forums.dctp.ws/">DCTP</a> (en anglais)</li>
        <li><a rel="nofollow" href="http://beikastreet.forumjap.com/">Beika-Street</a> (en français)</li>
    </ul>
{% endblock %}