{% extends "base.html.twig" %}

{% block title %}Politique de confidentialité{% endblock %}
{% block content %}
    <p><em>Version actuelle de ce document&#8239;: {{ latest_privacy }}</em></p>

    <p>Si nous devions résumer la politique de confidentialité de Black Org en quelques mots&#8239;:</p>
    <ul>
        <li>Black Org s’engage à ne collecter que le strict nécessaire des données à caractère personnel, et lorsque cela le requiert, à chercher des moyens alternatifs de ne pas avoir à collecter ces données.</li>
        <li>Concernant les <em>cookies</em>, Black Org ne dépose que des <em>cookies</em> techniques nécessaires pour des raisons de sécurité ou techniques, ainsi que des <em>cookies</em> fonctionnels. Black Org ne possède aucun <em>cookie</em> provenant de sites tiers, marketing, analytique ou publicitaire.</li>
        <li>Black Org est un site web distribué sous licence AGPLv3. Cela veut dire que tu as accès à tout moment au code source actuellement exécuté. Tu peux donc vérifier par toi-même (avec un minimum de connaissance technique, il faut le reconnaître) que rien de malveillant n’est fait. <a rel="nofollow, noreferrer" href="https://gitlab.com/papjul/blackorg">Lien du code source</a>.</li>
        <li>Cette politique de confidentialité a été écrite car il s’agit d’une obligation légale, mais nous avons essayé de limiter le jargon juridique et technique pour que tu comprennes bien les enjeux.</li>
    </ul>

    <p>Maintenant, si tu veux plus de détails, lis ce qui suit.</p>
    <hr />

    <h3>Données à caractère personnel et autres données collectées</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Personnes concernées</th>
                    <th>Donnée(s)</th>
                    <th>Usage</th>
                    <th>Licéité du traitement<br />(article 6 du RGPD)</th>
                    <th>Collecte</th>
                    <th>Durée de conservation</th>
                    <th>Modification</th>
                    <th>Suppression</th>
                    <th>Avec qui sont partagées ces données ?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tout le monde</td>
                    <td>
                        <ul>
                            <li>Requête</li>
                            <li>Horodotage</li>
                            <li>Agent utilisateur (<em>User agent</em>)</li>
                            <li>Adresse IP</li>
                        </ul>
                    </td>
                    <td>Logs du serveur, sécurité</td>
                    <td>Intérêt légitime (f)</td>
                    <td>À chaque requête au serveur</td>
                    <td>Jusqu’à intervention manuelle de l’administrateur système sur le serveur</td>
                    <td>Non Applicable</td>
                    <td>Sur demande via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateur système</td>
                </tr>
                <tr>
                    <td>Visiteurs non connectés</td>
                    <td>Adresse IP</td>
                    <td>Protection contre les abus</td>
                    <td>Intérêt légitime (f)</td>
                    <td>Lors de l’ajout/modification d’une suggestion</td>
                    <td>Jusqu’à validation de la suggestion. Pour info, {% if oldestSubmissionWithIp is not null %}la plus ancienne suggestion contenant une IP date du {{ oldestSubmissionWithIp.dateSubmitted|format_datetime('long') }}{% else %}il n’y a actuellement aucune suggestion contenant une IP{% endif %} (information vérifiée le {{ 'now'|format_date('long', 'long') }}).</td>
                    <td>Non Applicable</td>
                    <td>Sur demande via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateur système</td>
                </tr>
                <tr>
                    <td>Visiteurs non connectés</td>
                    <td>Adresse IP</td>
                    <td>Protection contre les abus</td>
                    <td>Intérêt légitime (f)</td>
                    <td>Lors de l’envoi d’un formulaire de contact</td>
                    <td>Jusqu’à intervention manuelle de l’administrateur système sur le serveur. Pour info, {% if oldestContactMessageWithIp is not null %}le plus ancien message de contact contenant une IP date du {{ oldestContactMessageWithIp.creationDate|format_datetime('long') }}{% else %}il n’y a actuellement aucun message de contact contenant une IP{% endif %} (information vérifiée le {{ 'now'|format_datetime('long', 'long') }}).</td>
                    <td>Non Applicable</td>
                    <td>Sur demande via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateur système</td>
                </tr>
                <tr>
                    <td>Utilisateurs du formulaire de contact ayant renseigné leur email</td>
                    <td>Email</td>
                    <td>Avoir un moyen de contact pour répondre à une demande</td>
                    <td>Consentement (a)</td>
                    <td>Lors de l’envoi d’un formulaire de contact si tu as rempli ce champ (optionnel).</td>
                    <td>Jusqu’à intervention manuelle de l’administrateur système sur le serveur. Pour info, {% if oldestContactMessageWithEmail is not null %}le plus ancien message de contact contenant une adresse de courriel date du {{ oldestContactMessageWithEmail.creationDate|format_datetime('long') }}{% else %}il n’y a actuellement aucun message de contact contenant une adresse de courriel{% endif %} (information vérifiée le {{ 'now'|format_datetime('long', 'long') }}).</td>
                    <td>Si connecté, depuis la modification de profil, sinon, par le formulaire de contact à nouveau.</td>
                    <td>Sur demande via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateur système</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Adresse IP</td>
                    <td>Protection contre les abus</td>
                    <td>Intérêt légitime (f)</td>
                    <td>Lors de l’inscription</td>
                    <td>Jusqu’à demande de suppression du compte</td>
                    <td>Non Applicable</td>
                    <td>Demande de suppression du compte via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateur système</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Adresse de courriel</td>
                    <td>T’avertir en cas de compromission de tes données à caractère personnel</td>
                    <td>Obligation légale (c)</td>
                    <td>Lors de l’inscription ou depuis la modification de profil.</td>
                    <td>Jusqu’à modification de l’utilisateur ou demande de suppression du compte</td>
                    <td>Depuis la modification de profil</td>
                    <td>Depuis la modification de profil</td>
                    <td>Administrateur système + toi-même</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Nom d’utilisateur (préconisation&#8239;: ne pas mettre de donnée à caractère personnel)</td>
                    <td>Identifier de façon unique les différents membres du site.</td>
                    <td>Intérêt légitime (f)</td>
                    <td>Lors de l’inscription</td>
                    <td>Jusqu’à demande de suppression du compte</td>
                    <td>Formulaire de contact (s’il ne s’agit pas d’une donnée à caractère personnel, ton précédent nom d’utilisateur sera historisé).</td>
                    <td>Demande de suppression du compte via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Tout le monde</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Date d’inscription</td>
                    <td>Déterminer l’ancienneté d’un membre.</td>
                    <td>Donnée non-personnelle</td>
                    <td>À l’inscription</td>
                    <td>Jusqu’à demande de suppression du compte</td>
                    <td>Non Applicable</td>
                    <td>Demande de suppression du compte via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateurs</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Date de dernière connexion</td>
                    <td>Déterminer les membres anciens afin de les purger ou archiver (<a href="https://www.cnil.fr/fr/limiter-la-conservation-des-donnees" rel="noreferrer nofollow">obligation légale</a>).</td>
                    <td>Donnée non-personnelle</td>
                    <td>Sur chaque page</td>
                    <td>Jusqu’à demande de suppression du compte</td>
                    <td>Non Applicable</td>
                    <td>Demande de suppression du compte via le <a href="{{ path('contact') }}">formulaire de contact</a></td>
                    <td>Administrateurs</td>
                </tr>
                <tr>
                    <td>Membres</td>
                    <td>Adresse de courriel</td>
                    <td>T’informer de l’évolution du statut d’une suggestion</td>
                    <td>Consentement (a)</td>
                    <td>Depuis ta page d’abonnement ou lors de l’ajout/modification d’une suggestion ou depuis la page de la suggestion</td>
                    <td>Jusqu’à modification de l’utilisateur de son choix de recevoir des notifications, ou demande de suppression du compte</td>
                    <td>Depuis la page d’abonnement ou la page de la suggestion</td>
                    <td>Depuis la page d’abonnement ou la page de la suggestion</td>
                    <td>Administrateur système + toi-même</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />

    <h3>Suppression du compte</h3>
    <p>Pour supprimer ton compte, merci d’utiliser le <a href="{{ path('contact') }}">formulaire de contact</a>.</p>
    <p>Nous ferons en sorte que tes données soient complètement effacées ou anonymisées.</p>
    <hr />

    <h3 id="storage">Stockage de données, notamment témoins (<em>cookies</em>)</h3>
    <p>Il se peut qu’au cours de ta navigation sur le site, nous demandions à ton navigateur de stocker des données sur ton ordinateur pour généralement les lire à nouveau ultérieurement.</p>
    <p>Actuellement, Black Org utilise les témoins, plus couramment appelés par leur penchant anglais <em>cookies</em>, mais il est possible qu’à l’avenir d’autres techniques soient utilisées telles que le Local Storage. Dans ce cas, la page sera mise à jour, et si nous avons légalement besoin de ton consentement, nous te le demanderons au préalable.</p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom du cookie</th>
                    <th>Durée de conservation</th>
                    <th>Usage(s)</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PHPSESSID</td>
                    <td>Le temps de la session</td>
                    <td>
                        <ul>
                            <li>Session</li>
                            <li>Protection des formulaires contre les attaques CSRF</li>
                            <li>Protection contre les doubles renvois</li>
                            <li>S’assurer que les messages "flash" sont affichés une et une seule fois</li>
                            <li>Se souvenir du choix de thème en cas de changement</li>
                            <li>Éventuels usages internes du framework Symfony</li>
                        </ul>
                    </td>
                    <td>
                        Il s’agit d’un cookie nécessaire techniquement, qui <a href="https://wikis.ec.europa.eu/display/WEBGUIDE/04.+Cookies" rel="noreferrer">ne requiert pas ton consentement</a>.
                    </td>
                </tr>
                <tr>
                    <td>REMEMBERME</td>
                    <td>Une semaine</td>
                    <td>Connecter automatiquement l’utilisateur entre deux sessions</td>
                    <td>
                        Ce cookie sert à t’éviter à avoir à te reconnecter à chaque fois que tu fermes et rouvres ton navigateur.<br />
                        Il est optionnel si tu ne souhaites pas bénéficier de cette fonctionnalité.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />

    <h3>Tes droits</h3>

    <p>Tu disposes de droits te permettant de garder la maîtrise des informations te concernant.</p>
    <ul>
        <li><strong>Droit à l’information</strong></li>
        <li><strong>Recueil du consentement</strong></li>
        <li><strong>Droit d’opposition</strong></li>
        <li><strong>Droits d’accès et de rectification</strong></li>
    </ul>
    <p><a href="https://www.cnil.fr/fr/respecter-les-droits-des-personnes" rel="noreferrer, nofollow">En savoir plus (site de la CNIL)</a></p>

    <p>Le point de contact unique pour tes demandes concernant tes données personnelles est le <a href="{{ path('contact') }}">formulaire de contact</a>. Le RGPD nous oblige légalement à te répondre dans les meilleurs délais, et en tout état de cause sous un mois. Garde tout de même en tête qu’il s’agit d’un site web animé par une seule personne sur son temps libre.</p>
    <hr />

    <h3>Modifications de la politique de confidentialité</h3>
    <p>Il se peut que notre façon d’utiliser tes données évolue, ou que de nouvelles fonctionnalités nous demandent de collecter de nouvelles données. Dans de tels cas, nous devons mettre à jour notre politique de confidentialité. La date de dernière mise à jour se trouve en haut de cette page. Si tu es inscrit et as renseigné ton adresse de courriel, nous t’avertirons en cas de changements majeurs.</p>
{% endblock %}