{% extends "base.html.twig" %}

{% block title %}Avancement des développements de Black Org{% endblock %}
{% block content %}
    <div class="alert alert-info">Cette page n’a pas été mise à jour depuis longtemps. Toutefois, certaines informations restent d’actualité.</div>
    {#<p><em>Page modifiée pour la dernière fois sur le serveur le {{ last_update|format_datetime('long', 'short') }}.</em></p>#}

    <p>Tu veux tout savoir sur l’avancement de la nouvelle version du site&#8239;? Voici quelques explications sur les tâches nécessaires pour chaque page&#8239;:</p>
    <ul>
        <li>La <strong>tâche Migration</strong> consiste à prendre la page telle qu’elle de l’ancienne version du site et à la mettre sur la nouvelle version (avec le nouveau design)</li>
        <li>La <strong>tâche Dynamisation</strong> consiste à dynamiser la page pour que son contenu ne soit plus en dur dans la page mais stocké en base de données.</li>
        <li>La <strong>tâche Administration</strong> complète la tâche Dynamisation en prenant également en compte la gestion des suggestions d’amélioration et l’administration de ce contenu qui doivent être fonctionnelles.</li>
        <li>La <strong>tâche Contenu</strong> consiste finalement à mettre à jour le contenu de la page par rapport aux dernières informations (vieilles de l’été 2013 sur l’ancien site).</li>
    </ul>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Migration</th>
                    <th>Dynamisation</th>
                    <th>Administration</th>
                    <th>Contenu</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ path('homepage') }}">Accueil</a></td>
                    <td colspan="4" class="text-center"><strong>Terminée</strong></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('news') }}">Actualité</a></td>
                    <td>100&#8239;%</td>
                    <td>99&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>30&#8239;%</td>
                    <td>Dynamisation à 99&#8239;% car devra être complétée lorsque les autres pages auront été dynamisées (films, OAV, etc).<br />Contenu&#8239;: reste à migrer les années 2009 à 2011 + depuis l’été 2013.</td>
                </tr>
                <tr>
                    <td><a href="{{ path('changelog') }}">Journal des changements/Actualité du site</a></td>
                    <td>N/A</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('cases') }}">Affaires</a></td>
                    <td>N/A</td>
                    <td>100&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>10&#8239;%</td>
                    <td>Affaires HS 053+ (personnages, gadgets), traduire les titres de certaines affaires HS.</td>
                </tr>
                <tr>
                    <td><a href="{{ path('cases') }}">Situations</a></td>
                    <td>N/A</td>
                    <td>50&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>30&#8239;%</td>
                    <td>Reste encore à gérer les différents types</td>
                </tr>
                <tr>
                    <td><a href="{{ path('episodes') }}">Épisodes</a></td>
                    <td>100&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>80&#8239;%</td>
                    <td>Contenu&#8239;: Reste certains titres d'épisodes en anglais à traduire et certains Next Conan’s Hint à compléter.</td>
                </tr>
                <tr>
                    <td><a href="{{ path('movies') }}">Films</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('specials') }}">Épisodes spéciaux</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('chapters') }}">Chapitres</a></td>
                    <td>80&#8239;%</td>
                    <td>90&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>40&#8239;%</td>
                    <td>Migration&#8239;: Reste les résumés des tomes.<br />Dynamisation&#8239;: Reste à séparer par tranche de 20 tomes.<br />Contenu&#8239;: Reste beaucoup de titres en japonais</td>
                </tr>
                <tr>
                    <td><a href="{{ path('volumes') }}">Tomes</a></td>
                    <td>N/A</td>
                    <td>100&#8239;%</td>
                    <td>&nbsp;</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('chapters_tokubetsu') }}">Chapitres spéciaux</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>30&#8239;%</td>
                    <td>À fusionner avec tomes et chapitres</td>
                </tr>
                <tr>
                    <td><a href="{{ path('characters') }}">Personnages</a></td>
                    <td>100&#8239;%</td>
                    <td>80&#8239;%</td>
                    <td>100&#8239;%</td>
                    <td>60&#8239;%</td>
                    <td>Dynamisation&#8239;: Manque l'affichage des nouveaux champs et la possibilité de voir les affaires sur lesquelles le personnage est impliqué.<br />Contenu&#8239;: descriptions à mettre à jour.</td>
                </tr>
                <tr>
                    <td><a href="{{ path('relationships') }}">Relations</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('org') }}">L’Organisation Noire</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('anime') }}">L’adaptation animée</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>50&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('aptx') }}">L’Apotoxine 4869</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('stats') }}">Statistiques</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('drama') }}">Drama</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="#">Jeux vidéo</a></td>
                    <td>N/A</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('author') }}">L’auteur</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('contact') }}">Contact</a></td>
                    <td>100&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>0&#8239;%</td>
                    <td>N/A</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('faq') }}">Foire Aux Questions</a></td>
                    <td>100&#8239;%</td>
                    <td>N/A&#8239;?</td>
                    <td>N/A&#8239;?</td>
                    <td>30&#8239;%</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="{{ path('links') }}">Liens utiles</a></td>
                    <td>100&#8239;%</td>
                    <td>N/A&#8239;?</td>
                    <td>N/A&#8239;?</td>
                    <td>10&#8239;%</td>
                    <td>Enquêter</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}