{% extends "base.html.twig" %}

{% block title %}Plan du site{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">L’œuvre originale</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('author') }}">Gōshō Aoyama, l’auteur</a></li>
                        <li class="list-group-item"><a href="{{ path('plot') }}">L’intrigue</a></li>
                        <li class="list-group-item"><a href="{{ path('cases') }}">Les affaires</a></li>
                        <li class="list-group-item"><a href="{{ path('volumes') }}">Les tomes</a></li>
                        <li class="list-group-item"><a href="{{ path('chapters') }}">Les chapitres</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Culture</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('news') }}">Actualité</a></li>
                        <li class="list-group-item"><a href="{{ path('characters') }}">Les personnages</a></li>
                        <li class="list-group-item"><a href="{{ path('gadgets') }}">Les gadgets</a></li>
                        <li class="list-group-item"><a href="{{ path('relationships') }}">Les relations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0"><a href="{{ path('anime') }}">L’adaptation animée</a></h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('episodes') }}">Les épisodes</a></li>
                        <li class="list-group-item"><a href="{{ path('movies') }}">Les films</a></li>
                        <li class="list-group-item"><a href="{{ path('specials') }}">Les épisodes spéciaux</a></li>
                        <li class="list-group-item"><a href="{{ path('music') }}">Les musiques</a></li>
                        <li class="list-group-item"><a href="{{ path('dvds') }}">Les DVD</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Autres adaptations</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('chapters_wps') }}">Wild Police Story</a></li>
                        <li class="list-group-item"><a href="{{ path('volumes_type', {'type': 'movie'}) }}">Les tomes des films</a></li>
                        <li class="list-group-item"><a href="{{ path('volumes_type', {'type': 'tokubetsu'}) }}">Les tomes spéciaux</a></li>
                        <li class="list-group-item"><a href="{{ path('chapters_tokubetsu') }}">Les chapitres spéciaux</a></li>
                        <li class="list-group-item"><a href="{{ path('drama') }}">Le drama</a></li>
                        <li class="list-group-item"><a href="{{ path('games') }}">Les jeux vidéo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Dossiers</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('timeline') }}">Chronologie</a></li>
                        <li class="list-group-item"><a href="{{ path('org') }}">L’Organisation Noire</a></li>
                        <li class="list-group-item"><a href="{{ path('aptx') }}">L’Apotoxine 4869</a></li>
                        <li class="list-group-item"><a href="{{ path('stats') }}">Statistiques</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Black Org</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin') }}">Administration</a></li>
                        <li class="list-group-item"><a href="{{ path('contact') }}">Contact</a></li>
                        <li class="list-group-item"><a href="{{ path('faq') }}">Foire Aux Questions</a></li>
                        <li class="list-group-item"><a href="{{ path('links') }}">Liens utiles</a></li>
                        <li class="list-group-item"><a href="{{ path('changelog') }}">Journal des changements / Mises à jour</a></li>
                        <li class="list-group-item"><a href="{{ path('progress') }}">Avancement des développements</a></li>
                        <li class="list-group-item"><a href="{{ path('privacy') }}">Politique de confidentialité</a></li>
                        <li class="list-group-item"><a href="{{ path('cla') }}">Accord de Licence de Contributeur (CLA)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}