{% extends "base.html.twig" %}
{% block stylesheets %}
    {# {{ parent() }} #}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('stats') }}
{% endblock %}
{% block javascripts %}
    {# {{ parent() }} #}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}
{% block title %}Statistiques{% endblock %}
{% block content %}
    <p>Cette page accueille divers statistiques sur la série Détective Conan.</p>

    <hr />

    <h3 id="publicationChart">Rythme de publication des chapitres de Détective Conan au Japon</h3>
    <p>Ces statistiques montrent le rythme de publication de Détective Conan au Japon. On constate un ralentissement ces
        dernières années, principalement dû à des problèmes de santé de l’auteur.</p>

    {% if ("now"|date('Y') + 1) in chapters|keys %}
        {% set maxYear = ("now"|date('Y') + 1) %}
    {% else %}
        {% set maxYear = "now"|date('Y') %}
    {% endif %}
    <div class="table-responsive">
        <table class="w-100">
            <thead>
            <tr>
                <th class="text-center">Sem</th>
                {% for y in 1994..maxYear %}
                    <th class="text-center">{{ y }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for w in 1..53 %}
                <tr>
                    <th class="text-center">{{ w }}</th>
                    {% for y in 1994..maxYear %}
                        {% if y in chapters|keys and w in chapters[y]|keys %}
                            <td class="chart {{ chapters[y][w]['class'] }} text-center">{{ chapters[y][w]['number'] }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                {% for y in 1994..maxYear %}
                    <td class="text-center">{% if y in chapters|keys %}{{ chapters[y]|length }}{% else %}0{% endif %}</td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>

    <hr />

    <h3 id="volumes">Publication des tomes de Détective Conan en France et au Japon</h3>
    <p>Ces statistiques montrent le rythme de publication de Détective Conan en France et au Japon chaque année.</p>

    {{ render_chart(chart_volumes, {'data-controller': 'volumeschart'}) }}
    <p class="text-center"><em>Évolution du nombre de tomes publiés en France et au Japon en fonction du temps</em></p>

    <p>Le premier tome de Détective Conan a été publié en 1994 et il a fallu attendre 1997 pour une licence en France par l’éditeur Kana. Alors que le rythme de publication japonais tourne autour de 4 tomes par an, on constate une irrégularité en France. Alors que l’éditeur réduisait progressivement le nombre de tomes d’écart jusqu’en 2006, la tendance actuelle s’inverse pour garder un écart irrégulier plutôt constant.</p>
    <p>Avec la réduction du rythme de publication au Japon, la France a rattrapé son retard ces dernières années, avec un seul tome de décalage en moyenne.</p>

    <hr />

    <h3 id="cases_type">Types d’affaires des épisodes</h3>
    <p>Ces statistiques montrent l’évolution des types d’affaires (manga ou exclusif à l’<em>anime</em>) selon l’année.
        Ils ne prennent pas en compte les rediffusions, remastérisations ou épisodes spéciaux.</p>

    {{ render_chart(chart_types) }}
    <p class="text-center"><em>Types d’affaires des épisodes selon l’année</em></p>

    <hr />

    <h3 id="episodes_rating">Audience des épisodes</h3>
    <p>Ces statistiques montrent l’évolution de l’audience des épisodes (remastérisés et rediffusions non prises en
        compte) au Japon.</p>

    {{ render_chart(chart_rating, {'data-controller': 'ratingchart'}) }}
    <p class="text-center"><em>Audience en fonction des épisodes</em></p>

    <hr />

    <h3 id="music">Durée des génériques en nombre d’épisodes</h3>
    <p>Ces statistiques montrent l’évolution du nombre d’épisodes durant lesquels les opening/ending ont été maintenus
        (remastérisés et rediffusions non prises en compte) au Japon.</p>

    {{ render_chart(chart_opening) }}
    <p class="text-center"><em>Durée des opening en fonction du nombre d’épisodes d’apparition</em></p>

    {{ render_chart(chart_ending) }}
    <p class="text-center"><em>Durée des ending en fonction du nombre d’épisodes d’apparition</em></p>
{% endblock %}
