{% extends "base.html.twig" %}

{% block title %}Chronologie{% endblock %}
{% block content %}
    <div class="alert alert-warning">Cet article contient des révélations importantes sur les identités secrètes et les intentions de certains personnages. Ces informations te seront probablement divulgâchées si tu n’as pas lu tous les chapitres publiés à ce jour.</div>

    <p>Ceci est une chronologie de tous les événements survenus pendant la série ainsi que des événements antérieurs à la transformation de Shin’ichi à Conan. Les années sont relatives au temps présent dans le scénario de Détective Conan.</p>

    <p>Si tu souhaites connaître l’intrigue dans l’ordre des affaires, merci de te référer à la <a href="{{ path('cases') }}">page des affaires</a>.</p>
    <hr />

    {% import 'helper/timeline.html.twig' as timeline %}
    {% set events = [
        {
            'date': 'il y a plus de 140 ans',
            'img': 'img/character/Renya_Karasuma.jpg',
            'description': 'Naissance de <a href="' ~ path('character_view', {'shortname': 'Renya_Karasuma'}) ~ '">Ren’ya Karasuma</a>.',
            'source': 131,
            'icon': 'fas fa-baby'
        },
        {
            'date': 'il y a 85 ans',
            'img': 'img/character/Misae_Yamamura.jpg',
            'description': 'Naissance de <a href="' ~ path('character_view', {'shortname': 'Misae_Yamamura'}) ~ '">Misae Yamamura</a>.',
            'icon': 'fas fa-baby'
        },
        {
            'date': 'il y a 72 ans',
            'img': 'img/character/Jirokichi_Suzuki.jpg',
            'description': 'Naissance de <a href="' ~ path('character_view', {'shortname': 'Jirokichi_Suzuki'}) ~ '">Jirokichi Suzuki</a>.',
            'icon': 'fas fa-baby'
        },
        {
            'date': 'il y a 71 ans',
            'img': 'img/character/Kenzo_Masuyama.jpg',
            'description': 'Naissance de <a href="' ~ path('character_view', {'shortname': 'Kenzo_Masuyama'}) ~ '">Pisco (Kenzo Masuyama)</a>.',
            'source': 68,
            'icon': 'fas fa-baby'
        },
        {
            'date': 'il y a 60 ans',
            'img': 'img/page/timeline/suzuki_conglomerate.jpg',
            'description': 'La firme Suzuki est fondée.',
            'source': 44
        },
        {
            'date': 'il y a plus de 50 ans',
            'img': 'img/page/timeline/aptx.jpg',
            'description': 'Le projet de recherche principal de l’Organisation, qui implique le développement éventuel de l’<a href="' ~ path('aptx') ~ '">APTX 4869</a>, est lancé.',
            'source': 55
        },
        {
            'date': 'il y a 50 ans',
            'img': 'img/character/Hyoe_Kuroda.jpg',
            'description': 'Naissance de <a href="' ~ path('character_view', {'shortname': 'Hyoe_Kuroda'}) ~ '">Hyōe Kuroda</a>.',
            'source': 264,
            'icon': 'fas fa-baby'
        },
        {
            'date': 'il y a 40 ans',
            'img': 'img/page/timeline/agasa_fusae_child.jpg',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Hiroshi_Agasa'}) ~ '">Hiroshi Agasa</a> rencontre <a href="' ~ path('character_view', {'shortname': 'Fusae_Campbell'}) ~ '">Fusae Campbell</a>. Plus tard en novembre, Agasa apprend que Fusae a dû soudainement déménager, et lui a laissé une lettre lui disant qu’elle le rencontrerait à un endroit secret tous les 10 ans, le 24 novembre.',
            'source': 119
        },
        {
            'date': 'il y a 30 ans',
            'img': 'img/page/timeline/teitan.jpg',
            'description': 'L’école primaire Teitan est fondée.',
            'source': 43
        },
        {
            'date': 'il y a 30 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Atsushi_Miyano'}) ~ '">Atsushi Miyano</a> quitte la maison de son père pour se consacrer à la recherche. Son ami d’enfance Sōhei Degima y réside.',
            'source': 123
        },
        {
            'date': 'il y a 30 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Ethan_Hondo'}) ~ '">Ethan Hondō</a> entre à la CIA.',
            'source': 174
        },
        {
            'date': 'il y a environ 20 ans',
            'description': 'Étudiant pour un rôle d’actrice, <a href="' ~ path('character_view', {'shortname': 'Vermouth'}) ~ '">Sharon Vineyard</a> apprend des techniques de déguisement auprès de <a href="' ~ path('character_view', {'shortname': 'Toichi_Kuroba'}) ~ '">Tōichi Kuroba</a>, avec <a href="' ~ path('character_view', {'shortname': 'Yukiko_Kudo'}) ~ '">Yukiko Kudō</a>.',
            'source': 102
        },
        {
            'date': 'il y a environ 20 ans',
            'description': 'Le père de <a href="' ~ path('character_view', {'shortname': 'Jodie_Starling'}) ~ '">Jodie Starling</a> enquête sur l’<a href="' ~ path('org') ~ '">Organisation</a>.',
            'source': 'Tome 34'
        },
        {
            'date': 'il y a environ 20 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Atsushi_Miyano'}) ~ '">Atsushi Miyano</a>, <a href="' ~ path('character_view', {'shortname': 'Elena_Miyano'}) ~ '">Elena Miyano</a> et <a href="' ~ path('character_view', {'shortname': 'Akemi_Miyano'}) ~ '">Akemi Miyano</a> (alors âgée de 4-5 ans) visitent la maison du père d’Atsushi Miyano, occupée par Sōhei Degima.',
            'source': 123
        },
        {
            'date': 'il y a 20 ans',
            'img': 'img/page/timeline/vermouth_jodie_parents.jpg',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Vermouth'}) ~ '">Vermouth</a> tue le père de <a href="' ~ path('character_view', {'shortname': 'Jodie_Starling'}) ~ '">Jodie Starling</a>.',
            'source': 125,
            'icon': 'fas fa-skull-crossbones'
        },
        {
            'date': 'il y a environ 10 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Hidemi_Hondo'}) ~ '">Hidemi Hondō</a> déménage pour rejoindre la CIA.',
            'source': 170
        },
        {
            'date': 'il y a 5 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Shuichi_Akai'}) ~ '">Shūichi Akai</a> infiltre l’<a href="' ~ path('org') ~ '">Organisation</a> et sort avec <a href="' ~ path('character_view', {'shortname': 'Akemi_Miyano'}) ~ '">Akemi Miyano</a>.',
            'source': 174
        },
        {
            'date': 'il y a 5 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Shiho_Miyano'}) ~ '">Shiho Miyano</a>, alors âgée de 13 ans, travaille en tant que scientifique à l’<a href="' ~ path('org') ~ '">Organisation</a>. Il est possible qu’elle ait commencé encore plus tôt.',
            'source': [174, 176]
        },
        {
            'date': 'il y a 4 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Ethan_Hondo'}) ~ '">Ethan Hondō</a> se sacrifie pour protéger la couverture d’<a href="' ~ path('character_view', {'shortname': 'Hidemi_Hondo'}) ~ '">Hidemi Hondō</a>, sa fille, après qu’elle ait fait une gaffe.',
            'source': 174,
            'icon': 'fas fa-skull-crossbones'
        },
        {
            'date': 'il y a 3 ans',
            'description': 'Masumi Sera et ses parents déménagent du Japon pour aller aux États-Unis.'
        },
        {
            'date': 'il y a 2 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Shuichi_Akai'}) ~ '">Shūichi Akai</a> reçoit le nom de code Rye, et travaille sous les ordres de <a href="' ~ path('character_view', {'shortname': 'Gin'}) ~ '">Gin</a>, mais suite à une gaffe d’<a href="' ~ path('character_view', {'shortname': 'Andre_Camel'}) ~ '">Andre Camel</a>, il est percé à jour et fuit de l’<a href="' ~ path('org') ~ '">Organisation</a>.',
            'source': 176
        },
        {
            'date': 'il y a 2 ans',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Tequila'}) ~ '">Tequila</a> se montre au bureau de l’ingénieur informatique <a href="' ~ path('character_view', {'shortname': 'Suguru_Itakura'}) ~ '">Suguru Itakura</a> car intéressé par un programme qu’il a arrêté de développer un an auparavant.',
            'source': 110
        },
        {
            'date': 'il y a un an',
            'description': 'À New York, <a href="' ~ path('character_view', {'shortname': 'Vermouth'}) ~ '">Vermouth</a> tente d’appâter <a href="' ~ path('character_view', {'shortname': 'Shuichi_Akai'}) ~ '">Shūichi Akai</a> pour le tuer en se déguisant en tueur en série. Son plan tombe à l’eau quand Shūichi Akai lui tire une balle dans l’estomac. Alors qu’elle s’apprêtait à tuer Ran et Shin’ichi, elle fait une chute dans le vide et ces derniers la rattrapent de la mort.',
            'source': [102, 125]
        },
        {
            'date': 'il y a un an',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Suguru_Itakura'}) ~ '">Suguru Itakura</a> obtient un délai d’un an pour terminer le programme demandé par <a href="' ~ path('character_view', {'shortname': 'Tequila'}) ~ '">Tequila</a> un an auparavant.',
            'source': 110
        },
        {
            'date': 'il y a un an',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Wataru_Date'}) ~ '">Wataru Date</a> meurt fauché par un conducteur endormi alors qu’il travaillait sur une affaire avec <a href="' ~ path('character_view', {'shortname': 'Wataru_Takagi'}) ~ '">Wataru Takagi</a>. Sa petite amie se suicide peu de temps après.',
            'source': 233,
            'icon': 'fas fa-skull-crossbones'
        },
        {
            'date': 'il y a moins d’un an',
            'description': '<a href="' ~ path('character_view', {'shortname': 'Vermouth'}) ~ '">Sharon Vineyard</a> meurt et <a href="' ~ path('character_view', {'shortname': 'Vermouth'}) ~ '">Chris Vineyard</a> se montre en public pour la première fois à ses funérailles.',
            'icon': 'fas fa-skull-crossbones'
        },
        {
            'description': '<a href="' ~ path('character_view', {'shortname': 'Shinichi_Kudo'}) ~ '">Shin’ichi</a> se rend à Tropical Land avec <a href="' ~ path('character_view', {'shortname': 'Ran_Mori'}) ~ '">Ran</a> pour célébrer sa récente victoire en karaté. Il rencontre deux membres d’une <a href="' ~ path('org') ~ '">organisation secrète</a> nommés <a href="' ~ path('character_view', {'shortname': 'Gin'}) ~ '">Gin</a> et <a href="' ~ path('character_view', {'shortname': 'Vodka'}) ~ '">Vodka</a> qui lui donnent un <a href="' ~ path('aptx') ~ '">poison mystérieux</a> qui le fait rapetisser dans le corps d’un enfant de 6-7 ans.',
            'source': 1
        }
    ] %}

    {% for event in events %}
        {% set side = (loop.index % 2 == 0) ? 'left' : 'right' %}
        {{ timeline.show_element(event, side, loop.first, loop.last) }}
    {% endfor %}

    {% include 'helper/alert.html.twig' with { message: 'Cette chronologie est pour l’instant incomplète, tu peux [lire cet article référence en anglais](https://www.detectiveconanworld.com/wiki/Timeline) en attendant.', type: 'primary' } only %}
    <hr />

    <p class="text-muted">Cet article est une traduction adaptée de la version du 19 mai 2019 de la page équivalente de <a href="https://www.detectiveconanworld.com/wiki/Timeline">Detective Conan World</a>.</p>
{% endblock %}