<div class="row mb-3">
    <div class="col-lg-6">
        {% if arc > 1 %}<a class="btn btn-secondary w-100" href="{{ path((light is defined and light) ? 'cases_arc_light' : 'cases_arc', {'arc': arc - 1}) }}">&lt;&lt; Arc {{ (light is defined and light) ? arc - 1 : arcs[arc - 1] }}</a>{% else %}&nbsp;{% endif %}
    </div>
    <div class="col-lg-6">
        {% if arc > 0 and arc < 7 %}<a class="btn btn-secondary w-100" href="{{ path((light is defined and light) ? 'cases_arc_light' : 'cases_arc', {'arc': arc + 1}) }}">Arc {{ (light is defined and light) ? arc + 1 : arcs[arc + 1] }} &gt;&gt;</a>{% else %}&nbsp;{% endif %}
    </div>
</div>
