{% if case.hasPlot %}
    <ul class="fa-ul mb-0">
        {% if case.firstAppearances|length or case.firstUses|length %}
            <li>
                <span class="fa-li"><i class="fas fa-plus-circle" data-bs-toggle="tooltip" title="Nouveau personnage et/ou gadget"></i></span>
                <span>
                    {% if case.firstAppearances|length %}
                        Première apparition de
                        {% for character in case.firstAppearances %}{% if loop.index > 1 %}{% if loop.index == case.firstAppearances|length %} et {% else %}, {% endif %}{% endif %}<a href="{{ get_character_path(character) }}">{{ character.fullname }}</a>{% endfor %}.
                    {% endif %}
                    {% if case.firstUses|length %}
                        Première utilisation du gadget
                        {% for gadget in case.firstUses %}{% if loop.index > 1 %}{% if loop.index == case.firstUses|length %} et {% else %}, {% endif %}{% endif %}<a href="{{ get_gadget_path(gadget) }}">{{ gadget.displayName }}</a>{% endfor %}.
                    {% endif %}
                </span>
            </li>
        {% endif %}
        {% if case.plotChardev is not null and case.plotChardev is not empty %}
            <li><span class="fa-li"><i class="fas fa-play" data-bs-toggle="tooltip" title="Développement d’un ou plusieurs personnages"></i></span> <span>{{ case.plotChardev|markdown_to_html('inline') }}</span></li>
        {% endif %}
        {% if case.plotRomance is not null and case.plotRomance is not empty %}
            <li><span class="fa-li"><i class="fas fa-heart" data-bs-toggle="tooltip" title="Développement d’une ou plusieurs relations amoureuses"></i></span> <span>{{ case.plotRomance|markdown_to_html('inline') }}</span></li>
        {% endif %}
        {% if case.plotOrg is not null and case.plotOrg is not empty %}
            <li><span class="fa-li"><i class="fas fa-male" data-bs-toggle="tooltip" title="Développement de l’intrigue relative à l’Organisation"></i></span> <span>{{ case.plotOrg|markdown_to_html('inline') }}</span></li>
        {% endif %}
    </ul>
{% endif %}
