<tr id="{{ case.displayName('short') }}" class="table-{{ case_css_class(case) }}{% if case.type != 'manga' %} noncanon{% endif %}">
    <td class="text-center align-middle"><strong>{{ case.displayName('medium') }}</strong></td>
    <td class="align-middle"><a href="{{ get_case_path(case) }}"><strong>{{ case.title }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}"><i class="far fa-edit"></i></a></td>
    <td class="text-center align-middle">
        {% if case.chapters|length %}
            {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
        {% endif %}
    </td>
    <td class="text-center align-middle">
        {% if case.episodes|length %}
            <a href="{{ get_episode_path(case.episodes[0]) }}">
                {% if case.episodes|length > 1 %}
                    Ép {{ case.episodes[0].number|add_leading_zero(3) }}—{{ case.episodes[case.episodes|length - 1].number|add_leading_zero(3) }}
                {% else %}
                    Ép {{ case.episodes[0].number|add_leading_zero(3) }}
                {% endif %}
            </a>
        {% endif %}
    </td>
    <td class="text-center align-middle">
        {% if case.hasPlot %}
            <ul class="list-inline mb-0">
                {% if case.firstAppearances|length or case.firstUses|length %}
                    <li class="list-inline-item"><i class="fas fa-plus-circle" data-bs-toggle="tooltip" title="Nouveau personnage et/ou gadget"></i></li>
                {% endif %}
                {% if case.plotChardev is not null and case.plotChardev is not empty %}
                    <li class="list-inline-item"><i class="fas fa-play" data-bs-toggle="tooltip" title="Développement d’un ou plusieurs personnages"></i></li>
                {% endif %}
                {% if case.plotRomance is not null and case.plotRomance is not empty %}
                    <li class="list-inline-item"><i class="fas fa-heart" data-bs-toggle="tooltip" title="Développement d’une ou plusieurs relations amoureuses"></i></li>
                {% endif %}
                {% if case.plotOrg is not null and case.plotOrg is not empty %}
                    <li class="list-inline-item"><i class="fas fa-male" data-bs-toggle="tooltip" title="Développement de l’intrigue relative à l’Organisation"></i></li>
                {% endif %}
            </ul>
        {% endif %}
    </td>
</tr>
