<div class="table-responsive">
    <table class="table cases">
        <thead>
        <tr>
            <th class="text-center column-id">#</th>
            <th>Titre</th>
            <th class="text-center">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for case in cases %}
            <tr id="{{ case.displayName('short') }}" class="table-{{ case_css_class(case) }}">
                <td class="text-center align-middle"><strong>{{ case.displayName('medium') }}</strong></td>
                <td class="align-middle"><a href="{{ get_case_path(case) }}"><strong>{{ case.title }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}"><i class="far fa-edit"></i></a></td>
                <td class="text-center align-middle">{{ case.date|format_date('long') }}</td>
            </tr>
            <tr class="{{ case.type }}">
                <td colspan="3">
                    <div class="summary">{{ case.summary|markdown_to_html }}</div>
                    {% if case.hasPlot %}
                        <div class="plot-frame table-{{ case_css_class(case) }}">
                            {% include 'helper/case-plot.html.twig' with { case: case } only %}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>