{% if lastnameFirst is defined %}
    {{ character.lastname }}{% if character.firstname is not null and character.firstname is not empty %}{% if newline is defined and newline %}<br />{% endif %}{{ character.firstname }}{% endif %}
{% else %}
{% if character.firstname is not null and character.firstname is not empty %}{{ character.firstname }}{% if newline is defined and newline %}<br />{% endif %}{% endif %}{{ character.lastname }}
{% endif %}
