{% if episodes.haveToPaginate %}
    <div class="row mb-3">
        <div class="col-lg-4">
            {% if episodes.hasPreviousPage %}<a class="btn btn-secondary w-100" href="{{ path('episodes_paginated', {page: episodes.previousPage}) }}">&lt;&lt;</a>{% else %}&nbsp;{% endif %}
        </div>
        <div class="col-lg-4">
            <select class="chg_season text-center form-control">
                {% set number_of_episodes_per_group = 100 %}
                {% for i in 1..episodes.numPages %}
                    {% set first_episode = (((i - 1) * number_of_episodes_per_group) + 1)|add_leading_zero(3) %}
                    {% set last_episode = ((i * number_of_episodes_per_group > nbEpisodes) ? nbEpisodes : i * number_of_episodes_per_group)|add_leading_zero(3) %}
                    <option value="{{ i }}"{% if i == episodes.currentPage %} selected="selected"{% endif %}>Épisodes {{ first_episode }}-{{ last_episode }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            {% if episodes.hasNextPage %}<a class="btn btn-secondary w-100" href="{{ path('episodes_paginated', {page: episodes.nextPage}) }}">&gt;&gt;</a>{% else %}&nbsp;{% endif %}
        </div>
    </div>
{% endif %}
