{# Function with parameters Chapter $from and Chapter $to #}

{% if from.id == to.id %}
    {# Chapter is the same #}
    {% if from.volume is null %}
        {# Chapter $from has no volume, both are prepublished #}
        <a data-bs-toggle="tooltip" title="Chapitre {{ from.number }}" href="{{ path('chapters') }}#Chapitres_pre-publies">Ch {{ from.number }}</a>
    {% elseif from.volume.type == 'movie' %}
        <a data-bs-toggle="tooltip" title="Tome du film {{ from.volume.number }}" href="{{ get_volume_path(from.volume) }}">TM {{ from.volume.number}}</a>
    {% else %}
        <a data-bs-toggle="tooltip" title="Tome {% if from.volume.type == 'tokubetsu' %}Spécial {% endif %}{% if from.volume.type == 'wps' %}Wild Police Story {% endif %}{{ from.volume.number }} Chapitre {{ from.volumeNumber }} (Chapitre {{ from.number }})" href="{{ get_volume_path(from.volume) }}">{% if from.volume.type == 'original' %}T{% endif %}{% if from.volume.type == 'tokubetsu' %}TS{% endif %}{% if from.volume.type == 'wps' %}WPS{% endif %}{{ from.volume.number}} C{{ from.volumeNumber }}</a>
    {% endif %}

{% elseif from.volume is not null and to.volume is not null and from.volume.number == to.volume.number %}
    {# Both chapters are inside the same volume #}
    <a data-bs-toggle="tooltip" title="Tome {% if from.volume.type == 'tokubetsu' %}Spécial {% endif %}{% if from.volume.type == 'wps' %}Wild Police Story {% endif %}{{ from.volume.number }} — Chapitres {{ from.volumeNumber }} — {{ to.volumeNumber }} (Chapitres {{ from.number }} à {{ to.number }})" href="{{ get_volume_path(from.volume) }}">{% if from.volume.type == 'original' %}T{% endif %}{% if from.volume.type == 'tokubetsu' %}TS{% endif %}{% if from.volume.type == 'wps' %}WPS{% endif %}{{ from.volume.number}} C{{ from.volumeNumber }} — C{{ to.volumeNumber }}</a>
{% else %}
    {% if from.volume is null %}
        {# Chapter $from has no volume, both are prepublished #}
        <a data-bs-toggle="tooltip" title="Chapitres {{ from.number }} — {{ to.number }}" href="{{ path('chapters') }}#Chapitres_pre-publies">Ch {{ from.number }} — {{ to.number }}</a>
    {% elseif to.volume is null %}
        {# Only the chapter $to has no volume, it is prepublished #}
        <a data-bs-toggle="tooltip" title="Tome {% if from.volume.type == 'tokubetsu' %}Spécial {% endif %}{% if from.volume.type == 'wps' %}Wild Police Story {% endif %}{{ from.volume.number }} Chapitre {{ from.volumeNumber }} (Chapitre {{ from.number }}) — Chapitre {{ to.number }}" href="{{ get_volume_path(from.volume) }}">{% if from.volume.type == 'original' %}T{% endif %}{% if from.volume.type == 'tokubetsu' %}TS{% endif %}{% if from.volume.type == 'wps' %}WPS{% endif %}{{ from.volume.number}} C{{ from.volumeNumber }} — Ch {{ to.number }}</a>
    {% else %}
        <a data-bs-toggle="tooltip" title="Tome {% if from.volume.type == 'tokubetsu' %}Spécial {% endif %}{% if from.volume.type == 'wps' %}Wild Police Story {% endif %}{{ from.volume.number }} Chapitre {{ from.volumeNumber }} — Tome {% if to.volume.type == 'tokubetsu' %}Spécial {% endif %}{% if to.volume.type == 'wps' %}Wild Police Story {% endif %}{{ to.volume.number }} Chapitre {{ to.volumeNumber }} (Chapitres {{ from.number }} à {{ to.number }})" href="{{ get_volume_path(from.volume) }}">{% if from.volume.type == 'original' %}T{% endif %}{% if from.volume.type == 'tokubetsu' %}TS{% endif %}{% if from.volume.type == 'wps' %}WPS{% endif %}{{ from.volume.number}} C{{ from.volumeNumber }} — {% if to.volume.type == 'original' %}T{% endif %}{% if to.volume.type == 'tokubetsu' %}TS{% endif %}{% if to.volume.type == 'wps' %}WPS{% endif %}{{ to.volume.number}} C{{ to.volumeNumber }}</a>
    {% endif %}
{% endif %}