{{ _self.menu_links(items, 0) }}

{% macro menu_links(items, menu_level) %}
    {% if items %}
        <ul>
        {% for item in items %}
            <li>
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% if item.below %}
                    {{ _self.menu_links(item.below, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}