{% for event in dayEvents %}
<div class="event event-type-{{ event.type }}" data-bs-toggle="tooltip" title="{{ event.content }}">
    <div class="event-desc">
        {% if event.editlink is defined %}<a href="{{ event.editlink }}"><i class="far fa-edit"></i></a> {% endif %}{% if event.link is defined %}<a href="{{ event.link }}">{% endif %}{{ event.title }}{% if event.link is defined %}</a>{% endif %}
    </div>
</div>
{% endfor %}