{% macro vertical_line(item, isFirst, isLast) %}
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col{% if not isFirst %} border-right{% endif %}">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge badge-pill bg-light border">{% if item.icon is defined %}<i class="{{ item.icon }}"></i>{% else %}&nbsp;{% endif %}</span>
        </h5>
        <div class="row h-50">
            <div class="col{% if not isLast %} border-right{% endif %}">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
{% endmacro %}

{% macro show_element(item, side, isFirst, isLast) %}
    <div class="row no-gutters">
        {% if side == 'right' %}
            <div class="col-sm"> <!--spacer--> </div>
            {{ _self.vertical_line(item, isFirst, isLast) }}
        {% endif %}
        <div class="col-sm py-2">
            <div class="card flex-lg-row">
                <div class="{% if item.img is defined %}row no-gutters align-items-center{% else %}card-body{% endif %}">
                    {% if item.img is defined %}
                        <div class="col-12 col-lg-5">
                            <img class="card-img-top" src="{{ asset(item.img) }}" alt="" />
                        </div>
                    {% endif %}
                    <div{% if item.img is defined %} class="col-12 col-lg-7"{% endif %}>
                        <div{% if item.img is defined %} class="card-body"{% endif %}>
                            {% if item.date is defined %}
                                <div class="float-end text-muted small">{{ item.date }} <i class="far fa-clock"></i></div>
                            {% endif %}
                            <p class="mb-0">{{ item.description|raw }}</p>
                            {% if item.source is defined %}
                                <p class="text-muted mb-0">— Source&nbsp;: {% if item.source is iterable %}
                                        {% for source in item.source %}
                                            {% if source matches '/^\\d+$/' %}
                                                <a href="{{ path('manga_case_view', {'number': source}) }}">Affaire {{ source|add_leading_zero(3) }}</a>{% if not loop.last %}, {% endif %}
                                            {% else %}
                                                {{ source }}{% if not loop.last %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if item.source matches '/^\\d+$/' %}
                                            <a href="{{ path('manga_case_view', {'number': item.source}) }}">Affaire {{ item.source|add_leading_zero(3) }}</a>
                                        {% else %}
                                            {{ item.source }}
                                        {% endif %}
                                {% endif %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if side == 'left' %}
            {{ _self.vertical_line(item, isFirst, isLast) }}
            <div class="col-sm"> <!--spacer--> </div>
        {% endif %}
    </div>
{% endmacro %}