{% extends "base.html.twig" %}

{% block title %}DVD Part {{ part }}{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            {% for dvd in dvds %}
                <tr id="vol{{ dvd.number }}">
                    <th colspan="4" class="table-success text-center">DVD {{ part }}-{{ dvd.number }} <a href="{{ path('admin_submission_edit', {'section': 'dvds', 'id': dvd.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                </tr>
                <tr>
                    <td class="p-0 dvd-cover" rowspan="3"><a href="{{ asset('/img/dvd/' ~ part ~ '-' ~ dvd.number ~ '.jpg') }}"><img src="{{ asset('/img/dvd/' ~ part ~ '-' ~ dvd.number ~ '_115px.jpg') }}" alt="" /></a></td>
                    <td rowspan="3">
                        <ul class="list-group list-group-flush">
                            {% for episode in dvd.episodes %}
                                <li class="list-group-item"><a href="{{ get_episode_path(episode) }}">Ép {{ episode.number|add_leading_zero(3) }} — {{ episode.titleFr }}{% if episode.part != 0 %} (Partie {{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}){% endif %}</a></li>
                                {% endfor %}
                        </ul>
                    </td>
                    <td><strong>Date de sortie&#8239;:</strong></td>
                    <td>{{ dvd.date|format_date('long') }}</td>
                </tr>
                <tr><td><strong>Prix&#8239;:</strong></td><td>{{ dvd.price }}&nbsp;円 ({% if dvd.TTC %}TTC{% else %}HT{% endif %})</td></tr>
                <tr><td><strong>Référence&#8239;:</strong></td><td>{{ dvd.ref }}</td></tr>
            {% endfor %}
            <tfoot><tr><td colspan="4" class="text-center"><a href="{{ path('dvds') }}">Revenir à la liste des DVD</a></td></tr></tfoot>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'dvds'}) }}" class="btn btn-primary">Ajouter un DVD</a></p>
{% endblock %}
