{% extends "base.html.twig" %}

{% block title %}DVD{% endblock %}
{% block content %}
    <p>Les numéros d’épisodes sont donnés à titre indicatif, il arrive que certains épisodes soient répartis sur d’autres DVD pour empêcher des épisodes consécutifs d’être séparés sur plusieurs DVD.</p>
    {% for row in dvds|batch(4, 'Empty space') %}
        <div class="row">
            {% for part, dvd in row %}
                <div class="col-sm-6 col-lg-3 mb-3">
                    {% if dvd != 'Empty space' %}
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title"><a href="{{ path('dvd_view', {'part': part}) }}">Part {{ part }}</a></span>
                            </div>
                            <div class="card-body">
                                {% if (dvd[0].episodes)|length and (dvd[dvd|length - 1].episodes)|length %}
                                    Épisodes {{ dvd[0].episodes[0].number|add_leading_zero(3) }} à {{ dvd[dvd|length - 1].episodes[dvd[dvd|length - 1].episodes|length - 1].number|add_leading_zero(3) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'dvds'}) }}" class="btn btn-primary">Ajouter un DVD</a></p>
{% endblock %}