{% extends "base.html.twig" %}

{% block title %}Épisode {{ episode.number|add_leading_zero(3) }} — {{ episode.titleFr }}{% if episode.part != 0 %} (Partie {{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}){% endif %}{% endblock %}
{% block content %}
    {% set imgFilename = '/img/episode/' ~ episode.number|add_leading_zero(3) ~ '.jpg' %}
    {% if not file_exists('../public' ~ imgFilename) %}
        {% set imgFilename = '/img/unaired.jpg' %}
    {% endif %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ episode.titleFr }}{% if episode.part != 0 %} (Partie {{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}){% endif %}</h3>
            {% if episode.summary is not null and episode.summary is not empty %}
                <h4>Synopsis</h4>

                {{ episode.summary|markdown_to_html }}
            {% endif %}

            {% for case in episode.cases %}
                <h4><a href="{{ get_case_path(case) }}">{{ case.displayName }}</a></h4>
            {% endfor %}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table episode">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">Épisode {{ episode.number|add_leading_zero(3) }} <a href="{{ path('admin_submission_edit', {'section': 'episodes', 'id': episode.id }) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset(imgFilename) }}">
                                    <img class="img-fluid" src="{{ asset(imgFilename) }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Informations</th>
                        </tr>
                        <tr>
                            <th>Titre français</th>
                            <td>{{ episode.titleFr }}</td>
                        </tr>
                        <tr>
                            <th>Titre original</th>
                            <td>{% if episode.titleJpKanji %}{{ episode.titleJpKanji|rubify }}<br />({% endif %}<em>{{ episode.titleJpRomaji|rubify }}</em>{% if episode.titleJpKanji %}){% endif %}</td>
                        </tr>
                        <tr>
                            <th>Partie</th>
                            <td>{% if episode.part != 0 %}{{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}{% else %}Unique{% endif %}</td>
                        </tr>
                        {% if episode.special %}
                            <tr>
                                <th>Épisode spécial</th>
                                <td>Oui</td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Adaptation</th>
                        </tr>
                        {% if episode.cases|length %}
                            <tr>
                                <th>Affaire{% if episode.cases|length > 1 %}s{% endif %}</th>
                                <td>
                                    {% for case in episode.cases %}
                                        {% if loop.index > 1 %}<br />{% endif %}
                                        <a href="{{ get_case_path(case) }}">{{ case.displayName('long') }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if episode.cases|length %}
                            <tr>
                                <th>Manga</th>
                                <td>
                                    {% for case in episode.cases %}
                                        {% if loop.index > 1 %}<br />{% endif %}
                                        {% if case.chapters|length %}
                                            {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                                        {% else %}
                                            Hors Série
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Diffusion</th>
                        </tr>
                        <tr>
                            <th>Saison</th>
                            <td>{{ episode.season }}</td>
                        </tr>
                        <tr>
                            <th>Date de diffusion</th>
                            <td>{{ episode.date|format_date('long') }}</a></td>
                        </tr>
                        {% if episode.dateRemastered is not null %}
                            <tr>
                                <th>Date de remasterisation</th>
                                <td>{{ episode.dateRemastered|format_date('long') }}</td>
                            </tr>
                        {% endif %}
                        {% if episode.rating is not null %}
                            <tr>
                                <th>Audience</th>
                                <td>{{ episode.rating|format_number(style='decimal') }}&#8239;%</td>{# not formatted as percent as it truncates decimals ¬_¬ #}
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Indice</th>
                            <td>{{ episode.nextHint }}</td>
                        </tr>
                        {% if episode.dvd is not null %}
                            <tr>
                                <th>DVD</th>
                                <td><a href="{{ get_dvd_path(episode.dvd) }}">Part {{ episode.dvd.part }} — Vol {{ episode.dvd.number }}</a></td>
                            </tr>
                        {% endif %}
                        {% if episode.opening is not null or episode.ending is not null %}
                            <tr class="caption">
                                <th colspan="2">Musique</th>
                            </tr>
                            {% if episode.opening is not null %}
                                <tr>
                                    <th>Opening</th>
                                    <td>{{ episode.opening.number }} — {{ episode.opening.titleJp }} — {{ episode.opening.artist }}</td>
                                </tr>
                            {% endif %}
                            {% if episode.ending is not null %}
                                <tr>
                                    <th>Ending</th>
                                    <td>{{ episode.ending.number }} — {{ episode.ending.titleJp }} — {{ episode.ending.artist }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Liens</th>
                        </tr>
                        <tr>
                            <th>Téléchargement</th>
                            <td><a rel="nofollow" href="https://detective-conan-vostfr.info/rechercher.php?typesEpisode=1&amp;equipes=0&amp;numero={{ episode.number|add_leading_zero(3) }}&amp;contenus=0&amp;dateSortie=0&amp;tri=dateD">Meitantei Canon</a></td>
                        </tr>
                        {% if episode.ADNId is not null and episode.ADNId != 0 %}
                            <tr>
                                <th>Streaming</th>
                                <td><a rel="nofollow" href="https://animedigitalnetwork.fr/video/detective-conan/{{ episode.ADNId }}">Anime Digital Network</a></td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Chronologie</th>
                        </tr>
                        {% if epBefore is not null %}
                            <tr>
                                <th>Épisode précédent</th>
                                <td><a href="{{ get_episode_path(epBefore) }}">&lt;&lt; {{ epBefore.number|add_leading_zero(3) }} — {{ epBefore.titleFr }}{% if epBefore.part != 0 %} (Partie {{ epBefore.part }}{% if epBefore.partTitle is not null and epBefore.partTitle is not empty %} — {{ epBefore.partTitle }}{% endif %}){% endif %}</a></td>
                            </tr>
                        {% endif %}

                        {% if epAfter is not null %}
                            <tr>
                                <th>Épisode suivant</th>
                                <td><a href="{{ get_episode_path(epAfter) }}">{{ epAfter.number|add_leading_zero(3) }} — {{ epAfter.titleFr }}{% if epAfter.part != 0 %} (Partie {{ epAfter.part }}{% if epAfter.partTitle is not null and epAfter.partTitle is not empty %} — {{ epAfter.partTitle }}{% endif %}){% endif %} &gt;&gt;</a></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('episodes') }}">Revenir à la liste des épisodes</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
