{% extends "base.html.twig" %}

{% block title %}Épisodes {{ (episodes.results|first).number|add_leading_zero(3) }} - {{ (episodes.results|last).number|add_leading_zero(3) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{  encore_entry_script_tags('season-view') }}
{% endblock %}

{% block content %}
    {{ include('helper/episodes-page-switch.html.twig') }}
    <div class="table-responsive">
        <table class="table table-episodes">
            <thead>
                <tr>
                    <th class="text-center d-none d-md-table-cell">Image</th>
                    <th class="text-center d-none d-sm-table-cell">#</th>
                    <th>Titre</th>
                    <th class="text-center d-none d-md-table-cell">Affaire</th>
                    <th class="text-center">Source</th>
                    <th class="text-center">Diffusion</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes.results %}
                    {% set imgFilename = '/img/episode/' ~ episode.number|add_leading_zero(3) ~ '_small.jpg' %}
                    {% if not file_exists('../public' ~ imgFilename) %}
                        {% set imgFilename = '/img/unaired_small.jpg' %}
                    {% endif %}
                    <tr id="ep{{ episode.number|add_leading_zero(3) }}"{% if episode.special %} class="table-primary"{% endif %}>
                        <td class="align-middle text-center p-0 d-none d-md-table-cell"><img src="{{ asset(imgFilename) }}" alt="" /></td>
                        <td class="align-middle text-center pt-0 pb-0 d-none d-sm-table-cell"><strong>{{ episode.number|add_leading_zero(3) }}</strong> <a href="{{ path('admin_submission_edit', {'section': 'episodes', 'id': episode.id}) }}"><i class="far fa-edit"></i></a>{% if episode.number <= 906 %} <a rel="nofollow" href="https://detective-conan-vostfr.info/rechercher.php?typesEpisode=1&amp;equipes=0&amp;numero={{ episode.number|add_leading_zero(3) }}&amp;contenus=0&amp;dateSortie=0&amp;tri=dateD"><i class="fas fa-download"></i></a>{% endif %}{% if episode.ADNId is not null and episode.ADNId != 0 %} <a rel="nofollow" href="https://animedigitalnetwork.fr/video/detective-conan/{{ episode.ADNId }}"><i class="fas fa-video"></i></a>{% endif %}</td>
                        <td class="align-middle"><span class="d-sm-none"><a href="{{ path('admin_submission_edit', {'section': 'episodes', 'id': episode.id}) }}"><i class="far fa-edit"></i></a> <strong>{{ episode.number|add_leading_zero(3) }}</strong> — </span><a href="{{ get_episode_path(episode) }}"><strong>{{ episode.titleFr }}</strong></a>{% if episode.part != 0 %} (Partie {{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}){% endif %}
                            <p class="d-none d-md-block">{% if episode.titleJpKanji %}<span data-bs-toggle="tooltip" title="{{ episode.titleJpRomaji }}">{{ episode.titleJpKanji|rubify }}</span>{% else %}<em>{{ episode.titleJpRomaji }}</em>{% endif %}</p></td>
                        <td class="align-middle text-center d-none d-md-table-cell">
                            {% if episode.cases|length %}
                                {% for case in episode.cases %}
                                    {% if loop.index > 1 %}<br />{% endif %}
                                    <a href="{{ get_case_path(case) }}">{{ case.displayName('long') }}</a>
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">
                            {% if episode.cases|length %}
                                {% for case in episode.cases %}
                                    {% if loop.index > 1 %}<br />{% endif %}
                                    {% if case.chapters|length %}
                                        {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                                    {% else %}
                                        <span class="d-none d-md-inline">Hors Série</span>
                                        <a class="d-md-none" href="{{ get_case_path(case) }}">Hors Série n° {{ case.displayNumber }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Hors Série
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">{{ episode.date|format_date('medium') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ include('helper/episodes-page-switch.html.twig') }}
{% endblock %}
