{% extends "base.html.twig" %}

{% block title %}Épisodes{% endblock %}

{% block content %}
    {% set number_of_episodes_per_group = 100 %}
    {% for row in (1..(nbEpisodes / number_of_episodes_per_group)|round(0, 'ceil'))|batch(4, 'Empty space') %}
        <div class="row">
            {% for i in row %}
                <div class="col-6 col-md-3 text-center mb-3">
                    {% if i != 'Empty space' %}
                        {% set first_episode = (((i - 1) * number_of_episodes_per_group) + 1)|add_leading_zero(3) %}
                        {% set last_episode = ((i * number_of_episodes_per_group > nbEpisodes) ? nbEpisodes : i * number_of_episodes_per_group)|add_leading_zero(3) %}
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title"><a href="{{ path('episodes_paginated', {'page': i}) }}">Épisodes {{ first_episode }}-{{ last_episode }}</a></span>
                            </div>
                            <div class="card-img">
                                <a href="{{ path('episodes_paginated', {'page': i}) }}">
                                    <img class="img-fluid" src="{{ asset('img/episode/' ~ first_episode ~ '.jpg') }}" alt="" />
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <hr />

    <h3>Derniers épisodes</h3>
    <div class="table-responsive">
        <table class="table mb-0">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Titre</th>
                <th class="text-center">&nbsp;</th>
                <th class="text-center">Source</th>
                <th class="text-center">Diffusion</th>
            </tr>
            </thead>
            <tbody id="episodesList">
            {% for episode in episodes|reverse %}
                <tr class="episode{% if episode.special %} table-primary{% endif %}">
                    <td id="ep{{ episode.number|add_leading_zero(3) }}" class="text-center align-middle"><strong>{{ episode.number|add_leading_zero(3) }}</strong></td>
                    <td class="align-middle"><a href="{{ get_episode_path(episode) }}"><strong>{{ episode.titleFr }}</strong></a>{% if episode.part != 0 %} (Partie {{ episode.part }}{% if episode.partTitle is not null and episode.partTitle is not empty %} — {{ episode.partTitle }}{% endif %}){% endif %}</td>
                    <td class="align-middle text-center"><a href="{{ path('admin_submission_edit', {'section': 'episodes', 'id': episode.id}) }}"><i class="far fa-edit"></i></a>{% if episode.number <= 906 %} <a rel="nofollow" href="https://detective-conan-vostfr.info/rechercher.php?typesEpisode=1&amp;equipes=0&amp;numero={{ episode.number|add_leading_zero(3) }}&amp;contenus=0&amp;dateSortie=0&amp;tri=dateD"><i class="fas fa-download"></i></a>{% endif %}{% if episode.ADNId is not null and episode.ADNId != 0 %} <a rel="nofollow" href="https://animedigitalnetwork.fr/video/detective-conan/{{ episode.ADNId }}"><i class="fas fa-video"></i></a>{% endif %}</td>
                    <td class="align-middle text-center">
                        {% if episode.cases|length %}
                            {% for case in episode.cases %}
                                {% if loop.index > 1 %}<br />{% endif %}
                                {% if case.chapters|length %}
                                    {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                                {% else %}
                                    <a href="{{ get_case_path(case) }}">Hors Série n° {{ case.displayNumber }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Hors Série
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">{{ episode.date|format_date('medium') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'episodes'}) }}" class="btn btn-primary">Ajouter un épisode</a></p>
{% endblock %}
