{% extends "base.html.twig" %}

{% block title %}Films{% endblock %}
{% block content %}
    <p>Le franc succès remporté depuis plus de 10 ans par la série télévisée tirée du manga de «&nbsp;Détective Conan&nbsp;» a poussé les producteurs à adapter les aventures de notre détective favori sur grand écran.</p>

    <p>Depuis 1997, chaque nouvelle année apporte son long-métrage de «&nbsp;Détective Conan&nbsp;», tout comme d’autres grandes séries animées de la télévision japonaise actuelle&#8239;: «&nbsp;DORAemon&nbsp;» (depuis 1980), «&nbsp;Pokémon&nbsp;» (depuis 1998), «&nbsp;One Piece&nbsp;» (depuis 2000).</p>

    <p>En France, les six premiers films ont été édités en versions doublée et sous-titrée par Kazé Animation, et les vingt-deux premiers films en version sous-titrée par Black Box.</p>
    <hr />

    <h3 id="featuredmovies">Longs-métrages</h3>
    {{ include('helper/case-table.html.twig', {'cases': movies}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'movie'}) }}" class="btn btn-primary">Ajouter un film</a></p>
    <hr />

    <h3 id="specialmovies">Films spéciaux</h3>
    {{ include('helper/case-table.html.twig', {'cases': special_movies}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'movie_special'}) }}" class="btn btn-primary">Ajouter un film spécial</a></p>
{% endblock %}