{% extends "base.html.twig" %}

{% block title %}Épisodes spéciaux{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <p>Les épisodes spéciaux sont des épisodes uniques de l’<em>anime</em> qui se situent en dehors du contexte ou du flux habituel de la série. Ils offrent souvent une perspective ou un aperçu différent sur une histoire particulière.</p>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="#ova">OVA (Original Video Animation)</a></li>
                        <li class="list-group-item"><a href="#magicfiles">Magic Files</a></li>
                        <li class="list-group-item"><a href="#dc_specials">Détective Conan Épisodes spéciaux</a></li>
                        <li class="list-group-item"><a href="#mk_specials">Magic Kaito Épisodes spéciaux </a></li>
                        <li class="list-group-item"><a href="#mk1412">Magic Kaito 1412</a></li>
                        <li class="list-group-item"><a href="#tanpenshu">Recueil d’histoires courtes de Gōshō Aoyama</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3 id="ova">OVA (Original Video Animation)</h3>
    {{ include('helper/case-table.html.twig', {'cases': ovas}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'ova'}) }}" class="btn btn-primary">Ajouter un OVA</a></p>
    <hr />

    <h3 id="magicfiles">Magic Files</h3>
    {{ include('helper/case-table.html.twig', {'cases': magic_files}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'magic_file'}) }}" class="btn btn-primary">Ajouter un Magic File</a></p>
    <hr />

    <h3 id="dc_specials">Détective Conan Épisodes spéciaux</h3>
    {{ include('helper/case-table.html.twig', {'cases': dc_specials}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'dc_special'}) }}" class="btn btn-primary">Ajouter un épisode spécial de Détective Conan</a></p>
    <hr />

    <h3 id="mk_specials">Magic Kaito Épisodes spéciaux</h3>
    {{ include('helper/case-table.html.twig', {'cases': mk_specials}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'mk_special'}) }}" class="btn btn-primary">Ajouter un épisode spécial de Magic Kaito</a></p>
    <hr />

    <h3 id="mk1412">Magic Kaito 1412</h3>
    {{ include('helper/case-table.html.twig', {'cases': mk1412_episodes}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'mk1412'}) }}" class="btn btn-primary">Ajouter un épisode de Magic Kaito 1412</a></p>
    <hr />

    <h3 id="tanpenshu">Recueil d’histoires courtes de Gōshō Aoyama</h3>
    {{ include('helper/case-table.html.twig', {'cases': tanpenshus}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'tanpenshu'}) }}" class="btn btn-primary">Ajouter un recueil d’histoires courtes de Gōshō Aoyama</a></p>
{% endblock %}