<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.type) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.date) }}
    </div>
</div>