<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-9">
        {{ form_row(form.title) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.type) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.arc) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.date) }}
    </div>
    <div class="col-lg-3">
        &nbsp;
    </div>
</div>
{{ form_row(form.summary) }}
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.plot_chardev) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.plot_romance) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.plot_org) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.plot_essential) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.plot_recommended) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.plot_minor) }}
    </div>
</div>
{% if (action == 'valid' or action == 'edit') and originalEntity is not null and originalEntity.episodes is not empty %}
    <div class="alert alert-info">
        Tu peux nous aider à compléter les gadgets utilisés et personnages présents dans l’affaire à partir de <a href="https://www.detectiveconanworld.com/wiki/Episode_{{ originalEntity.episodes[0].number }}" rel="nofollow, noreferrer">ce lien</a>.
    </div>
{% endif %}
{{ form_row(form.gadgets) }}
{{ form_row(form.characters) }}