<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.volume) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.volume_number) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.case) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.title_fr) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.title_jp_romaji) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.title_jp_kanji) }}
    </div>
</div>