<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.firstname) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.lastname) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.shortname) }}
    </div>
    <div class="col-lg-5">
        {{ form_row(form.aliases) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.gender) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.age) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.height) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.weight) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.occupation) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.character_category) }}
    </div>
    <div class="col-lg-5">
        {{ form_row(form.first_appearance) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.voice_jp) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.voice_fr) }}
    </div>
</div>
{{ form_row(form.shortdesc) }}
{{ form_row(form.desc) }}