<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.part) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.ref) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.price) }}
    </div>
    <div class="col-lg-2">
        <label>&nbsp;</label>
        {{ form_row(form.ttc) }}
    </div>
</div>