<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.season) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date_remastered) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.rating) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.next_hint) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.title_fr) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.part) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.part_title) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.title_jp_romaji) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.dvd) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.adn_id) }}
    </div>
    <div class="col-lg-2">
        <label>&nbsp;</label>
        {{ form_row(form.special) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.title_jp_kanji) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.cases) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.opening) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.ending) }}
    </div>
</div>
{{ form_row(form.summary) }}