<div class="row">
    <div class="col-lg-5">
        {{ form_row(form.complete_name_fr) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.name_fr) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.name_jp) }}
    </div>
    <div class="col-lg-1">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        {{ form_row(form.created_by) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.first_use) }}
    </div>
    <div class="col-lg-1">
        &nbsp;
    </div>
</div>
{{ form_row(form.shortdesc) }}
{{ form_row(form.desc) }}
{{ form_row(form.used_by) }}