<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-5">
        {{ form_row(form.title) }}
    </div>
    <div class="col-lg-5">
        {{ form_row(form.case) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.types) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.causeOfDeath) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.location) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.scene) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label for="situation_form_suspects">{{ form.suspects.vars.label|trans }}</label>
        <select id="situation_form_suspects" class="form-control" name="situation_form[suspects][]" multiple>
            {% for suspect in form.suspects %}
                <option value="{{ suspect.vars.value }}" selected>{{ suspect.vars.value }}</option>
            {% endfor %}
        </select>
        {% do form.suspects.setRendered %}
    </div>
    <div class="col-lg-4">
        <label for="situation_form_victims">{{ form.victims.vars.label|trans }}</label>
        <select id="situation_form_victims" class="form-control" name="situation_form[victims][]" multiple>
            {% for victim in form.victims %}
                <option value="{{ victim.vars.value }}" selected>{{ victim.vars.value }}</option>
            {% endfor %}
        </select>
        {% do form.victims.setRendered %}
    </div>
    <div class="col-lg-4">
        <label for="situation_form_culprits">{{ form.culprits.vars.label|trans }}</label>
        <select id="situation_form_culprits" class="form-control" name="situation_form[culprits][]" multiple>
            {% for culprit in form.culprits %}
                <option value="{{ culprit.vars.value }}" selected>{{ culprit.vars.value }}</option>
            {% endfor %}
        </select>
        {% do form.culprits.setRendered %}
    </div>
</div>
{{ form_row(form.summary) }}
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.resolutionExplanations) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.resolutionEvidences) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.resolutionMotive) }}
    </div>
</div>
{#<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.solved_by) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.solved_via) }}
    </div>
    <div class="col-lg-4">&nbsp;</div>
</div>#}