<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.album) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.time) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date_first_use) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.date) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.artist) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.title_jp) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.title_en) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.title_fr) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.youtube_id) }}
    </div>
    <div class="col-lg-9">
        &nbsp;
    </div>
</div>