<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.number) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.type) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.date_jp) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.date_fr) }}
    </div>
</div>
{{ form_row(form.summary) }}