{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}
{% block title %}Bienvenue&#8239;!{% endblock %}
{% block header %}
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-3 order-md-1 order-2">
                    <img src="{{ asset('img/homepage/conan_cover.svg') }}" alt="" />
                </div>
                <div class="col-sm-9 order-md-2 order-1">
                    <h1>Bienvenue sur <strong>Black Org</strong></h1>
                    <br />
                    <h3>Encyclopédie sur l’univers de Détective Conan</h3>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
            <div class="row"><div class="col-5"></div><div class="col-2"><hr /></div><div class="col-5"></div></div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid round-image" src="{{ asset('img/homepage/conan_reading.jpg') }}" alt="" />
                    <h3 class="pt-2">Encyclopédique</h3>
                    <p>Le site se veut le plus complet possible sur l’univers de la série, avec toutes les informations principales mais également des dossiers et analyses pour approfondir tes connaissances.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid round-image" src="{{ asset('img/homepage/conan_team.jpg') }}" alt="" />
                    <h3 class="pt-2">Collaboratif</h3>
                    <p>Série toujours en cours de publication, des mises à jour et un enrichissement du contenu s’impose. Chacun peut <a href="{{ path('contributing') }}">contribuer</a> selon son niveau.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid round-image" src="{{ asset('img/homepage/kaito_bird.jpg') }}" alt="" />
                    <h3 class="pt-2">Libre</h3>
                    <p>Le contenu est disponible sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a> et le <a href="https://gitlab.com/papjul/blackorg">code source</a> du site web sous licence AGPLv3.</p>
                </div>
            </div>
            <br />
            <br />
            <div class="row"><div class="col-5"></div><div class="col-2"><hr /></div><div class="col-5"></div></div>
            <br />
        </div>
    </div>
    <div id="content-homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br />
                    <h1 class="text-center">Détective Conan</h1>
                    <br />
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <img class="img-fluid" src="{{ asset('img/homepage/shinichi_park.jpg') }}" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h3>L’histoire</h3>
                            <p>On suit les aventures de <a href="{{ path('character_view', {'shortname': 'Shinichi_Kudo'}) }}">Shin’ichi Kudō</a>, un jeune détective prodige qui a été rétréci par inadvertance dans le corps d’un enfant à cause d’un poison que les membres d’une organisation criminelle l’ont forcé à avaler. Le <a href="{{ path('character_view', {'shortname': 'Hiroshi_Agasa'}) }}">professeur Agasa</a>, son voisin et ami de la famille, a fortement suggéré à Shin’ichi de cacher son identité pour les empêcher de le tuer lui et ses proches, et Shin’ichi prend donc le nom de <a href="{{ path('character_view', {'shortname': 'Conan_Edogawa'}) }}">Conan Edogawa</a>. Il vit avec son amie d’enfance <a href="{{ path('character_view', {'shortname': 'Ran_Mori'}) }}">Ran Mōri</a> et son père, <a href="{{ path('character_view', {'shortname': 'Kogoro_Mori'}) }}">Kogorō</a>, et essaie d’utiliser l’agence de détective de Kogorō pour retrouver les personnes qui l’ont empoisonné — sans laisser Ran découvrir qui il est vraiment.</p>
                            <p><a href="{{ path('plot') }}" class="btn btn-primary">Guide complet de l’intrigue</a></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8 order-md-1 order-2">
                            <h3>Les personnages</h3>
                            <p>Conan sait s’entourer de ses meilleurs alliés, tels que le groupe des <a href="{{ path('characters') }}#cat3">Détectives Junior</a>, <a href="{{ path('characters') }}#cat4">sa famille et ses proches</a>, des <a href="{{ path('characters') }}#cat5">membres des forces de loi</a>, et même <a href="{{ path('characters') }}#cat17">certaines célébrités</a>. La diversité des personnages amène au développement de <a href="{{ path('relationships') }}">relations romantiques</a> parmi certains d’entre eux.</p>
                            <p>Pour préserver son identité auprès de son entourage, le professeur Agasa a développé plusieurs <a href="{{ path('gadgets') }}">gadgets</a> pour aider Conan.</p>
                        </div>
                        <div class="col-md-4 order-md-2 order-1">
                            <img class="img-fluid" src="{{ asset('img/character/all.jpg') }}" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <img class="img-fluid" src="{{ asset('img/homepage/black_org.jpeg') }}" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h3>L’Organisation Noire</h3>
                            <p>L’<a href="{{ path('org') }}">Organisation des Membres en Noir</a> (tel que désigné par Conan) joue le rôle de principal antagoniste dans la série. C’est une organisation secrète avec un objectif caché. Pour atteindre cet objectif, ils commettent divers crimes pour maintenir leur secret, éliminent les obstacles, et recueillient des fonds et ressources pour leurs mystérieux projets de recherches. Leurs membres ont des noms de code basés sur des alcools. Les premiers membres à apparaître sont <a href="{{ path('character_view', {'shortname': 'Gin'}) }}">Gin</a> et <a href="{{ path('character_view', {'shortname': 'Vodka'}) }}">Vodka</a>, responsables de la transformation de Shin’ichi à l’aide de l’énigmatique <a href="{{ path('aptx') }}">APTX-4869</a>.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8 order-md-1 order-2">
                            <h3>L’univers</h3>
                            <p>Cet univers est né dans l’esprit de <a href="{{ path('author') }}">Gōshō Aoyama</a>, l’auteur. Il a écrit plus de 90 <a href="{{ path('volumes') }}">tomes</a> et plus de 1000 <a href="{{ path('chapters') }}">chapitres</a>. Pour plus d’aisance, nous avons regroupé les chapitres en <a href="{{ path('cases') }}">affaires</a>, elles-mêmes regroupées par arc narratif.</p>
                            <p>Détective Conan étant une série populaire, il faut penser à s’informer de l’<a href="{{ path('news') }}">actualité</a> pour rester à jour.</p>
                        </div>
                        <div class="col-md-4 order-md-2 order-1">
                            <img class="img-fluid" src="{{ asset('img/homepage/gosho_aoyama.jpg') }}" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <img class="img-fluid" src="{{ asset('img/homepage/conan_movie20.jpg') }}" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h3>L’adaptation animée</h3>
                            <p>Fort de son succès, le manga a été <a href="{{ path('anime') }}">adapté en version animée</a>, comptabilisant plus de 900 <a href="{{ path('episodes') }}">épisodes</a>, édités en <a href="{{ path('dvds') }}">DVD</a>. Des <a href="{{ path('movies') }}">long-métrages</a> ont rapidement vu le jour, mais également des <a href="{{ path('specials') }}">épisodes hors série</a>.</p>
                            <p>La <a href="{{ path('music') }}">musique</a> joue un rôle important au sein de cette adaptation.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8 order-md-1 order-2">
                            <h3>Œuvres dérivées</h3>
                            <p>D’autres œuvres dérivées ont vu le jour, tels que plusieurs <a href="{{ path('drama') }}">drama</a> (adaptation en prise de vue réelle) ou encore des <a href="{{ path('games') }}">jeux vidéo</a>.</p>
                            <p>Un des assistants de l’auteur a également dessiné plusieurs <a href="{{ path('chapters_tokubetsu') }}">chapitres spéciaux</a>, édités en <a href="{{ path('volumes_type', {'type': 'tokubetsu'}) }}">tomes</a>.</p>
                        </div>
                        <div class="col-md-4 order-md-2 order-1">
                            <img class="img-fluid" src="{{ asset('img/homepage/conan_drama.jpg') }}" alt="" />
                            {#<img class="img-fluid" src="{{ asset('img/homepage/conan_game.jpg') }}" alt="" />#}
                        </div>
                    </div>
                    <p class="text-center"><a class="btn btn-primary btn-lg" href="{{ path('sitemap') }}">Accéder au plan complet du site</a></p>
                </div>
            </div>
{% endblock %}