{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}
{% block content %}
    <h3>Liste des messages de contact</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Réf.</th>
                    <th>Objet</th>
                    <th>Expéditeur</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr class="table-secondary">
                        <td class="text-center">#{{ message.id }}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.identity }}{% if message.email is not null and message.email is not empty %} &lt;{{ message.email }}&gt;{% endif %}</td>
                        <td>{{ message.creationDate|format_datetime('full') }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ message.message|markdown_to_html }}</td>
                    </tr>
                {% else %}
                    <tr><td class="text-center" colspan="6"><em>Pas de messages de contact en attente</em></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}