{% extends "base.html.twig" %}

{% block title %}{% if action == 'edit' %}Modifier{% elseif action == 'valid' %}Valider{% else %}Ajouter{% endif %} {{ ('a' ~ entityName)|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block content %}
    {% if similarPendings|length %}
        {% set message %}**Attention**, il y a déjà une ou plusieurs suggestions en attente de validation pour cette entité&#8239;:

{% for similarPending in similarPendings %}
* [#{{ similarPending.id }}](/admin/submissions/view/{{ similarPending.id }})
{% endfor %}

Merci de vérifier que la modification que tu t’apprêtes à faire n’est pas déjà en attente ci-dessus.{% endset %}
        {% include 'helper/alert.html.twig' with { message: message, type: 'warning' } only %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% include 'form/' ~ section ~ '.html.twig' %}

    {{ form_widget(form.message) }} {# Honeypot #}
    {#{% if action == 'valid' %}
        {{ form_widget(form.sub_id) }}
    {% endif %}#} {# May be unused #}
    {{ form_row(form.comm) }}
    {% if action == 'valid' %}
        {{ form_row(form.reason) }} {# Renommer ce champ pour l'utiliser lors des changements de statut ? #}
    {% endif %}
    {% if not app.user %}
        {{ form_row(form.agreeClaAndPrivacyPolicy) }}
    {% endif %}
    <div class="text-center">
        {{ form_widget(form.submit) }}
        {% if action == 'valid' %}
            {{ form_widget(form.update) }}
            {{ form_widget(form.reject) }}
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}
