{% set noindex = true %}
{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}
{% block content %}
    <h3>Bienvenue dans l’administration de Black Org&#8239;!</h3>

    <p>Contrairement à la majorité des sites, l’administration de Black Org est ouverte aux visiteurs, <ins>sans nécessité de s’inscrire</ins>.</p>
    <p>Cela se rapproche d’un modèle similaire à Wikipédia, avec quelques ressemblances et différences.</p>
    <p><a class="btn btn-primary" href="{{ path('cla') }}">En savoir plus</a> <a class="btn btn-success" href="{{ path('contributing') }}">Liste de contributions à faire</a></p>
    <hr />

    <h3>Sections</h3>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Affaires</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'cases'}) }}">Affaires</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'situations'}) }}">Situations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Univers</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'characters'}) }}">Personnages</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'gadgets'}) }}">Gadgets</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Manga</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'volumes'}) }}">Tomes</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'chapters'}) }}">Chapitres</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Affaires</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'episodes'}) }}">Épisodes</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'cases'}) }}">Films/Spéciaux</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'dvds'}) }}">DVD</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Musique</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'albums'}) }}">Albums</a></li>
                        <li class="list-group-item"><a href="{{ path('admin_section', {'section': 'tracks'}) }}">Musiques</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Divers</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a class="disabled"{# href="{{ path('admin_section', {'section': 'events'}) }}"#}>Actualité</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center"><a class="btn btn-lg btn-secondary" href="{{ path('admin_submissions') }}">Voir toutes les suggestions</a></p>
{% endblock %}