{% extends "base.html.twig" %}

{% block title %}Suggestions{% endblock %}
{% block content %}
    <h3>Liste des suggestions en attente</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Réf.</th>
                    <th>Type</th>
                    <th>Opération</th>
                    <th>Identifiant</th>
                    <th>Statut</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td class="text-center"><a href="{{ path('admin_submission_view', {'id': submission.id}) }}">#{{ submission.id }}</a></td>
                        <td><a href="{{ get_admin_entity_path(submission.type) }}">{{ submission.type|trans }}</a></td>
                        <td>{% if submission.pending.current %}Modification{% else %}Ajout{% endif %}</td>
                        <td>{% if submission.pending.current %}<a href="{{ get_entity_path(submission.pending.current) }}">{% endif %}{{ submission.pending }}{% if submission.pending.current %}</a>{% endif %}</td>
                        <td>En attente depuis le {{ submission.dateSubmitted|format_datetime('medium', 'short') }}</td>
                        <td>
                            <a href="{{ path('admin_submission_view', {'id': submission.id}) }}" class="btn btn-sm btn-secondary">Voir</a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td class="text-center" colspan="6"><em>Pas de suggestions en attente</em></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <h3>Dernières suggestions validées</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Réf.</th>
                <th>Type</th>
                <th>Opération</th>
                <th>Identifiant</th>
                <th>Statut</th>
                <th>Gestion</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in validatedSubmissions %}
                <tr>
                    <td class="text-center"><a href="{{ path('admin_submission_view', {'id': submission.id}) }}">#{{ submission.id }}</a></td>
                    <td><a href="{{ get_admin_entity_path(submission.type) }}">{{ submission.type|trans }}</a></td>
                    <td>{% if submission.pending.current %}Modification{% else %}Ajout{% endif %}</td>
                    <td>{% if submission.pending.current %}<a href="{{ get_entity_path(submission.pending.current) }}">{% endif %}{{ submission.pending }}{% if submission.pending.current %}</a>{% endif %}</td>
                    <td>Validée le {{ submission.dateValid|format_datetime('medium', 'short') }}</td>
                    <td>
                        <a href="{{ path('admin_submission_view', {'id': submission.id}) }}" class="btn btn-sm btn-secondary">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center" colspan="6"><em>Pas de suggestions dernièrement validées</em></td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}