{% extends "base.html.twig" %}

{% block title %}Administration des utilisateurs{% endblock %}
{% block content %}
    <h3>Liste des utilisateurs</h3>
    <div class="table-responsive table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Courriel</th>
                    <th>Inscrit le</th>
                    <th>Dernière connexion</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.registrationDate|format_date }}</td>
                        <td>{% if user.lastLogin %}{{ user.lastLogin|format_date }}{% endif %}</td>
                        <td>
                            {% if user.enabled %}
                                <i class="fas fa-check-circle text-success" title="Actif"></i>
                            {% else %}
                                <i class="fas fa-times-circle text-danger" title="Non-actif"></i>
                            {% endif %}
                            {% if user.emailConfirmed %}
                                <i class="fas fa-envelope-open text-success" title="Courriel confirmé"></i>
                            {% else %}
                                <i class="fas fa-envelope text-danger" title="Courriel non-confirmé"></i>
                            {% endif %}
                            {% if user.locked %}
                                <i class="fas fa-lock text-danger" title="Verrouillé"></i>
                            {% else %}
                                <i class="fas fa-lock-open text-success" title="Non-verrouillé"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}