{% extends "base.html.twig" %}

{% block title %}Suggestion #{{ submission.id }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if is_granted('ROLE_VALIDATOR') and not submission.validated and not submission.deleted %}
        {{ encore_entry_link_tags('form') }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_VALIDATOR') and not submission.validated and not submission.deleted %}
        {{ encore_entry_script_tags('form') }}
    {% endif %}
{% endblock %}

{% block content %}
    <h3>[{{ submission.type|trans }}] {{ submission.pending }}</h3>
    {% if submission.validated %}
        {% include 'helper/alert.html.twig' with { message: 'Cette suggestion a été validée le ' ~ submission.dateValid|format_datetime('long') ~ ((submission.userValid is not null) ? ' par ' ~ submission.userValid.username : ''), type: 'success' } only %}
    {% elseif submission.deleted %}
        {% include 'helper/alert.html.twig' with { message: 'Cette suggestion a été rejetée le ' ~ submission.dateValid|format_datetime('long') ~ ((submission.userValid is not null) ? ' par ' ~ submission.userValid.username : '') ~ ((submission.reason is not null and submission.reason is not empty) ? ' pour la raison suivante&#8239;: ' ~ submission.reason : ''), type: 'danger' } only %}
    {% else %}
        {% include 'helper/alert.html.twig' with { message: 'Cette suggestion est en attente' ~ ((submission.dateSubmitted is not null) ? ' depuis le ' ~ submission.dateSubmitted|format_datetime('long') : '') ~ '.', type: 'primary' } only %}
    {% endif %}
    <div class="table-responsive">
        <table class="table table-admin-{% if submission.pending.current %}compare{% else %}new{% endif %}">
            <thead>
                <tr>
                    <th>Donnée</th>
                    {% if submission.pending.current %}
                        {% set currentVersionPath = get_entity_path(submission.pending.current) %}
                        <th>
                            {% if currentVersionPath %}<a href="{{ currentVersionPath }}">{% endif %}
                            Version actuelle
                            {% if currentVersionPath %}</a>{% endif %}
                        </th>
                    {% endif %}
                    <th>Version proposée</th>
                </tr>
            </thead>
            <tbody>
                {% for field in submission.changedFields %}
                    <tr>
                        <th>{{ (section ~ '_' ~ field)|trans }}</th>
                        {% if submission.pending.current %}
                            <td class="markdown">
                                {% set value = attribute(submission.pending.current, field|replace({'_': ''}))|show_difference %}
                                {% if field == 'title_jp_kanji' %}
                                    {{ value|rubify }}
                                {% else %}
                                    {% if value is iterable %}
                                        {% for val in value %}
                                            {{ val|markdown_to_html('inline') }}<br />
                                        {% endfor %}
                                    {% else %}
                                        {{ value|markdown_to_html }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="markdown">
                            {% set value = attribute(submission.pending, field|replace({'_': ''}))|show_difference %}
                            {% if field == 'title_jp_kanji' %}
                                {{ value|rubify }}
                            {% else %}
                                {% if value is iterable %}
                                    {% for val in value %}
                                        {{ val|markdown_to_html('inline') }}<br />
                                    {% endfor %}
                                {% else %}
                                    {{ value|markdown_to_html }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if submission.comm %}
                    <tr>
                        <th>Commentaire</th>
                        <td{% if submission.pending.current %} colspan="2"{% endif %} class="markdown">{{ submission.comm|markdown_to_html }}</td>
                    </tr>
                {% endif %}
                {% if submission.reason %}
                    <tr>
                        <th>Commentaire du validateur</th>
                        <td{% if submission.pending.current %} colspan="2"{% endif %} class="markdown">{{ submission.reason|markdown_to_html }}</td>
                    </tr>
                {% endif %}
            </tfoot>
        </table>
    </div>
    {% if is_granted('ROLE_VALIDATOR') and not submission.validated and not submission.deleted %}
        {#<form method="post" action="{{ path('admin_submission_view', {'id': submission.id}) }}">#}
            <p class="text-center">
                {#<input type="submit" name="valid" class="btn btn-success" value="Accepter la suggestion" />#}
                <a href="{{ path('admin_submission_valid', {'id': submission.id}) }}" class="btn btn-primary">Apporter des modifications</a>
                {#<input type="submit" name="reject" class="btn btn-danger" value="Rejeter la suggestion" />#}
            </p>
        {#</form>#}
    {% endif %}
{% endblock %}