{% extends "base.html.twig" %}

{% block title %}{{ album.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ album.name }}</h3>
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table music">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">{{ album.name }} <a href="{{ path('admin_submission_edit', {'section': 'albums', 'id': album.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset('/img/album/' ~ album.id ~ '.jpg') }}">
                                    <img class="img-fluid" src="{{ asset('/img/album/' ~ album.id ~ '.jpg') }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Informations</th>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ album.name }}</td>
                        </tr>
                        <tr>
                            <th>Date de sortie</th>
                            <td>{{ album.date|format_date('long') }}</td>
                        </tr>
                        <tr>
                            <th>Pistes</th>
                            <td>{{ album.tracks|length }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('music') }}">Revenir à la liste des musiques</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if album.tracks|length %}
        <hr />
        <h4>Pistes</h4>
        <div class="table-responsive">
            <table class="table table-tracks">
                <thead>
                    <tr>
                        <th class="text-center">&nbsp;</th>
                        <th class="text-center">#</th>
                        <th>Titre original</th>
                        <th>Titre en anglais</th>
                        <th>Titre en français</th>
                        <th>Artiste</th>
                        <th class="text-center">Durée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in album.tracks %}
                    <tr id="track{{ track.number }}">
                        <td class="text-center">{% if track.youtubeId is not null %}<a href="https://www.youtube.com/watch?v={{ track.youtubeId }}" rel="noreferrer, nofollow">{% endif %}<i class="fas fa-play-circle"></i>{% if track.youtubeId is not null %}</a>{% endif %}</td>
                        <td class="text-center"><strong>{{ track.number|add_leading_zero(2) }}</strong></td>
                        <td><strong>{{ track.titleJp }}</strong> <a href="{{ path('admin_submission_edit', {'section': 'tracks', 'id': track.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td>{{ track.titleEn }}</td>
                        <td>{{ track.titleFr }}</td>
                        <td>{{ track.artist }}</td>
                        <td class="text-center">{{ track.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <p class="text-center"><a href="{{ path('admin_submission_add_track', {'section': 'tracks', 'parameter': album.id}) }}" class="btn btn-primary">Ajouter une piste</a></p>
{% endblock %}
