{% extends "base.html.twig" %}

{% block title %}Musique{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <p>Étant donné la longueur de la série <em>Meitantei Conan</em>, l’anime a dû faire appel à différents génériques. De même, la bande son extraite de la série et des films joue un rôle capital avec des musiques aux goûts variés et originaux.</p>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><a href="#opening">Génériques d’ouverture (dits “openings”)</a></li>
                        <li class="list-group-item"><a href="#ending">Génériques de clôture (dits “endings”)</a></li>
                        <li class="list-group-item"><a href="#movie">Génériques de clôture des films</a></li>
                        <li class="list-group-item"><a href="#tv_ost">Bande originale de la série</a></li>
                        <li class="list-group-item"><a href="#movie_ost">Bande originale des films</a></li>
                        <li class="list-group-item"><a href="#other">Autres albums</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3 id="opening">Génériques d’ouverture (dits “openings”)</h3>
    <div class="table-responsive">
        <table class="table table-oped">
            <thead>
                <tr>
                    <th class="text-center">&nbsp;</th>
                    <th class="text-center">#</th>
                    <th>Titre original</th>
                    <th>Artiste</th>
                    <th class="text-center">Épisodes</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for opening in openingAlbum.tracks %}
                    <tr id="op{{ opening.number }}">
                        <td class="text-center">{% if opening.youtubeId is not null %}<a href="https://www.youtube.com/watch?v={{ opening.youtubeId }}" rel="noreferrer, nofollow">{% endif %}<i class="fas fa-play-circle"></i>{% if opening.youtubeId is not null %}</a>{% endif %}</td>
                        <td class="text-center"><strong>{{ opening.number|add_leading_zero(2) }}</strong></td>
                        <td><strong>{{ opening.titleJp }}</strong> <a href="{{ path('admin_submission_edit', {'section': 'tracks', 'id': opening.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td>{{ opening.artist }}</td>
                        <td class="text-center">
                            {% if opening.episodesOp|length %}
                                <a href="{{ get_episode_path(opening.episodesOp[0]) }}">{{ opening.episodesOp[0].displayNumber }}</a>
                                {% if opening.episodesOp|length > 1 %}
                                     — <a href="{{ get_episode_path(opening.episodesOp[opening.episodesOp|length - 1]) }}">{{ opening.episodesOp[opening.episodesOp|length - 1].displayNumber }}</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ opening.date|format_date('short') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add_track', {'section': 'tracks', 'parameter': 1}) }}" class="btn btn-primary">Ajouter un opening</a></p>
    <hr />

    <h3 id="ending">Génériques de clôture (dits “endings”)</h3>
    <div class="table-responsive">
        <table class="table table-oped">
            <thead>
                <tr>
                    <th class="text-center">&nbsp;</th>
                    <th class="text-center">#</th>
                    <th>Titre original</th>
                    <th>Artiste</th>
                    <th class="text-center">Épisodes</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for ending in endingAlbum.tracks %}
                    <tr id="ed{{ ending.number }}">
                        <td class="text-center">{% if ending.youtubeId is not null %}<a href="https://www.youtube.com/watch?v={{ ending.youtubeId }}" rel="noreferrer, nofollow">{% endif %}<i class="fas fa-play-circle"></i>{% if ending.youtubeId is not null %}</a>{% endif %}</td>
                        <td class="text-center"><strong>{{ ending.number|add_leading_zero(2) }}</strong></td>
                        <td><strong>{{ ending.titleJp }}</strong> <a href="{{ path('admin_submission_edit', {'section': 'tracks', 'id': ending.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td>{{ ending.artist }}</td>
                        <td class="text-center">
                            {% if ending.episodesEd|length %}
                                <a href="{{ get_episode_path(ending.episodesEd[0]) }}">{{ ending.episodesEd[0].displayNumber }}</a>
                                {% if ending.episodesEd|length > 1 %}
                                     — <a href="{{ get_episode_path(ending.episodesEd[ending.episodesEd|length - 1]) }}">{{ ending.episodesEd[ending.episodesEd|length - 1].displayNumber }}</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ ending.date|format_date('short') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add_track', {'section': 'tracks', 'parameter': 2}) }}" class="btn btn-primary">Ajouter un ending</a></p>
    <hr />

    <h3 id="movie">Génériques de clôture de films</h3>
    <div class="table-responsive">
        <table class="table table-oped">
            <thead>
                <tr>
                    <th class="text-center">&nbsp;</th>
                    <th class="text-center">#</th>
                    <th>Titre original</th>
                    <th>Artiste</th>
                    <th>&nbsp;</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in movieThemeAlbum.tracks %}
                    <tr id="movie{{ theme.number }}">
                        <td class="text-center">{% if theme.youtubeId is not null %}<a href="https://www.youtube.com/watch?v={{ theme.youtubeId }}" rel="noreferrer, nofollow">{% endif %}<i class="fas fa-play-circle"></i>{% if theme.youtubeId is not null %}</a>{% endif %}</td>
                        <td class="text-center"><strong>{{ theme.number|add_leading_zero(2) }}</strong></td>
                        <td><strong>{{ theme.titleJp }}</strong> <a href="{{ path('admin_submission_edit', {'section': 'tracks', 'id': theme.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td>{{ theme.artist }}</td>
                        <td>&nbsp;</td>
                        <td class="text-center">{{ theme.date|format_date('short') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add_track', {'section': 'tracks', 'parameter': 3}) }}" class="btn btn-primary">Ajouter un ending de film</a></p>
    <hr />

    <h4 id="tv_ost">Bande originale de la série</h4>
    <div class="table-responsive">
        <table class="table table-albums">
            <thead>
                <tr>
                    <th>Nom de l’album/collection</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for album in tvOST %}
                    <tr>
                        <td><a href="{{ get_album_path(album) }}"><strong>{{ album.name }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'albums', 'id': album.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td class="text-center">{{ album.date|format_date('short') }}</td>
                    </tr>
                {% else %}
                    <tr><td class="text-center" colspan="2"><em>Aucun album trouvé</em></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h4 id="movie_ost">Bande originale des films</h4>
    <div class="table-responsive">
        <table class="table table-albums">
            <thead>
                <tr>
                    <th>Nom de l’album/collection</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for album in movieOST %}
                    <tr>
                        <td><a href="{{ get_album_path(album) }}"><strong>{{ album.name }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'albums', 'id': album.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td class="text-center">{{ album.date|format_date('short') }}</td>
                    </tr>
                {% else %}
                    <tr><td class="text-center" colspan="2"><em>Aucun album trouvé</em></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h4 id="other">Autres albums</h4>
    <div class="table-responsive">
        <table class="table table-albums">
            <thead>
                <tr>
                    <th>Nom de l’album/collection</th>
                    <th class="text-center">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                {% for album in other %}
                    <tr>
                        <td><a href="{{ get_album_path(album) }}"><strong>{{ album.name }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'albums', 'id': album.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td class="text-center">{{ album.date|format_date('short') }}</td>
                    </tr>
                {% else %}
                    <tr><td class="text-center" colspan="2"><em>Aucun album trouvé</em></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'albums'}) }}" class="btn btn-primary">Ajouter un album</a></p>
{% endblock %}