{% extends "base.html.twig" %}
{% block title %}Tomes de Wild Police Story{% endblock %}
{% block content %}
    <p>Détective Conan arc de l’académie de police, aussi appelé « Wild Police Story », est un spin-off de Détective Conan. Il a été dessiné par Takahiro Arai sous la supervision de Gōshō Aoyama. La sérialisation s’est faite dans le Weekly Shōnen Sunday de Shogakukan entre octobre 2019 et novembre 2020.</p>

    <p>On compte {{ volumes|length }} tomes dont le dernier a été publié le {{ latestVolume.dateJp|format_date('long') }}.</p>

    <p>L’histoire prend place sept ans auparavant, quand Rei Furuya, alors agé de 22 ans, et ses amis sont formés à l’académie de police métropolitaine.</p>
    <hr />

    <h3 id="volumelist">Liste des tomes</h3>
    <div class="table-responsive">
        <table class="table table-chapters-wps">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Date de sortie japonaise</th>
                    <th class="text-center">Date de sortie française</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                    <tr class="table-secondary">
                        <td id="volwps{{ volume.number }}" class="text-center"><a href="{{ get_volume_path(volume) }}">{{ volume.number }}</a></td>
                        <td class="text-center">{{ volume.dateJp|format_date('short') }}</td>
                        <td class="text-center">{% if volume.dateFr is not null %}{{ volume.dateFr|format_date('short') }}{% else %}—{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Liste des chapitres&#8239;:</strong>
                            <ul class="list-unstyled">
                                {% for chapter in volume.chapters %}
                                    <li><a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': chapter.id}) }}"><i class="far fa-edit"></i></a> {{ chapter.displayNumber }} — {{ chapter.titleFr }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% if volume.summary is not null %}
                        <tr>
                            <td colspan="2" class="markdown">{{ volume.summary|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p class="text-center"><a href="{{ path('admin_submission_add_volume', {'section': 'volumes', 'parameter': 'wps'}) }}" class="btn btn-primary">Ajouter un tome Wild Police Story</a> <a href="{{ path('admin_submission_add_chapter', {'section': 'chapters', 'parameter': 'wps'}) }}" class="btn btn-primary">Ajouter un chapitre Wild Police Story</a></p>
{% endblock %}