{% extends "base.html.twig" %}
{% block title %}Tomes spéciaux{% endblock %}
{% block content %}
    <p>Les tomes spéciaux de Conan, plus couramment appelés <em>Meitantei Conan Tokubetsu-Hen</em> sont réalisés par l’assistant de Gōshō, Eiichi Yamagishi. On peut les considérer comme du <em>dōjinshi</em>, mais publiés avec l’autorisation d’Aoyama. Actuellement, dix-huit tomes sont parus en Allemagne aux éditions Ehapa Comic Collection et Egmont Manga &amp; Anime sous le titre «&#8239;Detektiv Conan Short Stories&#8239;». En français, il n’existe pas d’éditeur officiel.</p>

    <p>Deux affaires ont été adaptées de ce travail dans l’anime, dans les épisodes 86 (Changer le cours des choses) et 113 (Plage en deuil). L’épisode 86 a une réelle importance dans l’histoire puisqu’il introduit le douzième gadget inventé par le professeur Agasa, à savoir le plan électronique. Cependant, ce dernier n’a plus été réutilisé depuis cette affaire.</p>

    <p>On compte {{ volumes|length }} tomes dont le dernier a été publié le {{ latestVolume.dateJp|format_date('long') }}.</p>
    <hr />

    <h3 id="volumelist">Liste des tomes</h3>
    <div class="table-responsive">
        <table class="table table-chapters-tokubetsu">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Date de sortie japonaise</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                    <tr class="table-secondary">
                        <td id="vol{{ volume.number }}sp" class="text-center"><a href="{{ get_volume_path(volume) }}">{{ volume.number }}</a></td>
                        <td class="text-center">{{ volume.dateJp|format_date('short') }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Liste des chapitres&#8239;:</strong>
                            <ul class="list-unstyled">
                                {% for chapter in volume.chapters %}
                                    <li><a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': chapter.id}) }}"><i class="far fa-edit"></i></a> {{ chapter.displayNumber }} — {{ chapter.titleFr }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% if volume.summary is not null %}
                        <tr>
                            <td colspan="2" class="markdown">{{ volume.summary|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p class="text-center"><a href="{{ path('admin_submission_add_volume', {'section': 'volumes', 'parameter': 'tokubetsu'}) }}" class="btn btn-primary">Ajouter un tome spécial</a> <a href="{{ path('admin_submission_add_chapter', {'section': 'chapters', 'parameter': 'tokubetsu'}) }}" class="btn btn-primary">Ajouter un chapitre spécial</a></p>
{% endblock %}