{% extends "base.html.twig" %}
{% block title %}Tomes de film{% endblock %}
{% block content %}
    <p>Les Shonen Sunday Comics Special sont édités pour chaque film depuis 2006 par Shogakukan.</p>

    <p>On compte {{ volumes|length }} tomes dont le dernier a été publié le {{ latestVolume.dateJp|format_date('long') }}.</p>
    <hr />

    <h3 id="volumelist">Liste des tomes</h3>
    <div class="table-responsive">
        <table class="table table-chapters-movie">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Date de sortie japonaise</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                    <tr class="table-secondary">
                        <td id="vol{{ volume.number }}movie" class="text-center">{{ volume.number }}</td>
                        <td><a href="{{ get_volume_path(volume) }}">{{ volume.chapters[0].titleFr }}</a> <a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': volume.chapters[0].id}) }}"><i class="far fa-edit"></i></a></td>
                        <td class="text-center">{{ volume.dateJp|format_date('short') }}</td>
                    </tr>
                    {% if volume.summary is not null %}
                        <tr>
                            <td colspan="2" class="markdown">{{ volume.summary|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p class="text-center"><a href="{{ path('admin_submission_add_volume', {'section': 'volumes', 'parameter': 'movie'}) }}" class="btn btn-primary">Ajouter un tome de film</a> <a href="{{ path('admin_submission_add_chapter', {'section': 'chapters', 'parameter': 'movie'}) }}" class="btn btn-primary">Ajouter un chapitre de film</a></p>
{% endblock %}