{% extends "base.html.twig" %}

{% block title %}Chapitres{% endblock %}
{% block content %}
    <p>Voici ci-dessous une liste des chapitres du manga écrits par <a href="{{ path('author') }}" title="Gōshō Aoyama">Gōshō Aoyama</a> et publié dans le Weekly Shōnen Sunday. Le premier chapitre est sorti le {{ firstChapter.date|format_date('long') }} et la série est toujours en cours de publication, avec {{ maxChapter }} chapitres à son actif.</p>

    <p>Au Japon, il existe {{ latestJpVolume.number }} tomes publiés par <em>Shōgakukan</em>. Le premier tome est sorti le {{ firstVolume.dateJp|format_date('long') }} et le tome {{ latestJpVolume.number }}, le {{ latestJpVolume.dateJp|format_date('long') }}. La couverture de chaque tome met en scène le personnage principal, Conan Edogawa. Chaque tome inclut également une page concernant la biographie d’un détective de fiction ou d’un criminel.</p>

    <p>En France, Détective Conan est licencié par Kana, qui a sorti {{ latestFrVolume.number }} tomes. Le premier tome a été publié le {{ firstVolume.dateFr|format_date('long') }} et le tome {{ latestFrVolume.number }}, le {{ latestFrVolume.dateFr|format_date('long') }}.</p>
    <hr />

    <h3 id="volumelist">Liste des tomes</h3>
    <div class="table-responsive">
        <table class="table table-chapters">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Date de sortie japonaise</th>
                    <th class="text-center">Date de sortie française</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                    <tr class="table-secondary">
                        <td id="vol{{ volume.number }}" class="text-center"><a href="{{ get_volume_path(volume) }}">{{ volume.number }}</a></td>
                        <td class="text-center">{{ volume.dateJp|format_date('short') }}</td>
                        <td class="text-center">{% if volume.dateFr is not null %}{{ volume.dateFr|format_date('short') }}{% else %}—{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Liste des chapitres&#8239;:</strong>
                            <ul class="list-unstyled">
                                {% for chapter in volume.chapters %}
                                    <li id="ch{{ chapter.number }}"><a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': chapter.id}) }}"><i class="far fa-edit"></i></a> {{ chapter.displayNumber }} — {{ chapter.titleFr }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% if volume.summary is not null and volume.summary is not empty %}
                        <tr>
                            <td colspan="3" class="markdown">{{ volume.summary|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h3 id="prepublished">Chapitres pré-publiés</h3>
    <ul class="list-unstyled">
        {% for pChapter in prepublishedChapters %}
            <li id="ch{{ pChapter.number }}"><a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': pChapter.id}) }}"><i class="far fa-edit"></i></a> {{ pChapter.displayNumber }} — {{ pChapter.titleFr }}</li>
        {% endfor %}
    </ul>

    <p class="text-center"><a href="{{ path('admin_submission_add_volume', {'section': 'volumes', 'parameter': 'original'}) }}" class="btn btn-primary">Ajouter un tome</a> <a href="{{ path('admin_submission_add_chapter', {'section': 'chapters', 'parameter': 'original'}) }}" class="btn btn-primary">Ajouter un chapitre</a></p>
{% endblock %}