{% extends "base.html.twig" %}

{% block title %}Tome {% if volume.type == 'tokubetsu' %}spécial {% endif %}{% if volume.type == 'movie' %}de film {% endif %}{% if volume.type == 'wps' %}Wild Police Story {% endif %}{{ volume.number }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>Synopsis</h3>

            {{ volume.summary|markdown_to_html }}

            <h3>Chapitres</h3>
            {% set case = 0 %}
            {% for chapter in volume.chapters %}
                {% if chapter.case is not null %}
                    {% if chapter.case.id != case %}
                        {% if case != 0 %}
                            <br />
                        {% endif %}
                        {% set case = chapter.case.id %}
                        <h5><a href="{{ get_case_path(chapter.case) }}">{{ chapter.case.title }}</a></h5>
                    {% endif %}
                {% endif %}
                <p id="ch{{ chapter.number }}">
                    <a href="{{ path('admin_submission_edit', {'section': 'chapters', 'id': chapter.id}) }}"><i class="far fa-edit"></i></a> <strong>{% if not chapter.case or chapter.case.type != 'movie' %}{{ chapter.displayNumber }} — {% endif %}{{ chapter.titleFr }}</strong>
                    {% if chapter.titleJpKanji or chapter.titleJpRomaji%}
                        <br />({% if chapter.titleJpKanji %}{{ chapter.titleJpKanji|rubify }}, {% endif %}{% if chapter.titleJpRomaji %}<em>{{ chapter.titleJpRomaji }}</em>{% endif %})
                    {% endif %}
                    {% if chapter.date is not null %}
                        <br />Pré-publié le {{ chapter.date|format_date('long') }}
                    {% endif %}
                </p>
            {% endfor %}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table volume">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">Tome {% if volume.type == 'tokubetsu' %}spécial {% endif %}{% if volume.type == 'movie' %}de film {% endif %}{% if volume.type == 'wps' %}Wild Police Story {% endif %}{{ volume.number }} <a href="{{ path('admin_submission_edit', {'section': 'volumes', 'id': volume.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset('/img/volume/cover/jp/full/' ~ ((volume.type == 'wps') ? 'wps' : '') ~ ((volume.type == 'movie') ? 'movie' : '') ~ volume.number ~ ((volume.type == 'tokubetsu') ? 'sp' : '') ~ '.jpg') }}">
                                    <img class="img-fluid" src="{{ asset('/img/volume/cover/jp/' ~ ((volume.type == 'wps') ? 'wps' : '') ~ ((volume.type == 'movie') ? 'movie' : '') ~ volume.number ~ ((volume.type == 'tokubetsu') ? 'sp' : '') ~ '.jpg') }}" alt="" />
                                </a>
                                {% if volume.dateFr is not null %}
                                    <br />
                                    <a href="{{ asset('/img/volume/cover/fr/full/' ~ ((volume.type == 'wps') ? 'wps' : '') ~ ((volume.type == 'movie') ? 'movie' : '') ~ volume.number ~ ((volume.type == 'tokubetsu') ? 'sp' : '') ~ '.jpg') }}">
                                        <img class="img-fluid" src="{{ asset('/img/volume/cover/fr/' ~ ((volume.type == 'wps') ? 'wps' : '') ~ ((volume.type == 'movie') ? 'movie' : '') ~ volume.number ~ ((volume.type == 'tokubetsu') ? 'sp' : '') ~ '.jpg') }}" alt="" />
                                    </a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Information</th>
                        </tr>
                        <tr>
                            <th class="w-50">Date de sortie japonaise</th>
                            <td>{{ volume.dateJp|format_date('long') }}</td>
                        </tr>
                        {% if volume.type == 'manga' %}
                            <tr>
                                <th class="w-50">Date de sortie française</th>
                                <td>{% if volume.dateFr is not null %}{{ volume.dateFr|format_date('long') }}{% else %}—{% endif %}</td>
                            </tr>
                            {% if volume.dateFr is not null %}
                                <tr>
                                    <th class="w-50">Lien commercial</th>
                                    <td><a href="https://www.kana.fr/produit/detective-conan-t{{ volume.number }}/" rel="nofollow noreferer">Kana</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Chronologie</th>
                        </tr>
                        {% if volumeBefore is not null %}
                            <tr>
                                <th class="w-50">Tome précédent</th>
                                <td><a href="{{ get_volume_path(volumeBefore) }}">&lt;&lt; Tome {% if volumeBefore.type == 'tokubetsu' %}spécial {% endif %}{% if volumeBefore.type == 'movie' %}de film {% endif %}{% if volumeBefore.type == 'wps' %}WPS {% endif %}{{ volumeBefore.number }}</a></td>
                            </tr>
                        {% endif %}

                        {% if volumeAfter is not null %}
                            <tr>
                                <th class="w-50">Tome suivant</th>
                                <td><a href="{{ get_volume_path(volumeAfter) }}">Tome {% if volumeAfter.type == 'tokubetsu' %}spécial {% endif %}{% if volumeAfter.type == 'movie' %}de film {% endif %}{% if volumeAfter.type == 'wps' %}WPS {% endif %}{{ volumeAfter.number }} &gt;&gt;</a></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-center"><a href="{% if volume.type != 'original' %}{{ path('volumes_type', {'type': volume.type}) }}{% else %}{{ path('volumes') }}{% endif %}">Revenir à la liste des tomes{% if volume.type == 'tokubetsu' %} spéciaux{% endif %}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
