{% extends "base.html.twig" %}

{% block title %}Tomes{% if type == 'tokubetsu' %} spéciaux{% endif %}{% if type == 'movie' %} de film{% endif %}{% if type == 'wps' %} Wild Police Story{% endif %}{% endblock %}
{% block content %}
    {% for row in volumes|batch(6, 'Empty space') %}
        <div class="row">
            {% for volume in row %}
                <div class="col-sm-2">
                    {% if volume != 'Empty space' %}
                        <a href="{{ get_volume_path(volume) }}">
                            <img class="img-fluid" src="{{ asset('/img/volume/cover/jp/' ~ ((volume.type == 'wps') ? 'wps' : '') ~ ((volume.type == 'movie') ? 'movie' : '') ~ volume.number ~ ((volume.type == 'tokubetsu') ? 'sp' : '') ~ '.jpg') }}" alt="Tome {% if volume.type == 'tokubetsu' %}spécial {% endif %} {{ volume.number }}" />
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div><br />
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add_volume', {'section': 'volumes', 'parameter': type}) }}" class="btn btn-primary">Ajouter un tome{% if type == 'tokubetsu' %} spécial{% endif %}{% if type == 'movie' %} de film{% endif %}{% if type == 'wps' %} Wild Police Story{% endif %}</a></p>
{% endblock %}