@import 'base';

@import '~@fortawesome/fontawesome-free/css/all.css';
/*
[data-theme="dark"] {
  @import 'theme-dark';
}

[data-theme="light"] {
  @import 'theme-light';
}
*/
$link-decoration: none;
$link-hover-decoration: underline;
$link-color-alt: #64b5f6;

$tooltip-color-alt: #fff;
$tooltip-bg-alt: #000;

@import "~bootstrap/scss/bootstrap.scss";

// Workaround until Bootstrap 6
html[data-bs-theme=dark] {
  .table-primary {
    --bs-table-bg:#1c2d40;
    --bs-table-striped-bg:#27384a;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#334253;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#2d3d4e;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#334253;
    --bs-table-color:#fff
  }
  .table-secondary {
    --bs-table-bg:#313131;
    --bs-table-striped-bg:#3b3b3b;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#464646;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#404040;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#464646;
    --bs-table-color:#fff
  }
  .table-success {
    --bs-table-bg:#005e46;
    --bs-table-striped-bg:#0d664f;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#1a6e59;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#136a54;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#1a6e59;
    --bs-table-color:#fff
  }
  .table-info {
    --bs-table-bg:#0c515c;
    --bs-table-striped-bg:#185a64;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#24626c;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#1e5e68;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#24626c;
    --bs-table-color:#fff
  }
  .table-warning {
    --bs-table-bg:#7a4e09;
    --bs-table-striped-bg:#815715;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#876022;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#845b1b;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#876022;
    --bs-table-color:#fff
  }
  .table-danger {
    --bs-table-bg:#74261e;
    --bs-table-striped-bg:#7b3129;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#823c35;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#7e362f;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#823c35;
    --bs-table-color:#fff
  }
  .table-light {
    --bs-table-bg:#9e9e9e;
    --bs-table-striped-bg:#969696;
    --bs-table-striped-color:#000;
    --bs-table-active-bg:#8e8e8e;
    --bs-table-active-color:#000;
    --bs-table-hover-bg:#929292;
    --bs-table-hover-color:#000;
    --bs-table-border-color:#8e8e8e;
    --bs-table-color:#000
  }
  .table-dark {
    --bs-table-bg:#3b3b3b;
    --bs-table-striped-bg:#454545;
    --bs-table-striped-color:#fff;
    --bs-table-active-bg:#4f4f4f;
    --bs-table-active-color:#fff;
    --bs-table-hover-bg:#4a4a4a;
    --bs-table-hover-color:#fff;
    --bs-table-border-color:#4f4f4f;
    --bs-table-color:#fff
  }
}
