/** Layout **/
html {
  height: 100%;
}

#navbar {
  background-color: #000 !important;

  a.nav-link {
    color: #fff !important;
  }

  a.nav-link:hover {
    color: #008cbc !important;
  }
}

header {
  background-color: #074E68;
  padding: 11px 0;
}

header.dev {
  background-color: #800000;
}

header h1 {
  color: #FFFFFF;
  text-align: center;
}

footer {
  color: #FFFFFF;
  background: #2c2c2c;
  font-size: 90%;
}

#footer-copyright {
  color: #858585;
  padding-top: 24px;
  padding-bottom: 10px;
}

#footer-copyright a {
  color: #858585;
}

#footer-copyright a:hover {
  color: #E5E5E5;
}

footer .logo {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0;
}

footer .copyright {
  font-size: 0.75rem;
}

footer img {
  opacity: 0.4;
}

footer img:hover {
  opacity: 1.0;
}

/** Profil **/
.profile_table {
  width: 100%;
}

.profile_table thead .caption th {
  font-size: 120%;
  text-align: center;
}

.profile_table.character .caption th {
  background-color: #2BA6CB;
  color: #FFF;
}

.profile_table.episode .caption th {
  background-color: #5BBD53;
  color: #FFF;
}

.profile_table.music .caption th {
  background-color: #E268EF;
  color: #FFF;
}

.profile_table.case .caption th {
  background-color: #DF5829;
  color: #FFF;
}

.profile_table.volume .caption th {
  background-color: #FF9900;
  color: #FFF;
}

.profile_table.gadget .caption th {
  background-color: #A153D2;
  color: #FFF;
}

.profile_table.dvd .caption th {
  background-color: #69C3A5;
  color: #FFF;
}

.profile_table.movie .caption th {
  background-color: #17223B;
  color: #FFF;
}

.profile_table.special .caption th {
  background-color: #432000;
  color: #FFF;
}

.profile_table.drama .caption th {
  background-color: #000;
  color: #FFF;
}

.profile_table th, .profile_table td {
  font-size: 90%;
  margin: 3px 0 3px;
}

.profile_table th {
  text-align: left;
}


/** Colors on profile tables **/
table.cases {
  width: 100%;
}

table.cases tr.manga:nth-child(2n-1), table.cases div.plot-frame.manga,
table.cases tr.wps:nth-child(2n-1), table.cases div.plot-frame.wps{
  background-color: #004a2f;
}

table.cases tr.manga:nth-child(2n),
table.cases tr.wps:nth-child(2n) {
  //background-color: #005a39;
}

table.cases tr.anime:nth-child(2n-1), table.cases div.plot-frame.anime {
  background-color: #5e0606;
}

table.cases tr.anime:nth-child(2n) {
  //background-color: #5F1854;
}

table.cases tr.movie:nth-child(2n-1), table.cases div.plot-frame.movie,
table.cases tr.movie_special:nth-child(2n-1), table.cases div.plot-frame.movie_special {
  background-color: #17223B;
}

table.cases tr.movie:nth-child(2n),
table.cases tr.movie_special:nth-child(2n) {
  //background-color: #263859;
}

table.cases tr.ova:nth-child(2n-1), table.cases div.plot-frame.ova,
table.cases tr.magic_file:nth-child(2n-1), table.cases div.plot-frame.magic_file,
table.cases tr.dc_special:nth-child(2n-1), table.cases div.plot-frame.dc_special,
table.cases tr.mk_special:nth-child(2n-1), table.cases div.plot-frame.mk_special,
table.cases tr.mk1412:nth-child(2n-1), table.cases div.plot-frame.mk1412,
table.cases tr.tanpenshu:nth-child(2n-1), table.cases div.plot-frame.tanpenshu {
  background-color: #432000;
}

table.cases tr.ova:nth-child(2n),
table.cases tr.magic_file:nth-child(2n),
table.cases tr.dc_special:nth-child(2n),
table.cases tr.mk_special:nth-child(2n),
table.cases tr.mk1412:nth-child(2n),
table.cases tr.tanpenshu:nth-child(2n) {
  //background-color: #263859;
}

table.cases tr.drama_special:nth-child(2n-1), table.cases div.plot-frame.drama_special,
table.cases tr.drama_episode:nth-child(2n-1), table.cases div.plot-frame.drama_episode {
  background-color: #000000;
}

table.cases tr.drama_special:nth-child(2n),
table.cases tr.drama_episode:nth-child(2n) {
  //background-color: #263859;
}

/** Key plot elements on Arc (single)/Movies/Specials pages **/
.plot-frame {
  margin-top: 1rem;
  padding: 0.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.summary p, .markdown p {
  margin-bottom: 0 !important;
}

/** legend **/
ul.legend li:before {
  border-radius: 50%;
  color: #FFF;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  top: -3px;
  margin-left: -38px;
  width: 28px;
  margin-right: 28px;
  font-size: 14px;
  content: " ";
}

ul.legend li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
  list-style-type: none;
  padding-left: 40px;
}

ul.legend li.feature:before {
  background-color: #30A0E0;
}

ul.legend li.improved:before {
  background-color: #F09050;
}

ul.legend li.fix:before {
  background-color: #E05050;
}

ul.legend li.content:before {
  background-color: #60E080;
  content: "C";
}

/* Effects on arc images */
.arc figure {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.arc figure:hover {
  opacity: .5;
}

.arc a:hover {
  text-decoration: none !important;
}

/** Miscellaneous **/
/* Forms */
.required:after {
  content: "*";
}

.honeypot {
  visibility: hidden; // display: hidden not working
  width: 0;
  height: 0 !important;
  min-height: 0;
  padding: 0 !important;
  margin: 0;
  border: 0 !important;
}

/* Tables headers */
table:not(.profile_table) thead > * > * {
  color: #fff!important;
  background-color: #343a40!important;
  border-color: #454d55!important;
}

/* Divided list */
.list-group-flush li.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.list-group-flush li.list-group-item:first-child {
  padding-top: 0;
}

.list-group-flush li.list-group-item:last-child {
  padding-bottom: 0;
}

.chart {
  &.arc1 {
    background-color: #00a2e8;
    color: #fff;
  }

  &.arc2 {
    background-color: #a349a4;
    color: #fff;
  }

  &.arc3 {
    background-color: #a40004;
    color: #fff;
  }

  &.arc4 {
    background-color: #b5e61d;
    color: #343a40;
  }

  &.arc5 {
    background-color: #fbee00;
    color: #343a40;
  }

  &.arc6 {
    background-color: #ff7f27;
    color: #343a40;
  }

  &.arc7 {
    background-color: #7092be;
    color: #fff;
  }
}

.table-contributing {
  max-height: 500px
}

.column-id {
  width: 70px
}

.dvd-cover {
  width: 115px;

  img {
    width: 115px;
  }
}

.table-chapters thead tr, .table-chapters-wps thead tr {
  th:nth-child(1) {
    width: 6%;
  }

  th:nth-child(2), th:nth-child(3) {
    width: 47%;
  }
}

.table-chapters-tokubetsu thead tr, .table-chapters-movie thead tr {
  th:nth-child(1) {
    width: 6%;
  }

  th:nth-child(3) {
    width: 20%;
  }
}

.table-characters thead tr {
  th:nth-child(1) {
    width: 60px;
  }

  th:nth-child(2) {
    width: 120px;
  }
}

.table-gadgets thead tr {
  th:nth-child(1) {
    width: 60px;
  }

  th:nth-child(2), th:nth-child(3) {
    width: 20%;
  }

  th:nth-child(4) {
    width: 15%;
  }
}

.table-relationships thead tr {
  th:nth-child(1) {
    width: 100px;
  }
}

.table-tracks thead tr {
  th:first-child, th:nth-child(2), th:last-child {
    width: 40px;
  }
}

.table-oped thead tr {
  th:first-child, th:nth-child(2) {
    width: 40px;
  }

  th:nth-child(4) {
    width: 30%;
  }

  th:nth-child(5), th:last-child {
    width: 130px;
  }
}

.table-albums thead tr {
  th:last-child {
    width: 130px;
  }
}

.table-episodes thead tr {
  th:nth-child(2) {
    width: 40px;
  }
}

.table-admin-new thead tr {
  th:first-child {
    width: 20%;
  }
  th:last-child {
    width: 80%;
  }
}
.table-admin-compare thead tr {
  th:first-child {
    width: 20%;
  }
  th:nth-child(2), th:last-child {
    width: 40%;
  }
}

.profile_table.gadget td, .profile_table.character td, .profile_table.music td, .profile_table.drama td, .profile_table.movie td, .profile_table.special td, .profile_table.case td, .profile_table.episode td {
  width: 65%;
}

.table-situation th {
  width: 150px;
}

.table_org {
  figure {
    margin-bottom: 0
  }
}

.table-org-chief {
  tr:first-child {
    background-color: #000;
  }

  tr {
    border-color: #000;
  }
}

.table-org-second {
  tr:first-child {
    background-color: #393939;
  }

  tr {
    border-color: #393939;
  }
}

.table-org-general-oversight {
  tr:first-child {
    background-color: #555555;
  }

  tr {
    border-color: #555555;
  }
}

th.org-internal-division {
  background-color: #777799 !important;
  border-color: #777799;
}

th.org-external-division {
  background-color: #779977 !important;
  border-color: #779977;
}

th.org-unknown-division {
  background-color: #907040 !important;
  border-color: #907040;
}

.table-org-divisions {
  tr:nth-child(2) {
    color: #000;
    background-color: #eaecf0 !important;

    th:first-child, th:last-child {
      width: 15%;
    }

    th:nth-child(2), th:nth-child(3), th:nth-child(5) {
      width: 14%;
    }

    th:nth-child(4) {
      width: 28%;
    }
  }

  tr:nth-child(3) {
    th {
      color: #000000;
      width: 14%;
    }

    th:first-child {
      background-color: #FFE0E0 !important;
    }

    th:last-child {
      background-color: #E0E0FF !important;
    }
  }
}