@charset "utf-8"; 

@import '../../node_modules/easymde/dist/easymde.min.css';
@import '../../node_modules/choices.js/src/styles/choices';

// Fix for useless whitespace
.choices__list--dropdown .choices__item--selectable {
  padding-right: 0 !important;
}

// Fix for break inside words
.choices__list--dropdown {
  word-break: break-word !important;
}

// Fix for height spanning on multiple lines
.choices__list--single > .choices__item--selectable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}

// Fix to make a Bootstrap feel
.choices__list--multiple .choices__item {
  border: 1px solid #aaa;
  border-radius: 4px;
}

// Fix height
.choices__list--single {
  padding: 0;
}

.choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
  // TODO: Fix this ugly background image
  color: inherit;
}

.choices[data-type*="select-one"]::after {
  // TODO: Fix color
}

.choices__inner {
  //height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.choices__inner:focus-within {
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

// TODO: Change border of tags when clicked

html[data-bs-theme=light] {
  .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
    border-left: 1px solid #000;
  }
  .choices__list--multiple .choices__item {
    background-color: #e4e4e4;
    color: inherit;
  }
  .choices__inner {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  .choices__input {
    background-color: #fff !important;
  }
  .choices__list--dropdown {
    border-color: #ced4da;
  }
}

html[data-bs-theme=dark] {
  // Markdown
  .CodeMirror {
    color: #b1b1b1;
    background-color: #3b3b3b;
  }

  .EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
    background-color: #222222;
    color: #b1b1b1;
  }

  .editor-toolbar i.fa {
    color: #b1b1b1;
  }

  .editor-toolbar button.active i, .editor-toolbar button:hover i {
    //background: #31363b;
    //border-color: #95a5a6
    color: #e1e1e1;
  }

  .editor-toolbar button:hover {
    background-color: #3b3b3b;
  }

  .editor-toolbar {
    background-color: #222222;
  }

  .editor-toolbar a {
    color: #b1b1b1 !important
  }

  .editor-toolbar a.active,.editor-toolbar a:hover {
    color: #232629 !important
  }

  // Choices.js
  .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
    border-left: 1px solid #d5d6d7;
  }
  .choices__list--multiple .choices__item {
    background-color: #222222;
    color: #b1b1b1;
  }
  .choices__inner {
    color: #b1b1b1;
    background-color: #3b3b3b;
    border: 1px solid #515151;
  }
  .choices__input {
    background-color: #3b3b3b !important;
    color: #b1b1b1;
  }
  .choices__list--dropdown {
    border: 1px solid #515151;
    background-color: #3b3b3b;
    color: #b1b1b1;
  }
  .choices__list--dropdown:hover {
    color: #b1b1b1;
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #222222;
  }
}