header {
  background-color: #0e2a37 !important;
  background-image: none !important;
  color: #FFF;
}

header h1 {
  text-align: left !important;
}

#content {
  background-image: linear-gradient(#0e2a37, #074E68);
  color: #FFF;
}

.round-image {
  border-radius: 50%;
  width: 200px
}