#calendar ul {
  display: flex;
}

#calendar li {
  width: 14.342%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays li {
  background-color: #343a40;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  border: none !important;
  color: #fff;
}

#calendar .days li {
  min-height: 159px;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: #333;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  float: right;
  box-sizing: unset;
}

#calendar .date.today {
  background: #074E68;
}

#calendar .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
}

#calendar .event-desc {
  margin: 3px 0 3px 0;
}

/** TODO: Replace with primary, warning, danger and success */
#calendar .event-type-0 {
  background-color: #A4CAE6;
  border: 1px solid #84aac6;
}

#calendar .event-type-1 {
  background-color: #FBF484;
  border: 1px solid #dbd454;
}

#calendar .event-type-2 {
  background-color: #CCFF00;
  border: 1px solid #99ff00;
}

#calendar .event-type-3 {
  background-color: #F2BFBF;
  border: 1px solid #d29f9f;
}

html[data-bs-theme=light] {
  #calendar .other-month {
    background: #f5f5f5;
    color: #666;
  }
}

html[data-bs-theme=dark] {
  #calendar .other-month {
    background: #808080;
    color: #666;
  }
}

@media(max-width: 768px) {
  #calendar ul {
    flex-direction: column;
  }

  #calendar .weekdays, #calendar .other-month {
    display: none;
  }

  #calendar li {
    min-height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  #calendar .date {
    float: none;
  }
}