{% block markdown_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' easymde-textarea')|trim}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}
