{% block choice_widget_expanded -%}
    {% set options = choices -%}
    {{- block('choice_widget_expanded_options') -}}
{%- endblock choice_widget_expanded %}

{# block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
                valid: valid,
            }) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded #}

{% block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {% set is_parent_custom = parent_label_class is defined and ('checkbox-custom' in parent_label_class or 'radio-custom' in parent_label_class) %}
        {% set is_custom = label_attr.class is defined and ('checkbox-custom' in label_attr.class or 'radio-custom' in label_attr.class) %}
        {%- if is_parent_custom or is_custom -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' custom-control-label')|trim}) -%}
        {%- else %}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- endif %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': '', 'checkbox-custom': '', 'radio-custom': ''})|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}

        {{ widget|raw }}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {% autoescape false %}
            {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain)) -}}
            {% endautoescape %}
            {{- form_errors(form) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{%- block choice_widget_expanded_options -%}
    {% set nb_per_line = 4 %}
    {% if options is iterable and options|first is iterable %}
        {% for group_label, choice in options %}
            <fieldset id="{{ 'fieldset_' ~ group_label }}" class="form-group mt-0 border px-3 pb-3"><legend class="col-form-label w-auto">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }} — <a href="#" class="checkAllCheckboxesButton">Tout sélectionner</a> / <a href="#" class="uncheckAllCheckboxesButton">Tout désélectionner</a></legend>
                {% set options = choice.choices %}
                {{- block('choice_widget_expanded_options') -}}
            </fieldset>
        {% endfor %}
    {% else %}
        {% for row in options|batch(nb_per_line, 'Empty space') %}
            <div class="row">
                {% for group_label, choice in row %}
                    <div class="col-lg-{{ (12 / nb_per_line) }} text-nowrap">
                        {% if choice != 'Empty space' %}
                            {{ form_widget(form[group_label], {
                                parent_label_class: wlabel_attr.class|default(''),
                                translation_domain: choice_translation_domain,
                                valid: valid,
                            }) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{%- endblock choice_widget_expanded_options -%}