{% if app.user %}
    {% set pending_submissions_count = get_pending_submissions_count() %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set pending_contact_messages_count = get_pending_contact_messages_count() %}
    {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="{% if (app.user and app.user.theme == 'dark') or (app.session and app.session.get('theme') and app.session.get('theme') == 'dark') %}dark{% else %}light{% endif %}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="description" content="Encyclopédie collaborative sur l’univers de Détective Conan" />

        <link rel="icon" type="image/png" href="{{ asset('/favicon.ico') }}" />

        <title>{% if block('title') is defined %}{{ block('title') }} | {% endif %}Black Org</title>
        {% if noindex is defined %}
            <meta name="robots" content="noindex" />
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            {% block navbar %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('homepage') }}">Black Org</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            {% if maintenance is not defined %}
                                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item{# active #}"><a class="nav-link" href="{{ path('news') }}" title="Calendrier des événements">Actualité</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('plot') }}" title="Guide de l’intrigue">Guide</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('cases') }}">Affaires</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('episodes') }}">Épisodes</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('chapters') }}">Chapitres</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('characters') }}">Personnages</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('music') }}">Musiques</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plus</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{ path('movies') }}">Films</a>
                                            <a class="dropdown-item" href="{{ path('specials') }}">Épisodes spéciaux</a>
                                            <a class="dropdown-item" href="{{ path('drama') }}">Drama</a>
                                            <a class="dropdown-item" href="{{ path('dvds') }}">DVD</a>
                                            <a class="dropdown-item" href="{{ path('chapters_wps') }}">Wild Police Story</a>
                                            <a class="dropdown-item" href="{{ path('chapters_tokubetsu') }}">Chapitres spéciaux</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('timeline') }}">Chronologie</a>
                                            <a class="dropdown-item" href="{{ path('org') }}">L’Organisation</a>
                                            <a class="dropdown-item" href="{{ path('gadgets') }}">Gadgets</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('search') }}">Recherche d’affaire</a>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                            {% if maintenance is not defined %}
                                <ul class="navbar-nav d-flex">
                                    {#<li class="nav-item">
                                        <form class="form-inline my-2 my-lg-0">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" />
                                            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher <i class="fas fa-search"></i></button>
                                        </form>
                                    </li>#}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('contact') }}" title="Contacter l’administrateur">Contact</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                            <i class="fas fa-user" aria-hidden="true"></i>
                                            {% if app.user %}{{ app.user.username }}{% else %}Compte{% endif %}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right{# bg-dark #}" aria-labelledby="userDropdown">
                                            {% if app.user %}
                                                <a class="dropdown-item" href="{{ path('user_account') }}" title="Mon compte">Mon compte</a>
                                                <a class="dropdown-item" href="{{ path('user_submissions') }}" title="Mes suggestions">Mes suggestions</a>
                                                <a class="dropdown-item" href="{{ path('user_logout') }}" title="Déconnexion">Déconnexion</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ path('user_register') }}" title="Inscription">Inscription</a>
                                                <a class="dropdown-item" href="{{ path('user_login') }}" title="Connexion">Connexion</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                                            <div class="dropdown-menu dropdown-menu-right{# bg-dark #}" aria-labelledby="adminDropdown">
                                                <a class="dropdown-item" href="{{ path('admin_submissions') }}" title="Suggestions">Suggestions{% if pending_submissions_count > 0 %} ({{ pending_submissions_count }}){% endif %}</a>
                                                <a class="dropdown-item" href="{{ path('admin_users') }}" title="Liste des utilisateurs">Utilisateurs</a>
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <a class="dropdown-item" href="{{ path('admin_contact') }}" title="Messages de contact">Messages{% if pending_contact_messages_count > 0 %} ({{ pending_contact_messages_count }}){% endif %}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('admin') }}" title="Administration">Administration</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link" title="Changer de thème" href="#" id="theme-switcher"><i class="fas fa-adjust"></i> Thème</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock navbar %}

            {% block header %}
                <header{% if app.environment == 'dev' %} class="dev"{% endif %}>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="mt-2">{% if block('title') is defined %}{{ block('title') }}{% else %}Black Org{% endif %}</h1>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock header %}

            <div id="content" class="py-4">
                <div class="container">
                    {% block breadcrumbs %}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-2 px-3" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <span class="pr-2">[<a href="{{ path('sitemap') }}">Plan</a>]</span> <a href="{{ path('homepage') }}" itemprop="item"><span itemprop="name">Accueil</span></a>
                                    <meta itemprop="position" content="1" />
                                </li>
                                {% if breadcrumb is defined %}
                                    {% for breadurl, breadtitle in breadcrumb %}
                                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <a href="{{ breadurl }}" itemprop="item"><span itemprop="name">{{ breadtitle }}</span></a>
                                            <meta itemprop="position" content="{{ loop.index + 1 }}" />
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
                                    <span itemprop="name">{% if shortTitle is defined %}{{ shortTitle }}{% else %}{% if block('title') is defined %}{{ block('title') }}{% else %}Black Org{% endif %}{% endif %}</span>
                                    <meta itemprop="position" content="{% if breadcrumb is defined %}{{ breadcrumb|length + 2 }}{% else %}2{% endif %}" />
                                </li>
                            </ol>
                        </nav>
                    {% endblock %}

                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            {% include 'helper/alert.html.twig' with { 'message': message, 'type': type } only %}
                        {% endfor %}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <footer class="footer mt-auto">
            <div id="footer-copyright" class="container">
                <a class="logo" href="{{ path('homepage') }}">Black Org</a>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://gitlab.com/papjul/blackorg"><img src="{{ asset('/img/icons/agpl.jpg') }}" title="Code source sous licence AGPLv3" alt="AGPLv3" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="{{ asset('/img/icons/cc-by-sa.jpg') }}" title="Contenu sous licence Common Creatives BY-SA sauf mention contraire" alt="CC BY-SA" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://validator.w3.org/check?uri=referer"><img src="{{ asset('/img/icons/html5.jpg') }}" title="Valide HTML 5" alt="HTML 5" width="80" height="15" /></a></li>
                    {#<li class="list-inline-item"><a href="https://jigsaw.w3.org/css-validator/check?profile=css3&amp;warning=2&amp;uri=referer"><img src="{{ asset('/img/icons/css3.jpg') }}" title="Valide CSS 3" alt="CSS 3" width="80" height="15" /></a></li>#}
                    <li class="list-inline-item"><a href="https://www.gentoo.org/"><img src="{{ asset('/img/icons/gentoo.jpg') }}" title="Propulsé par Gentoo Linux" alt="Gentoo" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://nginx.org/"><img src="{{ asset('/img/icons/nginx.jpg') }}" title="Propulsé par nginx" alt="nginx" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://php.net/"><img src="{{ asset('/img/icons/php.jpg') }}" title="Propulsé par PHP" alt="PHP" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://symfony.com/"><img src="{{ asset('/img/icons/symfony.jpg') }}" title="Propulsé par Symfony" alt="Symfony" width="80" height="15" /></a></li>
                    <li class="list-inline-item"><a href="https://www.postgresql.org/"><img src="{{ asset('/img/icons/postgresql.jpg') }}" title="Propulsé par PostgreSQL" alt="PostgreSQL" width="80" height="15" /></a></li>
                </ul>
                <p class="copyright mt-3">名探偵コナン (<em>Meitantei Konan</em>) est l’œuvre originale de 青山 剛昌 (Gōshō Aoyama), les produits et images dérivés de la série sont soumis à leurs droits respectifs.<br />
                    <a href="{{ path('privacy') }}">Politique de confidentialité</a> / <a href="{{ path('cla') }}">Accord de licence de contributeur</a> / <a href="{{ path('legal') }}">Mentions légales</a></p>
            </div>
        </footer>
        {#<div class="modal fade" id="storageConsentModal" tabindex="-1" role="dialog" aria-labelledby="storageConsentLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="storageConsentLabel">Consentement au stockage de données</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Afin de pouvoir te faire bénéficier des fonctionnalités suivantes, nous aimerions stocker des données sur ton ordinateur.</p>
                        <p>Tu peux avoir plus de détails en cliquant sur En savoir plus, mais sache que Black Org ne stocke aucune donnée de profilage, de ciblage publicitaire, analytique ou provenant de site tiers.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Accepter</button>
                        <a href="{{ path('privacy') }}" class="btn btn-secondary">En savoir plus</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Refuser</button>
                    </div>
                </div>
            </div>
        </div>#}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {# it's not mandatory to set the timezone in format_datetime(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
