{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
{% block content %}
    <h3 class="text-center">Contacter le webmaster</h3>

    <hr />

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.identity) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.email) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.subject) }}
        </div>
    </div>

    {{ form_row(form.message) }}
    {{ form_widget(form.content) }} {# Honeypot #}

    {{ form_row(form.agreePrivacyPolicy) }}

    <p class="text-center"><input type="submit" class="btn btn-primary" value="Envoyer" /></p>
    {{ form_end(form) }}
{% endblock %}