{% extends "base.html.twig" %}

{% block title %}Maintenance en cours{% endblock %}
{% block content %}
    <p>Black Org est temporairement désactivé pour maintenance.<br />
        Le service doit être interrompu pour assurer l’intégrité des données.<br />
        Le cours normal des opérations reprendra dès que possible.</p>
{% endblock %}