{% extends "base.html.twig" %}

{% block title %}{% if title is defined %}{{ title }}{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block content %}
    {% include 'helper/alert.html.twig' with { 'message': message, 'type': type } only %}
{% endblock %}