{% extends "base.html.twig" %}

{% block title %}Actualité{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('news') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news') }}
{% endblock %}
{% block content %}
    <form method="get" action="{{ path('news') }}#calendar-form">
        <div id="calendar-form" class="row align-items-center mb-3">
            <div class="col-lg-4 text-center"><h4 class="mb-0">{{ (year ~ '-' ~ month)|format_date('none', 'LLLL')|capitalize }} {{ year }}</h4></div>
            <div class="col-lg-1">
                {% if monthBeforeDateTime|date('n') == 12 and monthBeforeDateTime|date('Y') < minYear %}
                    <a class="btn postfix btn-secondary disabled" href="#">&lt;&lt;</a>
                {% else %}
                    <a class="btn postfix btn-secondary" href="{{ path('news_parameters', {'month': monthBeforeDateTime|date('n'), 'year': monthBeforeDateTime|date('Y')}) }}">&lt;&lt;</a>
                {% endif %}
            </div>
            <div class="col-lg-3">
                <select name="m" id="m" class="form-control">
                    {% for i in range(1, 12) %}
                        <option value="{{ i }}"{% if i == month %} selected="selected"{% endif %}>{{ (year ~ '-' ~ i)|format_date('none', 'LLLL')|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2">
                <select name="y" id="y" class="form-control">
                    {% for i in range(minYear, maxYear) %}
                        <option value="{{ i }}"{% if i == year %} selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-1">
                {% if monthAfterDateTime|date('n') == 1 and monthAfterDateTime|date('Y') > maxYear %}
                    <a class="btn postfix btn-secondary disabled" href="#">&gt;&gt;</a>
                {% else %}
                    <a class="btn postfix btn-secondary" href="{{ path('news_parameters', {'month': monthAfterDateTime|date('n'), 'year': monthAfterDateTime|date('Y')}) }}">&gt;&gt;</a>
                {% endif %}
            </div>
            <div class="col-lg-1">
                <input type="submit" class="btn btn-primary postfix" id="submit" value="OK" />
            </div>
        </div>
    </form>
    <div id="calendar" class="w-100 mb-4">
        <ul class="weekdays list-unstyled w-100 mb-0">
            <li>Lundi</li>
            <li>Mardi</li>
            <li>Mercredi</li>
            <li>Jeudi</li>
            <li>Vendredi</li>
            <li>Samedi</li>
            <li>Dimanche</li>
        </ul>

        <ul class="days list-unstyled w-100 mb-0">
            {# Previous month #}
            {% set lastDayOfPreviousMonth = monthBeforeDateTime|date('t') %}
            {% set weekDayOfCurrentMonth = monthDateTime|date('N') %}
            {% set firstDayOfPreviousMonthShown = lastDayOfPreviousMonth - weekDayOfCurrentMonth + 2 %}
            {% if weekDayOfCurrentMonth > 1 %}
                {% for d in range(firstDayOfPreviousMonthShown, lastDayOfPreviousMonth) %}
                    <li class="day other-month">
                        <div class="date">{{ d }}</div>
                    </li>
                {% endfor %}
            {% endif %}

            {# Current month #}
            {% set d = 1 %}
            {% for i in range(monthDateTime|date('N'), 7) %}
                {% set day = year ~ '-' ~ month|add_leading_zero(2) ~ '-' ~ d|add_leading_zero(2) %}
                <li class="day">
                    <div class="date{% if today == d %} today{% endif %}">{{ d }}</div>
                    {% if events[day] is defined %}
                        {% include 'helper/show-event.html.twig' with { dayEvents: events[day] } only %}
                    {% endif %}
                </li>
                {% set d = d + 1 %}
            {% endfor %}
        </ul>
        {% set rowCount = ((monthDateTime|date('t') - (d - 1)) / 7)|round(0, 'ceil') %} {# Calcul du nombre de lignes à afficher en fonction de la 1re (surtout pour les mois à 31 jours) #}
        {# {% set rowCount = 5 %} {# Pour un calendrier uniforme #}
        {% set k = 1 %}
        {% for ligne in range(0, rowCount - 1) %}
            <ul class="days list-unstyled w-100 mb-0">
                {% for colonne in range(0, 6) %}
                    {% if d <= monthDateTime|date('t') %}
                        {% set day = year ~ '-' ~ month|add_leading_zero(2) ~ '-' ~ d|add_leading_zero(2) %}
                        <li class="day">
                            <div class="date{% if today == d %} today{% endif %}">{{ d }}</div>
                            {% if events[day] is defined %}
                                {% include 'helper/show-event.html.twig' with { dayEvents: events[day] } only %}
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="day other-month">
                            <div class="date">{{ k }}</div>
                        </li>
                        {% set k = k + 1 %}
                    {% endif %}
                    {% set d = d + 1 %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <h3>Archives</h3>
    <p>Quelques actualités de janvier 2009 à octobre 2011 n’ont pas encore été entrées dans le calendrier&#8239;:</p>

    <h4 id="2009">2009</h4>
    <p>
        <strong>23 janvier 2009</strong> — DVD Part 17 — Vol 3 pour 4 410 Yens (Épisodes 498-501).<br />
        <strong>27 février 2009</strong> — DVD Part 17 — Vol 4 pour 4 410 Yens (Épisodes 502-504, 512).<br />
        <strong>27 mars 2009</strong> — DVD Part 17 — Vol 5 pour 4 410 Yens (Épisodes 505-508).<br />
        <strong>1<sup>er</sup> avril 2009</strong> — 3 DVD sur les Hommes en Noir à petits prix jusqu’au 31 mai dans le but de faire la promotion du film 13.<br />
        <strong>4 avril 2009</strong> — La case horaire de l’anime a été déplacée au dimanche à 18 h.<br />
        <strong>24 avril 2009</strong> — DVD Part 17 — Vol 6 pour 4 410 Yens (Épisodes 509-511, 520).<br />
        <strong>22 mai 2009</strong> — DVD Part 17 — Vol 7 pour 4 410 Yens (Épisodes 513-515).<br />
        <strong>18 juin 2009</strong> — Spécial <b>Conan VS Black Org.</b> dans le Shōnen Sunday.<br />
        <strong>26 juin 2009</strong> — DVD Part 17 — Vol 8 pour 4 410 Yens (Épisodes 516-517, 526).<br />
        <strong>24 juillet 2009</strong> — DVD Part 17 — Vol 9, 4 410 Yens (Épisodes 518-519, 521).<br />
        <strong>24 juillet 2009</strong> — Lupin III vs Conan en vente (DVD et Blu-Ray).<br />
        <strong>28 août 2009</strong> — DVD Part 17 — Vol 10, 4 410 Yens (Épisodes 522-523, 527).<br />
        <strong>18 septembre 2009</strong> — Kamiya Akira cesse aujourd’hui, jour de son anniversaire, de doubler Kogorō. C’est Rikiya Koyama qui prend la relève.<br />
        <strong>2 octobre 2009</strong> — Location du DVD du film 13 au Japon.<br />
        <strong>23 octobre 2009</strong> — DVD Part 18 — Vol 1 pour 4 410 Yens (Épisodes 524-525 et 528-529).<br />
        <strong>27 octobre 2009</strong> — Le nouveau <i>seiyū</i> de Kogorō Mōri est Koyama Rikiya.<br />
        <strong>11 novembre 2009</strong> — Le calendrier 2010 est en vente pour 1 680 Yens.<br />
        <strong>25 novembre 2009</strong> — Film 13 en DVD et Blu-Ray.<br />
        <strong>11 décembre 2009</strong> — DVD Spécial 5 — Black Org, à 4 410 Yens (Épisodes 005, 128, 287-288).<br />
        <strong>11 décembre 2009</strong> — DVD Spécial 6 — Détectives Junior, à 4 410 Yens (Épisodes 004, 012, 015, 020, 033).
    </p>
    <p>&nbsp;</p>
    <h4 id="2010">2010</h4>
    <p><strong>26 février 2010</strong> — DVD Part 18 — Vol 2, 4 410 Yens (Épisodes 530-533).<br />
        <strong>26 mars 2010</strong> — DVD Part 18 — Vol 3, 4 410 Yens (Épisodes 534-536, 539).<br />
        <strong>9 avril 2010</strong> — DVD Conan Secret File 4 (dont les OAV 8 et 9).<br />
        <strong>23 avril 2010</strong> — DVD Part 18 — Vol 4, 4 410 Yens (Épisodes 537-538, 540-541).<br />
        <strong>28 mai 2010</strong> — DVD Part 18 — Vol 5, 4 410 Yens (Épisodes 542-544, 553).<br />
        <strong>25 juin 2010</strong> — DVD Part 18 — Vol 6, 4 410 Yens (Épisodes 545-548).<br />
        <strong>7 juillet 2010</strong> — Dédicaces de <a href="{{ path('author') }}">Gōshō Aoyama</a> à Paris. <a rel="nofollow" class="external text" href="https://www.manga-news.com/index.php/actus/2010/06/10/Gosho-Aoyama-en-dedicace-a-Paris">Plus d’informations</a><br />
        <strong>23 juillet 2010</strong> — DVD Part 18 — Vol 7, 4 410 Yens (Épisodes 549-552).<br />
        <strong>27 août 2010</strong> — DVD Part 18 — Vol 8, 4 410 Yens (Épisodes 554-557).<br />
        <strong>24 septembre 2010</strong> — DVD Part 18 — Vol 9, 4 410 Yens (Épisodes 558-561).<br />
        <strong>8 octobre 2010</strong> — Location du DVD du film 14 au Japon.<br />
        <strong>20 octobre 2010</strong> — Le calendrier 2011 est en vente pour 1 680 Yens.<br />
        <strong>22 octobre 2010</strong> — DVD Part 18 — Vol 10, 4 410 Yens (Épisodes 562-565).<br />
        <strong>17 novembre 2010</strong> — Film 14 en DVD et Blu-Ray.<br />
        <strong>18 novembre 2010</strong> — Adaptation papier du film 14 en vente (Partie 1).<br />
        <strong>10 décembre 2010</strong> — DVD Spécial 7 — Ran Mōri, à 4 410 Yens (Épisodes 100-101, 196, 343-344).<br />
        <strong>10 décembre 2010</strong> — DVD Spécial 8 — Sonoko Suzuki, à 4 410 Yens (Épisodes 6, 34-35, 153-154).<br />
        <strong>18 décembre 2010</strong> — Adaptation papier du film 14 en vente (Partie 2).<br />
        <strong>24 décembre 2010</strong> — Films 7 et 8 disponibles en Blu-Ray.<br />
    </p>
    <p>&nbsp;</p>
    <h4 id="2011">2011</h4>
    <p><strong>28 janvier 2011</strong> — Film 9 disponible en Blu-Ray.<br />
        <strong>28 janvier 2011</strong> — DVD Part 19 — Vol 1, 4 410 Yens (Épisodes 566-569).<br />
        <strong>25 février 2011</strong> — Film 10 disponible en Blu-Ray.<br />
        <strong>25 février 2011</strong> — DVD Part 19 — Vol 2, 4 410 Yens (Épisodes 570-572, 577).<br />
        <strong>25 mars 2011</strong> — Film 11 disponible en Blu-Ray.<br />
        <strong>25 mars 2011</strong> — DVD Part 19 — Vol 3, 4 410 Yens (Épisodes 573-576).<br />
        <strong>22 avril 2011</strong> — Film 12 disponible en Blu-Ray.<br />
        <strong>22 avril 2011</strong> — DVD Part 19 — Vol 4, 4 410 Yens (Épisodes 578-581).<br />
        <strong>22 mai 2011</strong> — DVD Part 19 — Vol 5, 4 410 Yens (Épisodes 582-585).<br />
        <strong>27 mai 2011</strong> — Film 1 disponible en Blu-Ray.<br />
        <strong>24 juin 2011</strong> — DVD Part 19 — Vol 6, 4 410 Yens (Épisodes 586-588, 591).<br />
        <strong>24 juin 2011</strong> — Film 2 disponible en Blu-Ray.<br />
        <strong>22 juillet 2011</strong> — DVD Part 19 — Vol 7, 4 410 Yens (Épisodes 589-590, 592-593).<br />
        <strong>22 juillet 2011</strong> — Film 3 disponible en Blu-Ray.<br />
        <strong>5 août 2011</strong> — Le tome 1 de <u><b>Magic Kaitō</b></u> est réimprimé en couleurs. Possibilité de se procurer un DVD avec, contenant les deux premiers épisodes de Magic Kaitō.<br />
        <strong>24 août 2011</strong> — Le CD du générique de la série-<i>drama</i> est en vente — Kimi to Zutto… — yuyu.<br />
        <strong>26 août 2011</strong> — DVD Part 19 — Vol 8, 4 410 Yens (Épisodes 594-595, 596, 599).<br />
        <strong>26 août 2011</strong> — Film 4 disponible en Blu-Ray.<br />
        <strong>16 septembre 2011</strong> — Le tome 2 de <u><b>Magic Kaitō</b></u> est réimprimé en couleurs. Achat possible du DVD de l’épisode 2.<br />
        <strong>23 septembre 2011</strong> — DVD Part 19 — Vol 9, 4 410 Yens (Épisodes 597-598, 600-601).<br />
        <strong>23 septembre 2011</strong> — Film 5 disponible en Blu-Ray.<br />
        <strong>14 octobre 2011</strong> — Film 15 en location DVD.<br />
        <strong>28 octobre 2011</strong> — DVD Part 19 — Vol 10, 4 410 Yens (Épisodes 602-605).<br />
        <strong>28 octobre 2011</strong> — Film 6 disponible en Blu-Ray.
    </p>
{% endblock %}