{% extends "base.html.twig" %}

{% block title %}Rechercher une affaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block content %}
    {% if form.vars.submitted and form.vars.valid %}
        <h3 id="result">Résultats de la recherche</h3>
        {% if cases|length %}
            <div class="table-responsive">
                <table class="table cases">
                    <thead>
                        <tr>
                            <th class="text-center column-id">#</th>
                            <th>Titre</th>
                            <th class="text-center">Manga</th>
                            <th class="text-center">Anime</th>
                            <th class="text-center">Intrigue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                            {% include 'helper/case-row.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />
        {% else %}
            <p><em>Aucun résultat trouvé. Essaye avec d’autres critères.</em></p>
        {% endif %}
    {% endif %}

    {{ form_start(form) }}
        <p>Les recherches par personnage ou par gadget sont incomplètes sur les affaires hors série, tu peux nous aider à compléter <a href="{{ path('contributing') }}#t1.4">en lisant comment faire ici</a>.</p>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.plot) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.type) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.arc) }}
            </div>
        </div>
        {{ form_row(form.gadgets) }}
        {{ form_row(form.characters) }}
        <button class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}
{% endblock %}