{% extends "base.html.twig" %}

{% block title %}Affaires{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('arc') }}
{% endblock %}

{% block content %}
    <input id="hide_noncanon" type="checkbox" autocomplete="off" />
    <label for="hide_noncanon"><span data-bs-toggle="tooltip" title="Les affaires non-canon sont les affaires non-tirées du manga originellement écrit par Gōshō Aoyama">Masquer les affaires non-canon</span></label>

    {% for arc, cases in cases %}
        <h3 id="arc{{ arc }}"><a href="{{ path((light) ? 'cases_arc_light' : 'cases_arc', { 'arc': arc }) }}">Arc {{ (light) ? arc : arcs[arc] }}</a></h3>
        <div class="table-responsive">
            <table class="table cases">
                <thead>
                    <tr>
                        <th class="text-center column-id">#</th>
                        <th>Titre</th>
                        <th class="text-center">Manga</th>
                        <th class="text-center">Anime</th>
                        <th class="text-center">Intrigue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                        {% include 'helper/case-row.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'manga'}) }}" class="btn btn-primary">Ajouter une affaire du manga</a> <a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'anime'}) }}" class="btn btn-danger">Ajouter une affaire de l’anime</a></p>
{% endblock %}
