{% extends "base.html.twig" %}

{% block title %}Arc {{ light ? arc : arcs[arc] }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('arc') }}
{% endblock %}

{% block content %}
    {% if light %}
        <p class="alert alert-info">Tu te trouves actuellement sur la version allégée de cette page (sans révélations sur l’intrigue). Pour accéder à la version complète, tu peux <a href="{{ path('cases_arc', {'arc': arc}) }}">suivre ce lien</a>.</p>
    {% else %}
        <p class="alert alert-warning">Cette liste contient des révélations importantes sur le contenu des affaires. Ces informations te seront probablement divulgâchées si tu n’as pas lu ou vu les affaires en question. Pour accéder à une version allégée sans révélations, <a href="{{ path('cases_arc_light', {'arc': arc}) }}">suis ce lien</a>.</p>
    {% endif %}

    {% include 'helper/arc-switcher.html.twig' %}

    <input id="hide_noncanon" type="checkbox" autocomplete="off" />
    <label for="hide_noncanon"><span data-bs-toggle="tooltip" title="Les affaires non-canon sont les affaires non-tirées du manga originellement écrit par Gōshō Aoyama">Masquer les affaires non-canon</span></label>

    <div class="table-responsive">
        <table class="table cases">
            <thead>
                <tr>
                    <th class="text-center column-id">#</th>
                    <th>Titre</th>
                    <th class="text-center">Manga</th>
                    <th class="text-center">Anime</th>
                    {% if light %}
                        <th class="text-center">Intrigue</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                    {% if light %}
                        {% include 'helper/case-row.html.twig' %}
                    {% else %}
                        <tr id="{{ case.displayName('short') }}" class="table-{{ case_css_class(case) }}{% if case.type != 'manga' %} noncanon{% endif %}">
                            <td class="text-center align-middle"><strong>{{ case.displayName('medium') }}</strong></td>
                            <td class="align-middle"><a href="{{ get_case_path(case) }}"><strong>{{ case.title }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td class="text-center align-middle">
                                {% if case.chapters|length %}
                                    {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if case.episodes|length %}
                                    <a href="{{ get_episode_path(case.episodes[0]) }}">
                                        {% if case.episodes|length > 1 %}
                                            Ép {{ case.episodes[0].number|add_leading_zero(3) }}—{{ case.episodes[case.episodes|length - 1].number|add_leading_zero(3) }}
                                        {% else %}
                                            Ép {{ case.episodes[0].number|add_leading_zero(3) }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="{% if case.type != 'manga' %} noncanon{% endif %}">
                            <td colspan="4">
                                <div class="summary">{{ case.summary|markdown_to_html }}</div>
                                {% if case.hasPlot %}
                                    <table class="plot-frame table-{{ case_css_class(case) }}">
                                        <tr>
                                            <td>
                                                {% include 'helper/case-plot.html.twig' with { case: case } only %}
                                            </td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'manga'}) }}" class="btn btn-primary">Ajouter une affaire du manga</a> <a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'anime'}) }}" class="btn btn-danger">Ajouter une affaire de l’anime</a></p>
    {% include 'helper/arc-switcher.html.twig' %}
{% endblock %}
