{% extends "base.html.twig" %}

{% block title %}Affaires{% endblock %}
{% block content %}
    {% if light %}
        <p class="alert alert-info">Tu te trouves actuellement sur la version allégée de cette page (sans révélations sur l’intrigue). Pour accéder à la version complète, tu peux <a href="{{ path('cases') }}">suivre ce lien</a>.</p>
    {% else %}
        <p class="alert alert-warning">Cette section du site raconte la trame principale de la série <em>Meitantei Conan</em>, en découpant la série par affaires et en précisant les moments clés. Elle peut donc contenir des informations pouvant te révéler l’intrigue. Si tu souhaites éviter cela, tu peux <a href="{{ path('cases_light') }}">accéder à la version allégée</a> de cette page.</p>
    {% endif %}

    <p>Les affaires tentent de découper la série selon les différents cas survenus dans le manga. Ils s’étendent souvent sur plusieurs chapitres.</p>
    <hr />

    <h4>Arcs narratifs</h4>

    <p>Les arcs narratifs permettent de subdiviser l’intrigue principale de la série en plusieurs cycles avec leur propre histoire qui évolue en leur propre sein.</p>

    <p><em>Meitantei Conan</em> est une série très difficile à diviser en arcs car plusieurs intrigues sont commencées en parallèle. Black Org a choisi ses arcs principalement selon le développement d’un personnage en particulier, mais tu peux trouver d’autres divisions sur d’autres sites.</p>

    {% if not light %}
        <p>Les résumés sont adaptés du site <a href="http://dconan.fr/">DConan</a> dont l’auteur ne donne plus de nouvelles (je te serais gré de <a href="{{ path('contact') }}">me contacter</a> si tu as un lien direct avec cette personne).</p>
    {% endif %}

    <p><a href="{{ path('search') }}" class="btn btn-primary">Rechercher une affaire <i class="fas fa-search"></i></a></p>

    {% for row in arcs|batch(4, 'Empty space') %}
        <div class="row">
            {% for number, arc in row %}
                <div class="col-6 col-md-3 text-center mb-3">
                    {% if arc != 'Empty space' %}
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title"><a href="{{ path((light) ? 'cases_arc_light' : 'cases_arc', {'arc': number}) }}">Arc {{ (light) ? number : arc }}</a></span>
                            </div>
                            {% if not light %}
                                <div class="card-img">
                                    <a href="{{ path('cases_arc', {'arc': number}) }}">
                                        <img class="img-fluid" src="{{ asset('/img/plot/arc' ~ number ~ '.jpg') }}" alt="" />
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <p class="text-center"><a class="btn btn-lg btn-primary" href="{{ path((light) ? 'cases_all_arcs_light' : 'cases_all_arcs') }}">Afficher toutes les affaires</a></p>
{% endblock %}
