{% extends 'base.html.twig' %}

{% block title %}L’intrigue{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('plot') }}
{% endblock %}

{% block content %}
    <p>Cette page se veut avec le moins de révélations possibles, à l’attention des personnes à la recherche d’un guide pour débuter la série, reprendre la série, ou souhaitant une structure car perdues dans la quantité d’affaires existantes.</p>
    <p>Elle s’adresse aussi bien aux lecteurs du manga qu’aux personnes préférant la version animée. Toutefois, les différences entre le manga et l’anime, en particulier au début de la série, peuvent porter à confusion. Par ailleurs, quand l’affaire n’est pertinente que partiellement, les indications sont par rapport au manga mais peuvent être adaptées à l’anime car ce sont souvent des passages situés au début ou à la fin de l’affaire. Tu es également libre de suivre l’affaire en entier, si tu le souhaites.</p>
    <p>Attention, les indications s’additionnent, c’est-à-dire que tu ne peux pas commencer la série en ne regardant que les affaires « recommandées », tu dois aussi suivre les affaires indispensables. Mais tu peux, par exemple, suivre toutes les affaires indispensables et recommandées, puis repartir du début de la série pour suivre toutes les affaires mineures.</p>
    <p>Les affaires sont présentées dans l’ordre du manga, mais il n’y pas de contrindication particulière si tu préfères les suivre dans l’ordre d’adaptation en anime.</p>
    <hr />

    <h3>Guide des affaires à lire ou à voir</h3>
    <form id="plotForm" name="plot">
        <div class="form-group row mb-0">
            <div class="col-sm-2"><strong>Éléments d’intrigue</strong></div>
            <div class="col-sm-10 form-group">
                <div class="form-check form-check-inline">
                    <input id="essentialCheckbox" name="essentialCheckbox" class="form-check-input" type="checkbox" checked="checked" />
                    <label for="essentialCheckbox" class="form-check-label" data-bs-toggle="tooltip" title="Pour acquérir une compréhension générale de la série. Il te manquera certains éléments et certains personnages te paraîtront inconnus si tu regardes d’autres affaires par la suite. Il est plutôt à destination de personnes connaissant déjà la série et souhaitant reprendre le fil conducteur.">Indispensable</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="recommendedCheckbox" name="recommendedCheckbox" class="form-check-input" type="checkbox" checked="checked" />
                    <label for="recommendedCheckbox" class="form-check-label" data-bs-toggle="tooltip" title="Pour acquérir une compréhension de la série permettant de voir n’importe quelle affaire dans le désordre sans incompréhension ou seulement de façon mineure.">Recommandé</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="minorCheckbox" name="minorCheckbox" class="form-check-input" type="checkbox" />
                    <label for="minorCheckbox" class="form-check-label" data-bs-toggle="tooltip" title="Pour acquérir une compréhension totale de la série. Des éléments ou personnages revenant de façon moins courantes sont présentés dans ces affaires.">Mineur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="nonCanonCheckbox" name="nonCanonCheckbox" class="form-check-input" type="checkbox" />
                    <label for="nonCanonCheckbox" class="form-check-label" data-bs-toggle="tooltip" title="Pour inclure les affaires n’appartenant pas au manga originellement écrit par l’auteur (épisodes hors série, films, etc).">Non-canon</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><strong>Arcs à inclure</strong></div>
            <div class="col-sm-10 form-group">
                {% for number, arc in arcs %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="arc{{ number }}Checkbox" name="arcCheckboxes[]" type="checkbox" checked="checked" value="{{ number }}" />
                        <label class="form-check-label" for="arc{{ number }}Checkbox">Arc {{ number }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <div class="table-responsive mt-2">
        <table class="table cases" id="plotTable">
            <thead>
                <tr>
                    <th class="text-center column-id">#</th>
                    <th>Titre</th>
                    <th class="text-center">Manga</th>
                    <th class="text-center">Anime</th>
                </tr>
            </thead>
            <tbody>
            {% for case in cases %}
                <tr id="{{ case.displayName('short') }}" class="table-{{ case_css_class(case) }} arc{{ case.arc }}{% if case.type != 'manga' %} noncanon{% endif %}{% if case.plotEssential is not empty %} essential{% endif %}{% if case.plotRecommended is not empty %} recommended{% endif %}{% if case.plotMinor is not empty %} minor{% endif %}">
                    <td class="text-center align-middle"><strong>{{ case.displayName('medium') }}</strong></td>
                    <td class="align-middle"><a href="{{ get_case_path(case) }}"><strong>{{ case.title }}</strong></a> <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}"><i class="far fa-edit"></i></a></td>
                    <td class="text-center align-middle">
                        {% if case.chapters|length %}
                            {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                        {% endif %}
                    </td>
                    <td class="text-center align-middle">
                        {% if case.episodes|length %}
                            <a href="{{ get_episode_path(case.episodes[0]) }}">
                                {% if case.episodes|length > 1 %}
                                    Ép {{ case.episodes[0].number|add_leading_zero(3) }}—{{ case.episodes[case.episodes|length - 1].number|add_leading_zero(3) }}
                                {% else %}
                                    Ép {{ case.episodes[0].number|add_leading_zero(3) }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="{{ case.displayName('short') }}" class="arc{{ case.arc }}{% if case.type != 'manga' %} noncanon{% endif %}{% if case.plotEssential is not empty %} essential{% endif %}{% if case.plotRecommended is not empty %} recommended{% endif %}{% if case.plotMinor is not empty %} minor{% endif %}">
                    <td colspan="4">
                        {% if case.hasPlot %}
                            <p class="mb-0 float-end"><a class="btn btn-{{ case_css_class(case) }}" data-bs-toggle="collapse" href="#plot{{ case.displayName('short') }}" role="button" aria-expanded="false" aria-controls="plot{{ case.displayName('short') }}">Contenu de l’affaire</a></p>
                        {% endif %}
                        {% if case.plotEssential is not empty %}<p class="mb-0"><strong>Indispensable&nbsp;:</strong> {{ case.plotEssential }}</p>{% endif %}
                        {% if case.plotRecommended is not empty %}<p class="mb-0"><strong>Recommandé&nbsp;:</strong> {{ case.plotRecommended }}</p>{% endif %}
                        {% if case.plotMinor is not empty %}<p class="mb-0"><strong>Mineur&nbsp;:</strong> {{ case.plotMinor }}</p>{% endif %}
                        {% if case.hasPlot %}
                            <div class="plot-frame table-{{ case_css_class(case) }} collapse" id="plot{{ case.displayName('short') }}">
                                {% include 'helper/case-plot.html.twig' with { case: case } only %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}