{% set shortTitle = case.displayName('long') %}
{% extends "base.html.twig" %}

{% block title %}{{ case.displayName }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ case.title }}</h3>
            <h4>Synopsis</h4>
            {{ case.summary|markdown_to_html }}

            {% if case.characters|length %}
                <h4>Personnages</h4>
                {% for row in case.characters|batch(6, 'Empty space') %}
                    <div class="row">
                        {% for character in row %}
                            <div class="col-4 col-lg-2 text-center small">
                                {% if character != 'Empty space' %}
                                    <a href="{{ get_character_path(character) }}">
                                        <img src="{{ asset('/img/character/' ~ character.shortname ~ '_60px.jpg') }}" alt="" /><br />
                                        {% include "helper/character-fullname.html.twig" with { 'character': character, 'newline': true } only %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div><br />
                {% endfor %}
            {% endif %}

            {% if case.gadgets|length %}
                <br />
                <h4>Gadgets</h4>
                {% for row in case.gadgets|batch(6, 'Empty space') %}
                    <div class="row">
                        {% for gadget in row %}
                            <div class="col-4 col-lg-2 text-center small">
                                {% if gadget != 'Empty space' %}
                                    <a href="{{ get_gadget_path(gadget) }}">
                                        <img src="{{ asset('/img/gadget/' ~ gadget.id ~ '_60px.jpg') }}" alt="" /><br />
                                        {{ gadget.displayName }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if case.hasPlot %}
                <br />
                <h4>Intrigue</h4>

                {% include 'helper/case-plot.html.twig' with { case: case } only %}
            {% endif %}

            {% if case.situations|length > 1 %}
                <br />
                <h4>Situations</h4>
                {% for situation in case.situations %}
                    <h5><a href="#situation{{ situation.number }}">Situation n° {{ situation.number }}{% if situation.title is not null and situation.title is not empty %} — {{ situation.title }}{% endif %}</a></h5>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table case">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">{{ case.displayName('long') }} <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': case.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        {% set imgFilename = '/img/case/' ~ case.displayName('short') ~ '.jpg' %}
                        {% if not file_exists('../public' ~ imgFilename) %}
                            {% set imgFilename = '/img/unaired.jpg' %}
                        {% endif %}
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset(imgFilename) }}">
                                    <img class="img-fluid" src="{{ asset(imgFilename) }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Informations</th>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ case.title }}</td>
                        </tr>
                        <tr>
                            <th>Manga</th>
                            <td>
                                {% if case.chapters|length %}
                                    {% include 'helper/manga-source.html.twig' with { 'from': case.chapters[0], 'to': case.chapters[(case.chapters|length - 1)] } only %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Anime</th>
                            <td>
                                {% if case.episodes|length %}
                                    <a href="{{ get_episode_path(case.episodes[0]) }}">
                                        {% if case.episodes|length > 1 %}
                                            Ép {{ case.episodes[0].number|add_leading_zero(3) }}—{{ case.episodes[case.episodes|length - 1].number|add_leading_zero(3) }}
                                        {% else %}
                                            Ép {{ case.episodes[0].number|add_leading_zero(3) }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Arc</th>
                            <td><a href="{{ path('cases_arc', {'arc': case.arc}) }}">{{ arcs[case.arc] }}</a></td>
                        </tr>
                        {% if case.characters|length %}
                            <tr class="caption">
                                <th colspan="2">Personnages</th>
                            </tr>
                            <tr>
                                <th>Principaux</th>
                                <td>
                                    {% for character in case.characters %}
                                        <a href="{{ get_character_path(character) }}">{{ character.fullname }}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Chronologie</th>
                        </tr>
                        {% if caseBefore is not null %}
                            <tr>
                                <th>Affaire précédente</th>
                                <td><a href="{{ get_case_path(caseBefore) }}">&lt;&lt; {{ caseBefore.title }}</a></td>
                            </tr>
                        {% endif %}

                        {% if caseAfter is not null %}
                            <tr>
                                <th>Affaire suivante</th>
                                <td><a href="{{ get_case_path(caseAfter) }}">{{ caseAfter.title }} &gt;&gt;</a></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('cases') }}">Revenir à la liste des affaires</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for situation in case.situations %}
        <hr />
        {% if case.situations|length > 1 %}
            <h3 id="situation{{ situation.number }}">Situation n° {{ situation.number }}{% if situation.title is not null and situation.title is not empty %} — {{ situation.title }}{% endif %}</h3>
        {% else %}
            <h3 id="situation{{ situation.number }}">Situation</h3>
        {% endif %}
        <table class="table profile_table case mb-0">
            <thead>
                <tr class="caption">
                    <th colspan="2">{{ situation.types|join(', ') }} <a href="{{ path('admin_submission_edit', {'section': 'situations', 'id': situation.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                </tr>
            </thead>
        </table>
        <div class="row no-gutters">
            <div class="col-lg-3">
                <a href="{{ asset('/img/situation/' ~ case.displayName('short') ~ '_' ~ situation.number ~ '.jpg') }}">
                    <img class="img-fluid" src="{{ asset('/img/situation/' ~ case.displayName('short') ~ '_' ~ situation.number ~ '.jpg') }}" alt="" />
                </a>
            </div>
            <div class="col-lg-9">
                <div class="table-responsive">
                    <table class="table table-situation profile_table case">
                        <tbody>
                        {% if situation.scene or situation.location %}
                            <tr>
                                <th>Lieu</th>
                                <td>{% if situation.scene is not null %}{{ situation.scene }}{% if situation.location is not null %}, {% endif %}{% endif %}{{ situation.location }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.victims %}
                            <tr>
                                <th>Victime{% if situation.victims|length > 1 %}s{% endif %}</th>
                                <td>{{ situation.victims|join('<br />')|markdown_to_html('inline') }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.causeOfDeath %}
                            <tr>
                                <th>Cause de la mort</th>
                                <td>{{ situation.causeOfDeath }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.suspects %}
                            <tr>
                                <th>Suspect{% if situation.suspects|length > 1 %}s{% endif %}</th>
                                <td>{{ situation.suspects|join('<br />')|markdown_to_html('inline') }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.summary %}
                            <tr>
                                <td colspan="2">{{ situation.summary|markdown_to_html }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if situation.culprits or situation.solvedBy|length or situation.resolutionExplanations or situation.resolutionEvidences or situation.resolutionMotive %}
            <p class="mb-0 float-end">
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#situationResolution{{ situation.number }}" role="button" aria-expanded="false" aria-controls="situationResolution{{ situation.number }}">Révéler</a>
            </p>
            <h5 class="mt-2">Résolution</h5>

            <div class="collapse" id="situationResolution{{ situation.number }}">
                <table class="table profile_table table-situation case">
                    <tbody>
                        {% if situation.culprits %}
                            <tr>
                                <th>Coupable{% if situation.culprits|length > 1 %}s{% endif %}</th>
                                <td>{{ situation.culprits|join('<br />')|markdown_to_html('inline') }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.solvedBy|length %}
                            <tr>
                                <th>Résolue par</th>
                                <td>
                                    {% for solvedBy in situation.solvedBy %}
                                        <a href="{{ get_character_path(solvedBy.character) }}">{{ solvedBy.character }}</a>
                                        {% if solvedBy.characterVia %} (via <a href="{{ get_character_path(solvedBy.characterVia) }}">{{ solvedBy.characterVia }}</a>){% endif %}
                                        {% if not loop.last %}<br />{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if situation.resolutionExplanations %}
                            <tr>
                                <th>Explications</th>
                                <td>{{ situation.resolutionExplanations|markdown_to_html }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.resolutionEvidences %}
                            <tr>
                                <th>Preuve(s)</th>
                                <td>{{ situation.resolutionEvidences|markdown_to_html }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.resolutionMotive %}
                            <tr>
                                <th>Motif</th>
                                <td>{{ situation.resolutionMotive|markdown_to_html }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add_situation', {'section': 'situations', 'parameter': case.id }) }}" class="btn btn-primary">Ajouter une situation</a></p>
{% endblock %}
