{% extends "base.html.twig" %}

{% block title %}Drama{% endblock %}
{% block content %}
    <p>Deux téléfilms ont été créés pour la série à l’occasion des dix ans de la production, un en 2006 et un autre en 2007. En 2011, la production annonce un troisième téléfilm et suite à son succès, décide de lancer une série-<em>drama</em> entière basée dessus.</p>
    <hr />

    <h3 id="drama_specials">Téléfilms</h3>
    {{ include('helper/case-table.html.twig', {'cases': drama_specials}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'drama_special'}) }}" class="btn btn-primary">Ajouter un téléfilm du drama</a></p>
    <hr />

    <h3 id="drama_episodes">Série</h3>
    <p>Diffusée à partir du 7 juillet 2011, cette série se passe quelques mois avant le rajeunissement de Shin’ichi.</p>
    {{ include('helper/case-table.html.twig', {'cases': drama_episodes}) }}
    <p class="text-center"><a href="{{ path('admin_submission_add_case', {'section': 'cases', 'parameter': 'drama_episode'}) }}" class="btn btn-primary">Ajouter un épisode de la série drama</a></p>
{% endblock %}
