{% set shortTitle = drama.displayName('long') %}
{% extends "base.html.twig" %}
{% block title %}{{ drama.displayName }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ drama.title }}</h3>
            <h4>Synopsis</h4>
            {{ drama.summary|markdown_to_html }}

            {% if drama.characters|length %}
                <h4>Personnages</h4>
                {% for row in drama.characters|batch(6, 'Empty space') %}
                    <div class="row">
                        {% for character in row %}
                            <div class="col-4 col-lg-2 text-center small">
                                {% if character != 'Empty space' %}
                                    <a href="{{ get_character_path(character) }}">
                                        <img src="{{ asset('/img/character/' ~ character.shortname ~ '_60px.jpg') }}" alt="" /><br />
                                        {% include "helper/character-fullname.html.twig" with { 'character': character, 'newline': true } only %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div><br />
                {% endfor %}
            {% endif %}

            {% if drama.gadgets|length %}
                <br />
                <h4>Gadgets</h4>
                {% for row in drama.gadgets|batch(6, 'Empty space') %}
                    <div class="row">
                        {% for gadget in row %}
                            <div class="col-4 col-lg-2 text-center small">
                                {% if gadget != 'Empty space' %}
                                    <a href="{{ get_gadget_path(gadget) }}">
                                        <img src="{{ asset('/img/gadget/' ~ gadget.id ~ '_60px.jpg') }}" alt="" /><br />
                                        {{ gadget.displayName }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if drama.hasPlot %}
                <br />
                <h4>Intrigue</h4>

                {% include 'helper/case-plot.html.twig' with { case: drama } only %}
            {% endif %}

            {% if drama.situations|length > 1 %}
                <br />
                <h4>Situations</h4>
                {% for situation in drama.situations %}
                    <h5><a href="#situation{{ situation.number }}">Situation n° {{ situation.number }}{% if situation.title is not null and situation.title is not empty %} — {{ situation.title }}{% endif %}</a></h5>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table drama">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">{{ drama.displayName('long') }} <a href="{{ path('admin_submission_edit', {'section': 'cases', 'id': drama.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        {% set imgFilename = '/img/drama/' ~ drama.displayName('short') ~ '.jpg' %}
                        {% if not file_exists('../public' ~ imgFilename) %}
                            {% set imgFilename = '/img/unaired.jpg' %}
                        {% endif %}
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset(imgFilename) }}">
                                    <img class="img-fluid" src="{{ asset(imgFilename) }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Informations</th>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ drama.title }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ drama.date|format_date('long') }}</td>
                        </tr>
                        {% if drama.characters|length %}
                            <tr class="caption">
                                <th colspan="2">Personnages</th>
                            </tr>
                            <tr>
                                <th>Principaux</th>
                                <td>
                                    {% for character in drama.characters %}
                                        <a href="{{ get_character_path(character) }}">{{ character.fullname }}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Chronologie</th>
                        </tr>
                        {% if dramaBefore is not null %}
                            <tr>
                                <th>Drama précédent</th>
                                <td><a href="{{ get_case_path(dramaBefore) }}">&lt;&lt; {{ dramaBefore.title }}</a></td>
                            </tr>
                        {% endif %}
                        {% if dramaAfter is not null %}
                            <tr>
                                <th>Drama suivant</th>
                                <td><a href="{{ get_case_path(dramaAfter) }}">{{ dramaAfter.title }} &gt;&gt;</a></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('drama') }}#{% if drama.type == 'drama_special' %}drama_specials{% else %}drama_episodes{% endif %}">Revenir à la liste des {% if drama.type == 'drama_special' %}téléfilms du <em>drama</em>{% else %}épisodes de la série-<em>drama</em>{% endif %}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for situation in drama.situations %}
        <hr />
        {% if drama.situations|length > 1 %}
            <h3 id="situation{{ situation.number }}">Situation n° {{ situation.number }}{% if situation.title is not null and situation.title is not empty %} — {{ situation.title }}{% endif %}</h3>
        {% else %}
            <h3 id="situation{{ situation.number }}">Situation</h3>
        {% endif %}
        <table class="table profile_table drama mb-0">
            <thead>
            <tr class="caption">
                <th colspan="2">{{ situation.types|join(', ') }} <a href="{{ path('admin_submission_edit', {'section': 'situations', 'id': situation.id}) }}"><i class="far fa-edit text-white"></i></a></th>
            </tr>
            </thead>
        </table>
        <div class="row no-gutters">
            <div class="col-lg-3">
                <a href="{{ asset('/img/situation/' ~ drama.displayName('short') ~ '_' ~ situation.number ~ '.jpg') }}">
                    <img class="img-fluid" src="{{ asset('/img/situation/' ~ drama.displayName('short') ~ '_' ~ situation.number ~ '.jpg') }}" alt="" />
                </a>
            </div>
            <div class="col-lg-9">
                <div class="table-responsive">
                    <table class="table profile_table table-situation drama">
                        <tbody>
                        {% if situation.scene or situation.location %}
                            <tr>
                                <th>Lieu</th>
                                <td>{% if situation.scene is not null %}{{ situation.scene }}{% if situation.location is not null %}, {% endif %}{% endif %}{{ situation.location }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.victims %}
                            <tr>
                                <th>Victime{% if situation.victims|length > 1 %}s{% endif %}</th>
                                <td>{{ situation.victims|join('<br />')|markdown_to_html('inline') }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.causeOfDeath %}
                            <tr>
                                <th>Cause de la mort</th>
                                <td>{{ situation.causeOfDeath }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.suspects %}
                            <tr>
                                <th>Suspect{% if situation.suspects|length > 1 %}s{% endif %}</th>
                                <td>{{ situation.suspects|join('<br />')|markdown_to_html('inline') }}</td>
                            </tr>
                        {% endif %}
                        {% if situation.summary %}
                            <tr>
                                <td colspan="2">{{ situation.summary|markdown_to_html }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if situation.culprits or situation.solvedBy|length or situation.resolutionExplanations or situation.resolutionEvidences or situation.resolutionMotive %}
            <p class="mb-0 float-end">
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#situationResolution{{ situation.number }}" role="button" aria-expanded="false" aria-controls="situationResolution{{ situation.number }}">Révéler</a>
            </p>
            <h5 class="mt-2">Résolution</h5>

            <div class="collapse" id="situationResolution{{ situation.number }}">
                <table class="table profile_table table-situation drama">
                    <tbody>
                    {% if situation.culprits %}
                        <tr>
                            <th>Coupable{% if situation.culprits|length > 1 %}s{% endif %}</th>
                            <td>{{ situation.culprits|join('<br />')|markdown_to_html('inline') }}</td>
                        </tr>
                    {% endif %}
                    {% if situation.solvedBy|length %}
                        <tr>
                            <th>Résolue par</th>
                            <td>
                                {% for solvedBy in situation.solvedBy %}
                                    <a href="{{ get_character_path(solvedBy.character) }}">{{ solvedBy.character }}</a>
                                    {% if solvedBy.characterVia %} (via <a href="{{ get_character_path(solvedBy.characterVia) }}">{{ solvedBy.characterVia }}</a>){% endif %}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if situation.resolutionExplanations %}
                        <tr>
                            <th>Explications</th>
                            <td>{{ situation.resolutionExplanations|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                    {% if situation.resolutionEvidences %}
                        <tr>
                            <th>Preuve(s)</th>
                            <td>{{ situation.resolutionEvidences|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                    {% if situation.resolutionMotive %}
                        <tr>
                            <th>Motif</th>
                            <td>{{ situation.resolutionMotive|markdown_to_html }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add_situation', {'section': 'situations', 'parameter': drama.id }) }}" class="btn btn-primary">Ajouter une situation</a></p>
{% endblock %}
