{% extends "base.html.twig" %}

{% block title %}Apparitions de {{ character }}{% endblock %}
{% block content %}
    {% if cases|length %}
        <div class="table-responsive">
            <table class="table cases">
                <thead>
                    <tr>
                        <th class="text-center column-id">#</th>
                        <th>Titre</th>
                        <th class="text-center">Manga</th>
                        <th class="text-center">Anime</th>
                        <th class="text-center">Intrigue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                        {% include 'helper/case-row.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p><em>Aucun résultat trouvé.</em></p>
    {% endif %}
    <p class="text-center"><a href="{{ get_character_path(character) }}" class="btn btn-primary">Revenir à la fiche personnage</a></p>
{% endblock %}