{% extends "base.html.twig" %}

{% block title %}{{ gadget.displayName }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ gadget.displayName }}</h3>

            {{ gadget.shortdesc|markdown_to_html }}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table gadget">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">{{ gadget.displayName }} <a href="{{ path('admin_submission_edit', {'section': 'gadgets', 'id': gadget.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset('/img/gadget/' ~ gadget.id ~ '.jpg') }}">
                                    <img class="img-fluid" src="{{ asset('/img/gadget/' ~ gadget.id ~ '.jpg') }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Informations</th>
                        </tr>
                        <tr>
                            <th>Nom français</th>
                            <td>{{ gadget.completeNameFr }}</td>
                        </tr>
                        <tr>
                            <th>Nom japonais</th>
                            <td>{{ gadget.nameJp }}</td>
                        </tr>
                        <tr>
                            <th>Créé par</th>
                            <td>{% if gadget.createdBy is not null %}<a href="{{ get_character_path(gadget.createdBy) }}">{{ gadget.createdBy }}</a>{% else %}Inconnu{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Utilisé par</th>
                            <td>
                                {% if gadget.usedBy|length %}
                                    {% for character in gadget.usedBy %}
                                        <a href="{{ get_character_path(character) }}">{{ character.fullname }}</a><br />
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="caption">
                            <th colspan="2">Statistiques</th>
                        </tr>
                        <tr>
                            <th>Première utilisation</th>
                            <td><a href="{{ get_case_path(gadget.firstUse) }}">{{ gadget.firstUse.displayName('long') }}</a></td>
                        </tr>
                        <tr>
                            <th>Utilisations</th>
                            <td><a href="{{ path('gadget_uses', {'id': gadget.id}) }}">{{ gadget.cases|length }}</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('gadgets') }}">Revenir à la liste des gadgets</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
