{% extends "base.html.twig" %}

{% block title %}Gadgets{% endblock %}
{% block content %}
    <p>Les gadgets sont principalement des outils inventés par le professeur Agasa pour aider Conan ou/et les Détectives Junior à résoudre les affaires, ou des outils utilisés par Kaitō Kid. On ne sait pas qui est l’auteur des gadgets de Kaitō Kid mais l’épisode 2 de Magic Kaito 1412 laisse penser qu’il s’agit du professeur Agasa en montrant une voiture jaune.</p>
    <hr />
    {% for character, gadgets in gadgets %}
        <h3>{{ character }}</h3>
        <div class="table-responsive table-gadgets">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Utilisé par</th>
                        <th class="text-center">Première utilisation</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gadget in gadgets %}
                        <tr id="g{{ gadget.id }}">
                            <td class="align-middle text-center p-0"><img alt="" src="{{ asset('/img/gadget/' ~ gadget.id ~ '_60px.jpg') }}" height="60" width="60" /></td>
                            <td class="align-middle text-center"><a href="{{ get_gadget_path(gadget) }}">{{ gadget.displayName }}</a> <a href="{{ path('admin_submission_edit', {'section': 'gadgets', 'id': gadget.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td class="align-middle text-center">
                                {% if gadget.usedBy|length %}
                                    {% for character in gadget.usedBy %}
                                        <a href="{{ get_character_path(character) }}">{{ character.fullname }}</a><br />
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td class="align-middle text-center"><a href="{{ get_case_path(gadget.firstUse) }}">{{ gadget.firstUse.displayName('long') }}</a></td>
                            <td class="align-middle markdown">{{ gadget.shortdesc|markdown_to_html }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'gadgets'}) }}" class="btn btn-primary">Ajouter un gadget</a></p>
{% endblock %}
