{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock %}
{% block content %}
    <div class="alert alert-warning">Cet article contient des révélations importantes sur les identités secrètes et les intentions de certains personnages. Ces informations te seront probablement divulgâchées si tu n’as pas lu tous les chapitres publiés à ce jour.</div>
    <div class="row">
        <div class="col-lg-6 text-center"><img class="img-fluid" alt="" src="{{ asset('/img/character/all.jpg') }}" /></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    {% import 'helper/menu-links.html.twig' as menus %}
                    {{ menus.menu_links(menu_items, 0) }}
                </div>
            </div>
        </div>
    </div>
    <hr />
    {% for char_cat in char_categories %}
        {% set level = 5 %}
        {% if char_cat.parent is null %}
            {% set level = 3 %}
        {% elseif char_cat.parent.parent is null %}
            {% set level = 4 %}
        {% endif %}
        <h{{ level }} id="cat{{ char_cat.id }}">{{ char_cat.name }}</h{{ level }}>
        {% if char_cat.characters|length %}
            <div class="table-responsive">
                <table class="table table-characters">
                    <thead>
                        <tr>
                            <th class="text-center">Image</th>
                            <th class="text-center">Nom</th>
                            <th>Rôle dans la série</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for character in char_cat.characters %}
                            <tr id="{{ character.shortname }}">
                                <td class="text-center align-middle p-0"><img alt="" src="{{ asset('/img/character/' ~ character.shortname ~ '_60px.jpg') }}" height="60" width="60" /></td>
                                <td class="text-center align-middle"><a href="{{ get_character_path(character) }}">{% include "helper/character-fullname.html.twig" with { 'character': character, 'newline': true } only %}</a> <a href="{{ path('admin_submission_edit', {'section': 'characters', 'id': character.id}) }}"><i class="far fa-edit"></i></a></td>
                                <td class="align-middle markdown">{{ character.shortdesc|markdown_to_html }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <hr />
    {% endfor %}
    <p class="text-center"><a href="{{ path('admin_submission_add', {'section': 'characters'}) }}" class="btn btn-primary">Ajouter un personnage</a></p>
{% endblock %}
