{% extends "base.html.twig" %}

{% block title %}L’Organisation Noire{% endblock %}
{% block content %}
    <div class="alert alert-warning">Cet article contient des révélations importantes sur les identités secrètes et les intentions de certains personnages. Ces informations te seront probablement divulgâchées si tu n’as pas lu tous les chapitres publiés à ce jour.</div>
    <div class="row">
        <div class="col-lg-7"><p>L’<strong>Organisation Noire</strong>, ou Organisation des Membres en Noir joue le rôle d’antagoniste dans la série Détective Conan. C’est une organisation secrète existant depuis plus d’un demi-siècle, qui commet toute sorte de crimes pour différentes raisons qui varient du chantage au vol en passant par les assassinats. Ses membres possèdent des noms de code basés sur des noms d’alcool. Le véritable nom de l’Organisation est inconnu. Les premiers membres qui apparaissent sont Gin et Vodka, responsables de la transformation de Shin’ichi Kudō.</p></div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header"><h5 class="card-title text-center mb-0">Sommaire</h5></div>
                <div class="card-body">
                    <ul>
                        <li><a href="#structure">Structure</a></li>
                        <li><a href="#objectives">Objectifs</a>
                            <ul>
                                <li><a href="#objectives_aptx">Apotoxine 4869</a></li>
                                <li><a href="#objectives_computer">R&amp;D informatique</a></li>
                                <li><a href="#objectives_speculations">Spéculations</a>
                                    <ul>
                                        <li><a href="#objectives_speculations_quotes">Citations</a></li>
                                        <li><a href="#objectives_speculations_immortality">Immortalité/anti-vieillissement</a></li>
                                        <li><a href="#objectives_speculations_dead">Réssurection des morts</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#boss">Chef</a>
                            <ul>
                                <li><a href="#boss_known">Informations connues</a></li>
                                <li><a href="#boss_excluded">Personnages exclus</a></li>
                                <li><a href="#boss_speculations">Spéculations</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3 id="structure">Structure</h3>

    <div class="table-responsive">
        <table class="table table-bordered table_org table-org-chief mb-0">
            <tr><th class="text-center align-middle text-white">Chef</th></tr>
            <tr>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Renya_Karasuma_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Renya_Karasuma'}) }}">Ren’ya Karasuma</a></figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table_org table-org-second mb-0">
            <tr><th class="text-center align-middle text-white">Bras droit</th></tr>
            <tr>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Kanenori_Wakita_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Rum'}) }}">Rum</a></figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table_org table-org-general-oversight mb-0">
            <tr><th class="text-center align-middle text-white" colspan="2">Surveillance générale</th></tr>
            <tr>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Gin_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Gin'}) }}">Gin</a></figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Vodka_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Vodka'}) }}">Vodka</a></figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table_org table-org-divisions text-break">
            <tr class="text-white">
                <th class="text-center align-middle org-internal-division">Division interne</th>
                <th class="text-center align-middle org-external-division" colspan="5">Division externe</th>
                <th class="text-center align-middle org-unknown-division">Inconnue</th>
            </tr>
            <tr>
                <th class="text-center align-middle" rowspan="2">R&amp;D médicinale</th>
                <th class="text-center align-middle" rowspan="2">R&amp;D logicielle</th>
                <th class="text-center align-middle" rowspan="2">Reconnaissance</th>
                <th class="text-center align-middle" colspan="2">Opérations</th>
                <th class="text-center align-middle" rowspan="2">Financement</th>
                <th class="text-center align-middle" rowspan="2">Inconnu</th>
            </tr>
            <tr>
                <th class="text-center align-middle">Assassinats</th>
                <th class="text-center align-middle">Vols</th>
            </tr>
            <tr>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Shiho_Miyano_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Shiho_Miyano'}) }}">Sherry</a><br />(en fuite)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Atsushi_Miyano_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Atsushi_Miyano'}) }}">Atsushi Miyano</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Elena_Miyano_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Elena_Miyano'}) }}">Elena Miyano</a><br />(décédée)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Generic_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Generic'}) }}">Generic</a>*<br />(ancien membre)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Barbe_Noire_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Barbe_Noire'}) }}">Barbe Noire</a>*<br />(décédé)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Tequila_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Tequila'}) }}">Tequila</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Yoshiaki_Hara_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Yoshiaki_Hara'}) }}">Yoshiaki Hara</a><br />(décédé)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Vermouth_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Vermouth'}) }}">Vermouth</a><br />&nbsp;</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Hidemi_Hondo_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Hidemi_Hondo'}) }}">Kir</a><br />(incertae sedis)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Rei_Furuya_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Rei_Furuya'}) }}">Bourbon</a><br />&nbsp;</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Rikumichi_Kusuda_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Rikumichi_Kusuda'}) }}">Rikumichi Kusuda</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Irish_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Irish'}) }}">Irish</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Masaaki_Okakura_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Masaaki_Okakura'}) }}">Masaaki Okakura</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Rum_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Curacao'}) }}">Curaçao</a><br />(décédée)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Chianti_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Chianti'}) }}">Chianti</a><br />&nbsp;</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Korn_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Korn'}) }}">Korn</a><br />&nbsp;</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Kiichiro_Numabuchi_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Kiichiro_Numabuchi'}) }}">Ki’ichirō Numabuchi</a><br />(arrêté)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Calvados_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Calvados'}) }}">Calvados</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Arrack_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Arrack'}) }}">Arrack</a>*<br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Kate_Lauren_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Kate_Lauren'}) }}">Kate Lauren</a>*<br />(décédée)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Akemi_Miyano_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Akemi_Miyano'}) }}">Akemi Miyano</a><br />(décédée)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Kenzo_Masuyama_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Kenzo_Masuyama'}) }}">Pisco</a><br />(décédé)</figcaption>
                    </figure>
                </td>
                <td class="text-center">
                    <figure class="figure">
                        <img src="{{ asset('/img/character/Shuichi_Akai_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Shuichi_Akai'}) }}">Rye</a><br />(ancien membre)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Ethan_Hondo_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Ethan_Hondo'}) }}">Ethan Hondō</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Hiromitsu_Morofushi_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Scotch'}) }}">Scotch</a><br />(décédé)</figcaption>
                    </figure>
                    <br />

                    <figure class="figure">
                        <img src="{{ asset('/img/character/Antonio_Gomez_60px.jpg') }}" alt="" width="60" height="60" />
                        <figcaption class="figure-caption"><a href="{{ path('character_view', {'shortname': 'Antonio_Gomez'}) }}">Antonio Gomez</a>*<br />(décédé)</figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>
    <p>
        <strong>*</strong> <em>Ces personnages ne sont pas considérés comme canon.</em>
    </p>
    <hr />

    <h3 id="objectives">Objectifs</h3>
    <h4 id="objectives_aptx">Apotoxine 4869</h4>
    <p><em>À venir</em></p>
    <hr />
    <h4 id="objectives_computer">R&amp;D informatique</h4>
    <p><em>À venir</em></p>
    <hr />
    <h4 id="objectives_speculations">Spéculations</h4>
    <h5 id="objectives_speculations_quotes">Citations</h5>
    <p><em>À venir</em></p>
    <hr />
    <h5 id="objectives_speculations_immortality">Immortalité/anti-vieillissement</h5>
    <p><em>À venir</em></p>
    <hr />
    <h5 id="objectives_speculations_dead">Réssurection des morts</h5>
    <p><em>À venir</em></p>
    <hr />

    <h3 id="boss">Chef</h3>
    <h4 id="boss_known">Informations connues</h4>
    <ul>
        <li>Le chef utilise les premières notes de la chanson Nanatsu no Ko pour encoder son adresse mail. Le numéro est #969#6261. Contrairement aux numéros de téléphone, les adresses mail n’ont pas de code de zone. Dans le chapitre 466, Ai Haibara réagit en entendant le mot Kurayoshi – le nom d’une ville dans la province de Tottori, mais Gōshō Aoyama a confirmé que Tottori et l’Organisation n’ont pas de liens dans une interview en 2014, dans le Détective Conan Super Digest Book 60+.</li>
        <li>Iel utilise des noms d’alcools pour les noms de ses agents.</li>
        <li>Le chef est très prudent. Vermouth dit dans le chapitre 704 que «&#8239;Le chef est toujours prudent à l’extrême. Iel est du genre à foirer un plan en y réflechissant trop.&#8239;».</li>
        <li>Vermouth est la préférée du chef pour une raison inconnue et lui accorde un degré d’indépendance plus important (chapitre 429). Il est sous-entendu qu’ils ont une relation spéciale entre eux, inconnue de la plupart des membres de l’Organisation (chapitre 898).</li>
        <li>Le chef pensait que Shūichi Akai pouvait devenir la balle d’argent de l’Organisation (chapitre 434). À cet égard, iel ressemble plus à Vermouth que Gin qui ne croit pas en l’existence d’une personne capable de détruire d’un coup l’Organisation.</li>
        <li>Gōshō Aoyama a révélé que le nom complet du chef de l’Organisation est apparu à un moment dans le manga.</li>
    </ul>
    <hr />

    <h4 id="boss_excluded">Personnages exclus</h4>
    <p>Gōshō Aoyama a révélé que les personnages suivants ne sont pas le chef de l’Organisation&#8239;:</p>

    <div class="table-responsive">
        <table class="table table-characters">
            <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Nom</th>
                    <th>Raison</th>
                </tr>
            </thead>
            <tbody>
                {% set characters =  [
                {'shortname': 'Shinichi_Kudo',
                    'fullname': 'Shin’ichi Kudō',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 80+.'},
                {'shortname': 'Conan_Edogawa',
                    'fullname': 'Conan Edogawa',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 70+.'},
                {'shortname': 'Ran_Mori',
                    'fullname': 'Ran Mōri',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 70+.'},
                {'shortname': 'Ayumi_Yoshida',
                    'fullname': 'Ayumi Yoshida',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Mitsuhiko_Tsuburaya',
                    'fullname': 'Mitsuhiko Tsuburaya',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Genta_Kojima',
                    'fullname': 'Genta Kojima',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Ai_Haibara',
                    'fullname': 'Ai Haibara',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Hiroshi_Agasa',
                    'fullname': 'Hiroshi Agasa',
                    'reason': 'Révélé lors du Parlons avec Gōshō-sensei DAY de 2014.'},
                {'shortname': 'Sonoko_Suzuki',
                    'fullname': 'Sonoko Suzuki',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Eri_Kisaki',
                    'fullname': 'Eri Kisaki',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 50+. Eri Kisaki n’a aucun lien avec l’Organisation.'},
                {'shortname': 'Yusaku_Kudo',
                    'fullname': 'Yusakū Kudō',
                    'reason': 'Révélé dans un numéro de mai.'},
                {'shortname': 'Fusae_Campbell',
                    'fullname': 'Fusae Campbell',
                    'reason': 'Dans un journal mensuel de Conan. Traduction non vérifiée.'},
                {'shortname': 'Ninzaburo_Shiratori',
                    'fullname': 'Ninzaburō Shiratori',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 70+.'},
                {'shortname': 'James_Black',
                    'fullname': 'James Black',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Gin',
                    'fullname': 'Gin',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Vermouth',
                    'fullname': 'Vermouth',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 70+.'},
                {'shortname': 'Samizu_Kichiemon',
                    'fullname': 'Samizu Kichiemon',
                    'reason': 'Révélé dans des réponses à des questions de fans sous forme de cartes postales.'},
                {'shortname': 'Gosho_Aoyama',
                    'fullname': 'Gōshō Aoyama',
                    'reason': 'Révélé dans un entretien publié dans le Super Digest Book 80+.'}
            ] %}
                {% for char in characters %}
                    <tr id="{{ char.shortname }}">
                        <td class="text-center align-middle p-0"><img alt="" src="{{ asset('/img/character/' ~ char.shortname ~ '_60px.jpg') }}" height="60" width="60" /></td>
                        <td class="text-center align-middle"><a href="{% if char.shortname != 'Gosho_Aoyama' %}{{ path('character_view', {'shortname': char.shortname}) }}{% else %}{{ path('author') }}{% endif %}">{{ char.fullname }}</a></td>
                        <td class="align-middle">{{ char.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />

    <h4 id="boss_speculations">Spéculations</h4>
    <p>Compte tenu des informations que l’on connaît sur le chef de l’Organisation, notamment son aspect consciencieux, il est peu probable que Conan, et en particulier Haibara, ait un jour approché de près le chef de l’Organisation, ce dernier aurait alors manqué de tact. Les personnages les plus suspicieux sur les forums de discussion correspondants à ces critères sont souvent ceux-ci&#8239;:</p>

    <div class="table-responsive">
        <table class="table table-characters">
            <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Nom</th>
                    <th>Raison</th>
                </tr>
            </thead>
            <tbody>
                <tr id="Renya_Karasuma">
                    <td class="text-center p-0"><img alt="" src="{{ asset('/img/character/Renya_Karasuma_60px.jpg') }}" height="60" width="60" /></td>
                    <td class="text-center"><a href="{{ path('character_view', {'shortname': 'Renya_Karasuma'}) }}">Ren’ya Karasuma</a></td>
                    <td><p>Ren’ya Karasuma est un personnage évoqué dans l’affaire 86, très précisément dans le chapitre 300 du manga. Cette affaire voit un groupe de sept détectives se réunir dans l’ancien manoir abandonné de la famille Karasuma, où un drame s’est déroulé en ces lieux 40 ans plus tôt.</p>

                        <p>Ren’ya Karasuma était un milliardaire fortuné, âgé de 99 ans, mégalomane, cupide et obsédé par l’idée de sa mort prochaine. Karasuma décède dans des circonstances mystérieuses 50 ans avant l’intrigue principale. 10 ans après sa mort, une vente aux enchères est organisée dans son manoir pour vendre ses biens de valeur. Des hommes politiques influents et peu fréquentables et des gens de la mafia étaient présents. Là-dessus, deux individus trempés par la pluie arrivent au manoir et offrent de la marijuana aux invités en échange d’un abri contre la pluie. Dans un état second, les invités commencent à avoir des hallucinations démoniaques et à s’entretuer provoquant un massacre d’une grande horreur et laissant derrière eux un spectacle sinistre s’apparentant à une vision de l’enfer. Les deux hommes se sont avérés en avoir après les objets de valeur et ont profité de la confusion pour s’enfuir avec. La police n’a jamais élucidé cette affaire, du fait de l’importance des victimes et des suspects potentiels dans ces meurtres.</p>

                        <p>Conan découvre sur la fin que, de son vivant, Karasuma avait engagé des archéologues pour rechercher le trésor de son manoir. Il prévoyait depuis le début de les assassiner une fois le trésor trouvé mais, perdant patience et sentant la fin de sa vie approcher, les a fait assassiner quand même, de peur qu’un autre que lui ne trouve le trésor après sa mort, et ne laisse ainsi aucun témoin.</p>

                        <p>Les événements concernant Ren’ya Karasuma sont et restent mystérieux, et pour la première fois, Conan ne parvient pas à résoudre cette affaire. Les éléments qui permettent de supposer que Karasuma est le chef de l’Organisation sont&#8239;:</p>

                        <ul>
                            <li>L’emblème de Ren’ya Karasuma est le corbeau. Or, l’Organisation semble avoir un lien plus ou moins étroit avec cet animal. Akemi Miyano déclare avant de mourir que l’Organisation se vêtit de noir car c’est la couleur du corbeau. Le numéro du chef produit les notes de la chanson Nanatsu no Ko, qui évoque des corbeaux, plus précisément une mère corbeau qui pleure car elle a perdu ses sept enfants.</li>
                            <li>Ren’ya Karasuma est censé avoir perdu la vie 50 ans avant l’intrigue principale, Ai Haibara déclare que Shin’ichi Kudō est profondément impliqué dans le projet qu’élabore l’Organisation depuis un demi-siècle.</li>
                            <li>’ Karasuma est représenté par une figure noire avec un corbeau sur son épaule. Si Karasuma était un simple protagoniste sans importance, il serait étrange de dissimuler son apparence au lecteur.</li>
                            <li>Selon Gōshō Aoyama, si le nom réel de l’Organisation était connu, nous connaîtrions l’identité du chef. Karasu signifie corbeau en japonais, Karasuma peut se traduire par «&#8239;association de corbeaux&#8239;», on peut donc supposer que l'Organisation est donc cette association de corbeaux.</li>
                        </ul>

                        <p>On peut maintenant faire des suppositions. Et si le <em>vrai</em> trésor de Ren’ya Karasuma était en fait la vie éternelle&#8239;? On peut alors supposer qu’il a dissimulé sa mort, est toujours vivant et qu’il se débarasse de quiconque tente d’accéder à son trésor. Ce serait alors lui et Vermouth en couple (vu qu’elle est impliquée dans le projet de vie éternelle dûe à sa jeunesse, et qu’elle possède un mari décédé) qui auraient tué les invités venus chercher son trésor. De même, le père de Furuyo Senma est mort mystérieusement en tentant d’enquêter sur les secrets de Ren’ya Karasuma…</p>

                        <p>On note également que peu de membres sont au courant du projet de l’Organisation (voir section Objectifs de l’Organisation), Gin ayant utilisé l’APTX sur Shin’ichi sans vraiment savoir ce qu’il faisait. De même, Vermouth cherche particulièrement à cacher à l’Organisation l’identité de Conan et Haibara, confortant l’idée du secret de Karasuma…</p>
                    </td>
                </tr>
                <tr id="Goro">
                    <td class="text-center p-0"><img alt="" src="{{ asset('/img/character/Goro_60px.jpg') }}" height="60" width="60" /></td>
                    <td class="text-center"><a href="{{ path('character_view', {'shortname': 'Goro'}) }}">Gorō</a></td>
                    <td><p>Les faits sont&#8239;:</p>
                        <ul>
                            <li>Eri n’a jamais eu de chats avant qu’on lui donne.</li>
                            <li>Gorō est apparu peu de temps après l’affaire de Kir.</li>
                            <li>Kogorō est devenu suspect dans cette affaire.</li>
                        </ul>
                        <p>En recoupant ces trois points, on peut supposer que le chef a décidé d’enquêter par lui-même sur l’accident de Kir. Il aurait empoisonné le précédent chat d’Eri pour prendre sa place, son objectif étant d’espionner Kogorō sans trop attirer l’attention. Le précédent chat d’Eri ne s’est jamais montré car il n’enquêtait pas sur Kogorō.</p>

                        <p>Avec la mélodie Nanatsu no Ko, le chiffre 7 semble associé au chef de l’Organisation, comme les sept vies supposées d’un chat… qui seraient elles-mêmes un clin d’œil à l’objectif d’immortalité de l’Organisation.</p>

                        <p>Lorsque le professeur Agasa continue sa lecture du journal d’Itakura, il ne trouve rien d’intéressant mais tient quand même à relever un point particulier&#8239;: la femme au téléphone, parlant de ressusciter les morts contre le cours du temps, raccroche après qu’un chat se soit montré bruyant. Agasa pense que la femme déteste les chats et Conan que le chat la dérangeait, mais et si le chat était en réalité le chef qui l’appelait&#8239;?</p>

                        <p>Dernier indice, les logos de la Gōshō Aoyama Manga Factory représentent Gorō sur les épaules de Gōshō Aoyama, un indice laissé par l’auteur lui-même…</p>

                        <p><img src="{{ asset('/img/miscellaneous/aoyama.jpg') }}" alt="" /><img src="{{ asset('/img/miscellaneous/gosho.jpg') }}" alt="" /></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
