{% extends "base.html.twig" %}

{% block title %}Relations entre les personnages{% endblock %}
{% block content %}
    <figure class="figure">
        <img class="img-fluid" src="{{ asset('/img/character/relationships.jpg') }}" alt="" />
        <figcaption class="figure-caption text-center">Crédit&#8239;: Kana (<a href="https://www.kana.fr/detective-conan-tout-ce-quil-faut-savoir/" rel="nofollow, noreferrer">source</a>)</figcaption>
    </figure>

    <h2>Couples</h2>
    <p>Même si la romance n’est pas le thème principal de la série, il est inévitable que <a href="{{ path('author') }}">Gōshō Aoyama</a> a mis en place des relations entre certains personnages, qui ne relèvent pas de la simple amitié. Ainsi, sur cette page, pour chaque couple, tu pourras suivre une chronologie de l’évolution de la relation au cours de la série.</p>
    <hr />

    <h3 id="Couple_Wataru_Takagi_Miwako_Sato">Couple Wataru Takagi/Miwako Satō</h3>
    <p>Miwako Satō est une femme, officier de police à Tōkyō. Pour une certaine raison, tous les policiers rêveraient de se marier avec elle ! Les meilleurs concurrents pour elle sont <strong>Takagi</strong> et <strong>Shiratori</strong>. Shiratori est un inspecteur de police alors que Takagi est juste un officier. L’officier que Satō semble aimer est Takagi. Cependant, Satō ne semble pas vouloir se marier à quelqu’un, surtout une personne de la police, parce que son père et le premier homme qu’elle a aimé étaient des officiers de police, et tous les deux sont morts dans l’exercice de leurs fonctions.</p>

    <div class="table-responsive">
        <table class="table table-relationships">
            <thead>
                <tr>
                    <th class="text-center">Épisode(s)</th>
                    <th>Titre</th>
                    <th>Résumé</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="ep130-131" class="text-center">130 - 131</td>
                    <td><strong>Menace de meurtre aveugle au stade</strong></td>
                    <td>Première apparition de Satō.</td>
                </tr>
                <tr>
                    <td id="ep146-147" class="text-center">146 - 147</td>
                    <td><strong>L’histoire d’amour d’un détective I</strong></td>
                    <td><strong>Yumi Miyamoto</strong> de la section circulation de la police, raconte à Takagi qu’elle a fait boire Satō la nuit dernière et qu’elle lui a révélé qu’elle aimait un officier de la police dans la division n° 1. Plus tard, Shiratori est présenté lors d’une affaire, et Takagi commence à penser que c’est Shiratori que Satō aime. À la fin, Takagi découvre que celui que Satō aime est l’inspecteur Megure.</td>
                </tr>
                <tr>
                    <td id="ep156-157" class="text-center">156 - 157</td>
                    <td><strong>L’histoire d’amour d’un détective II</strong></td>
                    <td>Satō reste coincée dans un immeuble, avec un fugitif. Ce dernier affirme à Satō qu’il est innocent et qu’il n’a rien à voir avec le meurtre pour lequel on l’accuse. Satō demande à Takagi d’enquêter plus sur cette affaire, et de trouver la preuve de l’innocence de cet homme. Quand Takagi arrive finalement à attraper le vrai meurtrier, il apprend que l’immeuble où il a laissé Satō, doit être détruit.</td>
                </tr>
                <tr>
                    <td id="ep205-206" class="text-center">205 - 206</td>
                    <td><strong>L’histoire d’amour d’un détective III</strong></td>
                    <td>L’histoire du père de Satō est révélée dans cette affaire. Son père a été tué dans un accident alors qu’il escortait un criminel. Le criminel s’est enfui et personne n’a pu dire de qui il s’agissait.</td>
                </tr>
                <tr>
                    <td id="ep253-254" class="text-center">253 - 254</td>
                    <td><strong>L’histoire d’amour d’un détective IV</strong></td>
                    <td>S’inquiétant pour l’avenir de Satō, la mère de celle-ci insiste pour qu’elle choisisse un mari à partir d’une pile de photos des personnes qui ont demandé à se marier avec elle. Satō choisit une des images au hasard, et il se trouve que ça tombe sur Shiratori.</td>
                </tr>
                <tr class="table-primary">
                    <td id="ep304" class="text-center">304</td>
                    <td><strong>Le QG de la Police Métropolitaine tremble ! - Les 12 millions d’otage</strong></td>
                    <td>Dans cette affaire, l’histoire du premier amour de Satō est révélée. Matsuda était un officier qui travaillait avec Satō. Il est mort d’une bombe installée par un terroriste sur une grande roue. Dans cet épisode, le terroriste en question signale au commissariat par fax qu’il va poser des bombes, une nouvelle fois.</td>
                </tr>
                <tr>
                    <td id="ep358-359" class="text-center">358 - 359</td>
                    <td><strong>L’histoire d’amour d’un détective V</strong></td>
                    <td>Satō se rend avec Takagi au parc d’attractions. Takagi a apporté une alliance, pour la demander en mariage, mais il n’arrive pas à saisir sa chance parce que Shiratori et d’autres officiers les dérange. Ensuite, Takagi se rend compte que quelqu’un a pris son sac qui contenait la bague de mariage, et l’a échangé avec un sac contenant de la drogue !</td>
                </tr>
                <tr>
                    <td id="ep391-392" class="text-center">391 - 392</td>
                    <td><strong>L’histoire d’amour d’un détective VI</strong></td>
                    <td>Yumi surprend une discussion entre l’inspecteur Megure et le préfet de la police, et apprend qu’il veut envoyer Takagi dans une autre division. Elle en informe les autres officiers de police.</td>
                </tr>
                <tr>
                    <td id="ep431-432" class="text-center">431 - 432</td>
                    <td><strong>L’histoire d’amour d’un détective VII</strong></td>
                    <td>Takagi et Chiba sont invités à une fête où ils rencontrent Kogorō, Ran et Conan. Un de leurs amis a aussi invité deux femmes qui se trouvent être Yumi et Satō. Après une partie de la fête, ces derniers devront enquêter sur une affaire d’enlèvement.</td>
                </tr>
                <tr class="table-primary">
                    <td id="ep449" class="text-center">449</td>
                    <td><strong>L’histoire d’amour d’un détective - Le faux mariage</strong></td>
                    <td>Satō et Takagi enquêtent sur une affaire mêlant un couple ressemblant beaucoup à Takagi et Yumi. C’est pour cette raison que Yumi et Takagi mettent des vêtements de mariage pour empêcher le vrai couple d’être tué.</td>
                </tr>
                <tr class="table-primary">
                    <td id="ep449" class="text-center">487</td>
                    <td><strong>L’histoire d’amour d’un détective - L’anneau de la main gauche</strong></td>
                    <td>Les policiers découvrent que Satō porte un anneau à la main gauche, ce qui signifie qu’elle est fiancée. Au début, ils pensaient que c’était Takagi qui lui avait offert, mais il se trouve qu’il n’a rien à voir là-dedans. Plus tard, ils apprennent que Satō ne savaient pas que les personnes fiancées portaient un anneau à la main gauche, et que cet anneau n’était qu’un simple talisman.</td>
                </tr>
                <tr>
                    <td id="ep530-531" class="text-center">530 - 531</td>
                    <td><strong>Ce que Cache la Légende Urbaine</strong></td>
                    <td>Lors d’une opération de surveillance avec Takagi, Satō lui demande brusquement de l’embrasser pour distraire l’attention du coupable. Plus tard, Chiba apprend à Takagi que Satō a souvent l’habitude de faire ça pendant les opérations de surveillance. Au final, elle l’a embrassé une fois.</td>
                </tr>
                <tr>
                    <td id="ep532-535" class="text-center">532 - 535</td>
                    <td><strong>La Cicatrice du Premier Amour</strong></td>
                    <td>Alors qu’ils enquêtent sur un tueur en série, Takagi est blessé par ce dernier au cours de la mission. Il est transféré à l’hôpital.</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}