{% extends "base.html.twig" %}

{% block title %}{{ character }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <h3>{{ character }}</h3>

            {{ character.shortdesc|markdown_to_html }}
            <hr />

            {{ character.desc|markdown_to_html }}
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="table-responsive">
                <table class="table profile_table character">
                    <thead>
                        <tr class="caption">
                            <th colspan="2">{{ character }} <a href="{{ path('admin_submission_edit', {'section': 'characters', 'id': character.id}) }}"><i class="far fa-edit text-white"></i></a></th>
                        </tr>
                        <tr>
                            <th class="p-0 text-center" colspan="2">
                                <a href="{{ asset('/img/character/' ~ character.shortname ~ '.jpg') }}">
                                    <img class="img-fluid" src="{{ asset('/img/character/' ~ character.shortname ~ '.jpg') }}" alt="" />
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="caption">
                            <th colspan="2">Profil</th>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ character.lastname }}{% if character.firstname is not null and character.firstname is not empty %} {{ character.firstname }}{% endif %}</td>
                        </tr>
                        {% if character.aliases is not null and character.aliases is not empty %}
                            <tr>
                                <th>Alias</th>
                                <td>{{ character.aliases }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Genre</th>
                            <td>{{ genders[character.gender] }}</td>
                        </tr>
                        {% if character.age is not null and character.age is not empty and character.age != 0 %}
                            <tr>
                                <th>Âge</th>
                                <td>{{ character.age }} an{% if character.age > 1 %}s{% endif %}</td>
                            </tr>
                        {% endif %}
                        {% if character.height is not null and character.height is not empty and character.height != 0 %}
                            <tr>
                                <th>Taille</th>
                                <td>{{ character.height }} cm</td>
                            </tr>
                        {% endif %}
                        {% if character.weight is not null and character.weight is not empty and character.weight != 0 %}
                            <tr>
                                <th>Poids</th>
                                <td>{{ character.weight }} kg</td>
                            </tr>
                        {% endif %}
                        {% if character.occupation is not null and character.occupation is not empty %}
                            <tr>
                                <th>Métier</th>
                                <td>{{ character.occupation }}</td>
                            </tr>
                        {% endif %}
                        <tr class="caption">
                            <th colspan="2">Statistiques</th>
                        </tr>
                        <tr>
                            <th>Première apparition</th>
                            <td>{% if character.firstAppearance is not null %}<a href="{{ get_case_path(character.firstAppearance) }}">{{ character.firstAppearance.displayName('long') }}</a>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Apparitions</th>
                            <td><a href="{{ path('character_appearances', {'shortname': character.shortname}) }}">{{ character.cases|length }}</a></td>
                        </tr>
                        <tr class="caption">
                            <th colspan="2">Acteurs</th>
                        </tr>
                        <tr>
                            <th>Voix japonaise</th>
                            <td>{{ character.voiceJp }}</td>
                        </tr>
                        {% if character.voiceFr is not null and character.voiceFr is not empty %}
                        <tr>
                            <th>Voix française</th>
                            <td>{{ character.voiceFr }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-center"><a href="{{ path('characters') }}">Revenir à la liste des personnages</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
