{% extends "base.html.twig" %}

{% block title %}Erreur {{ status_code }}{% endblock %}
{% block content %}
    <p>Une erreur générique s’est produite. Va manger quelques cookies le temps que nous réglions ça, ou tente de retourner <a href="{{ path('homepage') }}">à la page d’accueil</a>.</p>
{% endblock %}