{% extends "base.html.twig" %}

{% block title %}Erreur 403 — Accès refusé{% endblock %}
{% block content %}
    <p>Accès refusé. Si tu penses que c’est une erreur, vérifie que tu es connecté ou retourne <a href="{{ path('homepage') }}">à la page d’accueil</a>.</p>
{% endblock %}