{% extends "base.html.twig" %}

{% block title %}Erreur 404 — Page non trouvée{% endblock %}
{% block content %}
    <p>La ressource demandée n’a pu être trouvée. Vérifie l’URL ou retourne <a href="{{ path('homepage') }}">à la page d’accueil</a>.</p>
{% endblock %}