{% extends 'base.html.twig' %}

{% block title %}Modification des termes et conditions{% endblock %}

{% block content %}
    {% if app.user %}
        {% if app.user.acceptedCla < latest_cla or app.user.acceptedPrivacy < latest_privacy %}
            <p>Depuis ta dernière connexion, {% if app.user.acceptedCla < latest_cla %}l’accord de licence de contributeur{% endif %}{% if app.user.acceptedPrivacy < latest_privacy %}{% if app.user.acceptedCla < latest_cla %} et {% endif %}la politique de confidentialité{% endif %} {% if app.user.acceptedCla < latest_cla and app.user.acceptedPrivacy < latest_privacy %}ont été modifiés{% else %}a été modifié{% if app.user.acceptedPrivacy < latest_privacy %}e{% endif %}{% endif %}.</p>
            <p>Merci de bien vouloir accepter la dernière version en date pour continuer ta visite sur le site.</p>
            <p>Si tu rencontres des problèmes pour valider, merci de te déconnecter et de le signaler par le formulaire de contact.</p>
        {% endif %}
        <form method="post">
            <div class="checkbox">
                <label for="accepted_privacy">
                    <input required id="accepted_privacy" name="accepted_privacy" type="checkbox"{% if app.user.acceptedPrivacy == latest_privacy %} checked{% endif %} value="{{ latest_privacy }}" />
                    J’accepte la <a href="{{ path('privacy') }}">politique de confidentialité</a>.
                </label>
            </div>
            <div class="checkbox">
                <label for="accepted_cla">
                    <input required id="accepted_cla" name="accepted_cla" type="checkbox"{% if app.user.acceptedCla == latest_cla %} checked{% endif %} value="{{ latest_cla }}" />
                    J’accepte l’<a href="{{ path('cla') }}">accord de licence de contributeur</a>.
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="Valider" />
        </form>
    {% else %}
        <p>Une erreur s’est produite.</p>
    {% endif %}
{% endblock %}
