{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group mt-0 border px-3 pb-3">
                <legend class="col-form-label w-auto font-weight-bold">Modifier mon adresse de courriel</legend>

                {{ form_start(emailForm) }}
                    <label for="email">Adresse de courriel actuelle :</label>
                    <strong>{{ app.user.email }}</strong>
                    {{ form_row(emailForm.pendingEmail) }}

                    <div class="alert alert-warning">Il sera nécessaire de valider ta nouvelle adresse en cliquant sur le lien qui te sera envoyé.</div>
                    <input type="submit" class="btn btn-primary" value="Modifier mon adresse de courriel" />
                {{ form_end(emailForm) }}
            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group mt-0 border px-3 pb-3">
                <legend class="col-form-label w-auto font-weight-bold">Modifier mon mot de passe</legend>

                {{ form_start(passwordForm) }}
                    {{ form_row(passwordForm.oldPassword) }}
                    {{ form_row(passwordForm.plainPassword) }}

                    <input type="submit" class="btn btn-primary" value="Modifier mon mot de passe" />
                {{ form_end(passwordForm) }}
            </fieldset>
        </div>
    </div>
{% endblock %}