{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputUsername" class="sr-only">Utilisateur</label>
        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Utilisateur" required autofocus />
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" /> Se souvenir de moi (utilise un <em>cookie</em>)
            </label>
        </div>

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
