{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <p>L’inscription te permet de&nbsp;:</p>
        <ul>
            <li>Voir tes suggestions.</li>
            <li>Mémoriser ton choix de thème.</li>
            <li>Ne pas avoir à approuver la politique de confidentialité et l’accord de licence de contributeur à chaque suggestion (puisque tu l’acceptes au moment de ton inscription).</li>
        </ul>
        <p>L’inscription te permettra prochainement de&nbsp;:</p>
        <ul>
            <li>Modifier tes suggestions.</li>
            <li>Recevoir un courriel lorsqu’une de tes suggestions a été acceptée.</li>
        </ul>
    </div>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.content) }} {# Honeypot #}
        {{ form_row(registrationForm.acceptedPrivacy) }}
        {{ form_row(registrationForm.acceptedCla) }}

        <div class="alert alert-warning">Il sera nécessaire de valider ton compte en cliquant sur le lien qu’on enverra à l’adresse de courriel que tu as renseigné. Tout compte non validé sous 30 jours sera supprimé.</div>
        <input type="submit" class="btn btn-primary" value="S’inscrire" />
    {{ form_end(registrationForm) }}
{% endblock %}
