<p>Salut {{ user.username }},</p>

<p>Tu as demandé la modification de ton adresse de courriel.</p>

<p>Merci de bien vouloir valider cette opération en te rendant sur ce lien :</p>
<p><a href="{{ url('user_email_confirm', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}">{{ url('user_email_confirm', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}</a></p>

<p>Si tu n’es pas à l’origine de ce changement d’adresse, quelqu’un a probablement renseigné ton adresse par erreur. Tu peux suivre le lien suivant pour nous le signaler (cela retirera ton adresse de courriel de notre base de données) :</p>
<p><a href="{{ url('user_email_disprove', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}">{{ url('user_email_disprove', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}</a></p>

<p>Black Org</p>