Bonjour {{ user.username }},

Les messages suivants ont été reçus&nbsp;:

{% for message in messages %}
- #{{ message.id }} - {{ message.identity }}{% if message.email is not null and message.email is not empty %} <{{ message.email }}>{% endif %} - {{ message.subject }} - {{ message.creationDate|format_datetime('short') }}
{% endfor %}

Black Org