<p>Bonjour {{ user.username }},</p>
<p>Les messages suivants ont été reçus&nbsp;:</p>
<div style="display: block; width: 100%; overflow-x: auto">
    <table style="width: 100%; border-collapse: collapse">
        <thead>
            <tr>
                <th style="text-align: center">Réf.</th>
                <th>Objet</th>
                <th>Expéditeur</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td style="text-align: center">#{{ message.id }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.identity }}{% if message.email is not null and message.email is not empty %} &lt;{{ message.email }}&gt;{% endif %}</td>
                    <td>{{ message.creationDate|format_datetime('full') }}</td>
                </tr>
            {% else %}
                <tr><td style="text-align: center" colspan="4"><em>Pas de messages reçus</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>Black Org</p>