<p>Salut {{ user.username }},</p>

<p>Ton compte a bien été créé, bienvenue sur Black Org !</p>

{% if not user.emailConfirmed %}
    <p>Merci de bien vouloir valider ton adresse de courriel en te rendant sur ce lien :</p>
    <p><a href="{{ url('user_register_confirm', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}">{{ url('user_register_confirm', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}</a></p>
{% endif %}

<p>Si tu n’es pas à l’origine de cette inscription, quelqu’un a probablement renseigné ton adresse par erreur. Tu peux suivre le lien suivant pour nous le signaler (cela retirera ton adresse de courriel du compte créé) :</p>
<p><a href="{{ url('user_register_disprove', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}">{{ url('user_register_disprove', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}</a></p>

<p>Black Org</p>