Salut {{ user.username }},

Ton compte a bien été créé, bienvenue sur Black Org !

{% if not user.emailConfirmed %}
    Merci de bien vouloir valider ton adresse de courriel en te rendant sur ce lien :
    {{ url('user_register_confirm', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}
{% endif %}

Si tu n’es pas à l’origine de cette inscription, quelqu’un a probablement renseigné ton adresse par erreur. Tu peux suivre le lien suivant pour nous le signaler (cela retirera ton adresse de courriel du compte créé) :
{{ url('user_register_disprove', {'id': user.id, 'confirmationToken': user.confirmationToken }) }}

Black Org