Bonjour {{ user.username }},

Les suggestions suivantes sont en attente de validation :

{% for submission in submissions %}
- #{{ submission.id }} - {{ submission.type|trans }} - {% if submission.pending.current %}Modification{% else %}Ajout{% endif %} - {{ submission.pending }}
{% endfor %}

Black Org