<p>Bonjour {{ user.username }},</p>
<p>Les suggestions suivantes sont en attente de validation&nbsp;:</p>
<div style="display: block; width: 100%; overflow-x: auto">
    <table style="width: 100%; border-collapse: collapse">
        <thead>
            <tr>
                <th style="text-align: center">Réf.</th>
                <th>Type</th>
                <th>Opération</th>
                <th style="text-align: center">Identifiant</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td style="text-align: center"><a href="{{ absolute_url(path('admin_submission_view', {'id': submission.id})) }}">#{{ submission.id }}</a></td>
                    <td>{{ submission.type|trans }}</td>
                    <td>{% if submission.pending.current %}Modification{% else %}Ajout{% endif %}</td>
                    <td>{{ submission.pending }}</td>
                </tr>
            {% else %}
                <tr><td style="text-align: center" colspan="4"><em>Pas de suggestions en attente</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>Black Org</p>